<template>
  <div class="confirm-information question-page">
    <wizard-header title="Resumen" />
    <wizard-tip
      content="Verifica que toda la información brindada es correcta."
    />
    <!-- Data wrapper -->
    <div class="data">
      <p class="data__step">Información de Contacto</p>
      <p class="data__value">
        <span class="item">Correo electrónico:</span>
        <span class="item-val">{{ contact.email }}</span>
      </p>

      <p class="data__value">
        <span class="item">Teléfono de contacto:</span>
        <span class="item-val">{{ telephoneNumber }}</span>
      </p>
      <hr class="data__underline" />

      <p class="data__step">Datos Personales</p>

      <p class="data__value">
        <span class="item">Nombres:</span>
        <span class="item-val">{{ personalData.firstnames }}</span>
      </p>
      <p class="data__value">
        <span class="item">Apellidos:</span>
        <span class="item-val">{{ personalData.lastnames }}</span>
      </p>
      <p class="data__value">
        <span class="item">Género:</span>
        <span class="item-val">{{ gender }}</span>
      </p>
      <p class="data__value">
        <span class="item">Fecha de nacimiento:</span>
        <span class="item-val">{{ birthdate }}</span>
      </p>
      <p class="data__value">
        <span class="item">País de residencia:</span>
        <span class="item-val"
          >{{ countryName }}
          <span v-if="personalData.state !== ''">, {{ myState }}</span></span
        >
      </p>

      <hr class="data__underline" />

      <p class="data__step">Expectativa Salarial</p>

      <p class="data__value">
        <span class="item-val">{{ salaryRange }}</span>
      </p>
      <hr class="data__underline" />

      <p class="data__step">Educación</p>

      <template v-if="!studies.length">
        <p class="data__value">(NO HA AGREGADO ESTUDIOS)</p>
      </template>
      <template v-else>
        <ul class="data__value">
          <li v-for="study in studies" :key="study.id" class="item-val">
            * {{ study.degree }} ({{ study.studyType }})
          </li>
        </ul>
      </template>

      <p class="data__step">Idiomas</p>

      <template v-if="!myLangs.length">
        <p class="data__value">(NO HA AGREGADO IDIOMAS)</p>
      </template>
      <template v-else>
        <ul class="data__value">
          <li v-for="lang in myLangs" :key="lang.id" class="item-val">
            * {{ lang.name }} ({{ lang.level }})
          </li>
        </ul>
      </template>

      <hr class="data__underline" />

      <p class="data__step">Habilidades/conocimientos</p>

      <template v-if="!skillsValue.length">
        <p class="data__value">(NO HA AGREGADO HABILIDADES)</p>
      </template>
      <template v-else>
        <ul class="data__value">
          <li v-for="skill in skillsValue" :key="skill.id" class="item-val">
            {{ skill.skill }}
          </li>
        </ul>
      </template>

      <hr class="data__underline" />

      <p class="data__step">Experiencia Laboral</p>

      <template v-if="emptyWorkExperience">
        <p class="data__value">(NO HA AGREGADO EXPERIENCIAS LABORALES)</p>
      </template>
      <template v-else>
        <ul class="data__value">
          <li v-for="exp in workExperienceData" :key="exp.id" class="item-val">
            <span v-if="exp.to === 'Actual'">
              * {{ exp.position }} en {{ exp.company }}, desde
              {{ exp.from }} ({{ exp.to }})
            </span>
            <span v-else>
              * {{ exp.position }} en {{ exp.company }}, desde
              {{ exp.from }} hasta {{ exp.to }}
            </span>
          </li>
        </ul>
      </template>

      <hr class="data__underline" />

      <p class="data__step">Extras</p>
      <p class="data__value">
        <span class="item">Hoja de vida o CV:</span>
        <span class="item-val">{{ cv }}</span>
      </p>
      <p class="data__value">
        <span class="item">Breve descripción:</span>
        <span class="item-val">{{ desc }}</span>
      </p>
    </div>

    <hr class="data__underline" />

    <!-- Terms and conditions -->
    <div class="data text-center">
      <input
        id="termsAndConditions"
        v-model="isTermsAcepted"
        type="checkbox"
        name="termsAndConditions"
        class="rounded text-gray-500"
        :class="{
          'invalid-input': !isTermsAcepted && termsCheckError,
        }"
      />
      <label for="termsAndConditions">
        Acepta los
        <a href="/terms-of-service" target="blamk">Terminos y condiciones</a>?
      </label>
      <p
        v-if="!isTermsAcepted && termsCheckError"
        class="text-red-500 text-sm mt-2"
      >
        Debe aceptar nuestros terminos y condciones para finalizar la entrevista
      </p>
    </div>
    <hr class="data__underline" />

    <!-- Step Actions -->
    <div class="step-actions">
      <button type="button" class="step-actions__button" @click="goBack">
        Anterior
      </button>
      <button
        type="button"
        class="step-actions__button step-actions__button--reversed"
        @click="finish"
      >
        Finalizar
      </button>
    </div>
  </div>
</template>

<script>
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
export default {
  components: { wizardHeader, WizardTip },
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      contact: JSON.parse(localStorage.getItem('interviewContact')),
      personalData: JSON.parse(localStorage.getItem('interviewPersonalData')),
      salaryExpectation: JSON.parse(
        localStorage.getItem('interviewSalaryExpectation')
      ),
      studiesData: localStorage.getItem('interviewStudies'),
      skills: localStorage.getItem('interviewSkills'),
      workExperience: localStorage.getItem('interviewWorkExperience'),
      workExperienceData: null,
      extraData: localStorage.getItem('interviewExtraData'),
      salaries: [],
      studyTypes: [],
      degrees: [],
      langs: [],
      languageLevels: [],
      states: [],
      positions: [],
      myLangs: [],
      isTermsAcepted: false,
      termsCheckError: false,
    }
  },
  computed: {
    studiesDataValue() {
      return this.studiesData === 'empty'
        ? this.studiesData
        : JSON.parse(this.studiesData)
    },
    skillsValue() {
      return this.skills === 'empty' ? [] : JSON.parse(this.skills)
    },
    extraDataValue() {
      return this.extraData === 'empty'
        ? this.extraData
        : JSON.parse(this.extraData)
    },
    telephoneNumber() {
      let number = '(VACÍO)'
      if (this.contact.countryCode !== '') {
        number = `${this.getCountryCode(this.contact.countryCode)} ${
          this.contact.telephone
        }`
      }
      return number
    },
    gender() {
      switch (this.personalData.gender) {
        case 'M':
          return 'Masculino'
        case 'F':
          return 'Femenino'

        default:
          return 'Prefiero no decirlo'
      }
    },
    birthdate() {
      const bd = this.personalData.birthdate.split('-')
      return `${bd[2]}-${bd[1]}-${bd[0]}`
    },
    countryName() {
      let name = '(VACÍO)'
      if (this.personalData.country !== null) {
        name = `${this.getCountryName(this.personalData.country)}`
      }
      return name
    },
    salaryRange() {
      if (this.salaries.length > 0) {
        const salaryRange = this.salaries.find(
          (s) => s.id === this.salaryExpectation.salary
        )
        return salaryRange.range
      } else return '(VACÍO)'
    },
    emptyStudiesData() {
      return this.studiesDataValue === 'empty'
    },
    studies() {
      const studies = []
      if (!this.emptyStudiesData) {
        if (this.studyTypes.length > 0) {
          this.studiesDataValue.studies.forEach((sts) => {
            const degree = this.degrees.find((d) => d.id === sts.degree)
            const studyType = this.studyTypes.find(
              (st) => st.id === sts.studyType
            )
            const item = {
              id: sts.id,
              degree: degree.degree,
              studyType: studyType.name,
            }
            studies.push(item)
          })
        }
      }
      return studies
    },
    myState() {
      const myState = this.states.filter(
        (state) => state.id === this.personalData.state
      )
      return this.states.length ? myState[0].name : 'cargando...'
    },
    emptyWorkExperience() {
      return this.workExperienceData === 'empty'
    },
    cv() {
      let cv = '(NO HA AGREGADO CV)'
      if (this.extraDataValue !== 'empty') {
        if (this.extraDataValue.extras.cv !== null) {
          const previousFile = this.extraDataValue.extras.cv
          cv = previousFile.name
        }
      }
      return cv
    },
    desc() {
      let desc = '(NO HA AGREGADO BREVE DESCRIPCIÓN)'
      if (this.extraDataValue !== 'empty') {
        if (this.extraDataValue.extras.cv !== '') {
          desc = this.extraDataValue.extras.desc
        }
      }
      return desc
    },
  },
  async created() {
    if (localStorage.getItem('salariesArr')) {
      this.salaries = JSON.parse(localStorage.getItem('salariesArr'))
    } else {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/salary-expectation/get-data`
        )
        .then((res) => {
          this.salaries = res.salaries
          localStorage.setItem('salariesArr', JSON.stringify(res.salaries))
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    }
    if (
      !localStorage.getItem('studyTypesArr') ||
      !localStorage.getItem('degreesArr') ||
      !localStorage.getItem('languagesArr') ||
      !localStorage.getItem('languageLevelsArr') ||
      !localStorage.getItem('countriesArr')
    ) {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/studies/get-data`
        )
        .then((res) => {
          this.studyTypes = res.studyTypes
          this.degrees = res.degrees
          this.langs = res.languages
          this.languageLevels = res.languageLevels
          localStorage.setItem('studyTypesArr', JSON.stringify(res.studyTypes))
          localStorage.setItem('degreesArr', JSON.stringify(res.degrees))
          localStorage.setItem('languagesArr', JSON.stringify(res.languages))
          localStorage.setItem(
            'languageLevelsArr',
            JSON.stringify(res.languageLevels)
          )
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    } else {
      this.studyTypes = JSON.parse(localStorage.getItem('studyTypesArr'))
      this.degrees = JSON.parse(localStorage.getItem('degreesArr'))
      this.langs = JSON.parse(localStorage.getItem('languagesArr'))
      this.languageLevels = JSON.parse(
        localStorage.getItem('languageLevelsArr')
      )
      this.countries = JSON.parse(localStorage.getItem('countriesArr'))
    }
    if (localStorage.getItem('positionsArr')) {
      this.positions = JSON.parse(localStorage.getItem('positionsArr'))
    } else {
      await this.getPositions()
    }
    // getStatesByCountryId
    this.getMyState(this.personalData.country)
    // Create Step Five object array
    this.setWorkExperienceData()
    this.setLangs()
  },
  methods: {
    setLangs() {
      if (!this.emptyStudiesData) {
        this.studiesDataValue.langs.forEach((lang) => {
          const langObj = this.langs.find((l) => l.id === lang.langId)
          const langLevel = this.languageLevels.find(
            (level) => level.id === lang.levelId
          )
          const item = {
            id: lang.id,
            name: langObj.lang,
            level: langLevel.level,
          }
          this.myLangs.push(item)
        })
      }
    },
    async getMyState(countryId) {
      return await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/personal-data/states/${countryId}`
        )
        .then((res) => {
          this.states = res.states
        })
        .catch((e) => {
          // eslint-disable-next-line no-console
          console.error(e)
        })
    },
    async getPositions() {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/work-experience/get-data`
        )
        .then((res) => {
          this.positions = res.positions
          localStorage.setItem('positionsArr', JSON.stringify(res.positions))
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
    goBack() {
      this.$router.push('/interview/extra-data')
    },
    finish() {
      if (this.isTermsAcepted) {
        this.termsCheckError = false
        localStorage.setItem('finished-assistant', 'finished')
        this.$router.push('/interview/finish')
      } else {
        this.termsCheckError = true
      }
    },
    getCountryCode(countryCode) {
      const countries = JSON.parse(localStorage.getItem('countriesArr'))
      const code = countries.find((c) => c.id === countryCode)
      return `(${code.numberCode})`
    },
    getCountryName(countryCode) {
      const countries = JSON.parse(localStorage.getItem('countriesArr'))
      const code = countries.find((c) => c.id === countryCode)
      return `${code.name}`
    },
    setWorkExperienceData() {
      if (this.workExperience === 'empty') {
        this.workExperienceData = 'empty'
      } else {
        const elements = JSON.parse(this.workExperience)
        this.workExperienceData = elements.map((es) => {
          const from = es.from.split('-')
          let to
          if (es.actual) {
            to = 'Actual'
          } else {
            const parts = es.to.split('-')
            to = `${parts[2]}-${parts[1]}-${parts[0]}`
          }
          const pos = {
            position: this.getPositionName(es.position),
            company: es.company,
            from: `${from[2]}-${from[1]}-${from[0]}`,
            to,
          }
          return pos
        })
      }
    },
    getPositionName(positionId) {
      const positions = JSON.parse(localStorage.getItem('positionsArr'))
      const position = positions.find((p) => p.id === positionId)
      return position.position
    },
  },
}
</script>

<style lang="scss">
.confirm-information {
  .data {
    &__step {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
      /* identical to box height, or 222% */

      text-align: center;

      color: #23272f;
      margin-bottom: 20px;
    }
    &__value {
      font-style: italic;
      text-align: center;
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #23272f;
      margin-bottom: 20px;
      .item {
      }
      .item-val {
      }
    }
    &__underline {
      height: 4px;
      display: block;
      max-width: 395px;
      margin: 40px auto;
      background: #bfbfbf;
      background: linear-gradient(
        90deg,
        #bfbfbf00 0%,
        #bfbfbf 50%,
        #bfbfbf00 100%
      );
    }
  }
  a {
    text-decoration: underline;
  }
}
// .confirm-information {
//   @apply text-darkgray font-brandLight;
//   .title {
//     @apply grid grid-cols-3 my-10 text-center text-2xl sm:text-4xl font-brandBold;
//     &__button {
//       .icon {
//         @apply h-10 w-10 mx-auto;
//       }
//     }
//   }
//   .tip {
//     @apply px-9 my-5 sm:px-0;
//     &__wrapper {
//       @apply p-3 flex flex-col sm:flex-row items-center justify-center mt-0 sm:mt-14 mx-auto rounded-lg shadow-lg space-x-4 sm:w-8/12 font-semibold mb-5 bg-lightgray;
//       background-color: #f5f5f5;
//       .icon {
//         @apply h-10 w-10 text-cyanblue font-semibold;
//       }
//       .text {
//         @apply sm:text-lg;
//         .line-break {
//           @apply hidden sm:block;
//         }
//       }
//     }
//   }
//   .data {
//     @apply mx-auto mt-14 mb-5 w-8/12;
//     &__step {
//       @apply font-brandBold text-darkgray text-xl;
//     }
//     &__underline {
//       @apply border-2 mb-3;
//     }
//     &__value {
//       .item {
//         @apply font-extrabold #{!important};
//       }
//       .item-val {
//         @apply italic;
//       }
//     }
//   }
//   .step_actions {
//     @apply px-9 sm:px-0 my-5 sm:mt-14 mx-auto flex w-full items-center justify-center space-x-2 sm:w-3/12 sm:flex-row;
//     &__loading {
//       width: 100px;
//     }
//     &__button {
//       @apply bg-darkgray flex-1 text-aquagreen font-brandBold rounded-xl py-2 px-5 shadow-lg;
//     }
//   }
// }
</style>
