<template>
  <div class="contact question-page">
    <!-- Title -->
    <wizard-header title="Contacto" />
    <wizard-tip
      content="Cuando tengamos una oferta especial para ti ¿Cómo podemos contactarte?"
    />

    <!-- Contact form -->
    <form>
      <fieldset class="wizard-form">
        <!-- Validation Messages -->
        <div
          v-if="
            ($v.$dirty && $v.$invalid) ||
            invalidEmail ||
            invalidCaptcha ||
            takenEmail
          "
          class="wizard-errors"
        >
          <div class="wizard-errors__message">
            <img :src="iconError" class="icon" alt="" />
            <ul class="wizard-errors__errors">
              <li
                v-if="invalidEmail || (emailErrors && !$v.email.email)"
                class="text"
              >
                Introduzca una dirección de correo electrónico válida
              </li>
              <li v-if="invalidCaptcha" class="text">
                No se pudo comprobar el recaptcha. Recargue la página
              </li>
              <li v-if="takenEmail" class="text">
                El correo electrónico ya se encuentra registrado
              </li>
              <li v-if="emailErrors && !$v.email.required" class="text">
                El correo electrónico es requerido
              </li>
              <li v-if="emailErrors && !$v.email.maxLength" class="text">
                El correo debe tener 50 o menos caracteres
              </li>
              <li v-if="countryPrefixErrors" class="text">
                <span>Debe escoger un prefijo de país</span>
              </li>
              <template v-if="telephoneErrors">
                <li v-if="!$v.telephone.required" class="text">
                  El teléfono de contacto es requerido
                </li>
                <li v-if="!$v.telephone.maxLength" class="text">
                  El teléfono de contacto puede tener hasta 12 números
                </li>
                <li v-if="!$v.telephone.numeric" class="text">
                  El teléfono de contacto sólo permite números enteros positivos
                </li>
              </template>
            </ul>
          </div>
        </div>
        <!-- Email -->
        <div class="wizard-form__input">
          <label class="label" for="">Correo electrónico</label>
          <input
            :value="$v.email.$model"
            type="text"
            class="input"
            placeholder="Ej: carlosve90@gmail.com"
            :class="{ 'invalid-input': emailErrors }"
            :maxlength="50"
            @input="email = $event.target.value.toLowerCase().trim()"
          />
        </div>

        <!-- Telephone number -->
        <div class="wizard-form__input">
          <label class="label">Teléfono de contacto</label>
          <div class="country">
            <div class="cm-group-2">
              <!-- Country code -->
              <div class="country__code">
                <select
                  id="cboCountryPrefix"
                  v-model="countryPrefix"
                  class="input"
                  :disabled="loadingCountries"
                  :class="{
                    'invalid-input': countryPrefixErrors,
                  }"
                >
                  <option value="null" selected disabled>Escoger país</option>
                  <option
                    v-for="(cp, index) in countryPrefixes"
                    :key="`cp-${index}`"
                    :value="cp.id"
                  >
                    {{ cp.name }} ({{ cp.numberCode }})
                  </option>
                </select>
              </div>
              <!-- Phoen number -->
              <div class="country__phone">
                <input
                  v-model.trim="telephone"
                  class="input"
                  placeholder="Ej: 4145557768"
                  :class="{
                    'invalid-input': telephoneErrors,
                  }"
                  type="text"
                  maxlength="12"
                  @keypress="isNumber($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <img
        v-if="bussy"
        class="step-actions__loading"
        src="@/assets/img/loading-1.svg"
        alt="Loading animation"
      />
      <button
        v-else
        type="button"
        class="step-actions__button"
        @click="checkForm"
      >
        <!-- :disabled="$v.$invalid" -->
        Siguiente
      </button>
    </div>
  </div>
</template>

<script>
import iconError from '@/assets/img/ui-icon-error.svg'
import 'vue-select/dist/vue-select.css'
import { validationMixin } from 'vuelidate'
import {
  required,
  requiredIf,
  email,
  maxLength,
  numeric,
} from 'vuelidate/lib/validators'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
export default {
  components: { wizardHeader, WizardTip },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  data() {
    return {
      iconError,
      id: null,
      email: '',
      telephone: '',
      countryPrefix: null,
      bussy: false,
      countryPrefixes: [],
      invalidEmail: false,
      invalidCaptcha: false,
      takenEmail: false,
      loadingCountries: true,
    }
  },

  computed: {
    emailErrors() {
      return this.$v.email.$dirty && this.$v.email.$invalid
    },
    telephoneErrors() {
      return this.$v.telephone.$dirty && this.$v.telephone.$invalid
    },
    countryPrefixErrors() {
      return this.$v.countryPrefix.$dirty && this.$v.countryPrefix.$invalid
    },
    emptyCountryPrefix() {
      return this.countryPrefix === ''
    },
  },

  validations: {
    email: {
      required,
      email,
      maxLength: maxLength(50),
    },
    telephone: {
      numeric,
      maxLength: maxLength(12),
      required: requiredIf(function () {
        return this.countryPrefix !== null // return true if this field is required
      }),
    },
    countryPrefix: {
      required: requiredIf(function () {
        return this.telephone !== '' // return true if this field is required
      }),
    },
  },

  created() {
    this.getCountries()
  },

  mounted() {
    if (localStorage.getItem('interviewContact')) {
      const data = JSON.parse(localStorage.getItem('interviewContact'))
      this.id = data.id
      this.email = data.email
      this.telephone = data.telephone !== null ? data.telephone : ''
      this.countryPrefix = this.getCountry(data.countryCode)
      if (this.countryPrefix !== null) {
        this.countryName = `${this.countryPrefix.countryCode}`
      } else {
        this.countryName = 'Codigo de Área'
      }
    }
  },

  methods: {
    async getCountries() {
      this.countryPrefixes = JSON.parse(localStorage.getItem('countriesArr'))
      this.loadingCountries = true
      try {
        const countriesData = await this.$axios.$get(
          `${this.$axios.defaults.baseURL}assistants/interview/contact/get-data`
        )
        localStorage.setItem(
          'countriesArr',
          JSON.stringify(countriesData.countryCodes)
        )
        this.countryPrefixes = countriesData.countryCodes
        this.loadingCountries = false
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error)
        this.loadingCountries = true
      }
    },

    getCountry(countryCode) {
      if (countryCode) {
        if (this.countryPrefixes.length > 0) {
          return this.countryPrefixes.find((c) => c.id === countryCode).id
        } else {
          return countryCode
        }
      } else return null
    },
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.invalidCaptcha = false
          this.invalidEmail = false
          this.takenEmail = false
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const data = {
            email: this.email.toLowerCase(),
            telephone: this.telephone,
            countryCode: this.countryPrefix !== null ? this.countryPrefix : '',
            recaptcha: str,
          }
          if (this.id !== null) await this.update(data)
          else await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/interview/contact/save-user`,
          d
        )
        .then((result) => {
          if (result.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (result.notValidEmail) {
            this.invalidEmail = true
            this.bussy = false
          } else {
            const contact = result.interviewContact
            // const contact = {
            //   id: result.stepOne.id,
            //   email: result.stepOne.email,
            //   telephone: result.stepOne.telephone,
            //   countryCode: result.stepOne.countryCode,
            // }
            localStorage.setItem('interviewContact', JSON.stringify(contact))
            if (result.finished) {
              localStorage.setItem('finished-assistant', 'finished')
              this.$router.push('/interview/finish')
            } else {
              let route
              // Add data into localStorage
              route = '/interview/personal-data'
              if (
                Object.prototype.hasOwnProperty.call(
                  result,
                  'interviewPersonalData'
                )
              ) {
                const personalData = {
                  id: result.interviewPersonalData.id,
                  firstnames: result.interviewPersonalData.firstnames,
                  lastnames: result.interviewPersonalData.lastnames,
                  gender: result.interviewPersonalData.gender,
                  birthdate: result.interviewPersonalData.birthdate,
                  country: result.interviewPersonalData.country,
                  state: result.interviewPersonalData.state,
                }
                localStorage.setItem(
                  'interviewPersonalData',
                  JSON.stringify(personalData)
                )
                route = '/interview/salary-expectation'
              }
              if (
                Object.prototype.hasOwnProperty.call(
                  result,
                  'interviewSalaryExpectation'
                )
              ) {
                const salaryExpectation = {
                  id: result.interviewSalaryExpectation.id,
                  salary: result.interviewSalaryExpectation.salary,
                }
                localStorage.setItem(
                  'interviewSalaryExpectation',
                  JSON.stringify(salaryExpectation)
                )
                route = '/interview/studies'
              }
              if (
                Object.prototype.hasOwnProperty.call(result, 'interviewStudies')
              ) {
                const studies = {
                  // userId: result.interviewStudies.userId,
                  studies: result.interviewStudies.studies,
                  langs: result.interviewStudies.languages,
                }
                localStorage.setItem(
                  'interviewStudies',
                  JSON.stringify(studies)
                )
                route = '/interview/skills'
              }
              if (
                Object.prototype.hasOwnProperty.call(result, 'interviewSkills')
              ) {
                localStorage.setItem(
                  'interviewSkills',
                  JSON.stringify(result.interviewSkills.skills)
                )
                route = '/interview/work-experience'
              }
              if (
                Object.prototype.hasOwnProperty.call(
                  result,
                  'interviewWorkExperience'
                )
              ) {
                const workExperience = {
                  userId: result.interviewWorkExperience.userId,
                  experiences: result.interviewWorkExperience.experiences,
                }
                localStorage.setItem(
                  'interviewWorkExperience',
                  JSON.stringify(workExperience.experiences)
                )
                if (
                  !Object.prototype.hasOwnProperty.call(
                    result,
                    'interviewStudies'
                  )
                ) {
                  localStorage.setItem('interviewStudies', 'empty')
                }
                route = '/interview/extra-data'
              }
              if (
                Object.prototype.hasOwnProperty.call(
                  result,
                  'interviewExtraData'
                )
              ) {
                const extraData = {
                  extras: {
                    cv: result.interviewExtraData.cv,
                    desc: result.interviewExtraData.description,
                  },
                }
                localStorage.setItem(
                  'interviewExtraData',
                  JSON.stringify(extraData)
                )
                if (
                  !Object.prototype.hasOwnProperty.call(
                    result,
                    'interviewWorkExperience'
                  )
                ) {
                  localStorage.setItem('interviewWorkExperience', 'empty')
                }
                route = '/interview/confirm-information'
              }
              this.$router.push(route)
            }
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
    async update(d) {
      await this.$axios
        .$put(
          `${this.$axios.defaults.baseURL}assistants/interview/contact/save-user/${this.id}`,
          d
        )
        .then((result) => {
          if (result.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (result.takenEmail) {
            this.takenEmail = true
            this.bussy = false
          } else if (result.notValidEmail) {
            this.invalidEmail = true
            this.bussy = false
          } else {
            // Add data into localStorage
            const contact = result.interviewContact
            // const contact = {
            //   id: result.stepOne.id,
            //   email: result.stepOne.email,
            //   telephone: result.stepOne.telephone,
            //   countryCode: result.stepOne.countryCode,
            // }
            localStorage.setItem('interviewContact', JSON.stringify(contact))
            this.$router.push('/interview/personal-data')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
    isNumber(evt) {
      evt = evt || window.event
      const charCode = evt.which ? evt.which : evt.keyCode
      if (charCode >= 48 && charCode <= 57) {
        return true
      } else {
        evt.preventDefault()
      }
    },
  },
}
</script>

<style lang="scss">
#cboCountryPrefix {
  width: 100%;
}
$bg-primary: #23272f;
$neutral: #bfbfbf;
.contact {
  .cm-group-2 {
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
    }
  }
}
</style>
