<template>
  <div class="extra-data question-page">
    <wizard-header title="Extras" />
    <wizard-tip content="Mientras más te conocemos, mejor podremos ubicarte." />

    <!-- Errors -->
    <div
      v-if="
        fileError || ($v.$dirty && $v.$invalid) || invalidCaptcha || cvError
      "
      class="wizard-errors"
    >
      <div class="wizard-errors__message">
        <img src="@/assets/img/ui-icon-error.svg" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="invalidCaptcha" class="text">
            No se pue comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="!!cvError" class="text">{{ cvError }}</li>
          <li v-if="moreThanOne" class="text">Sólo puede enviar un archivo</li>
          <li v-if="!validType" class="text">Tipo de archivo no permitido</li>
          <li v-if="bigSize" class="text">
            Sólo puede enviar archivos que pesen 1mb o menos
          </li>
          <li v-if="!$v.description.maxLength" class="text">
            La descripción debe tener 400 caracteres como máximo
          </li>
        </ul>
      </div>
    </div>
    <!-- CV File Upload -->
    <div class="wizard-form__input">
      <div class="items-label mb-20">
        <div class="title">Hoja de vida o CV</div>
        <!-- <button
          v-if="validFile"
          class="cell__delete"
          :disabled="bussy"
          title="Eliminar"
          @click="removeFile"
        >
          <img src="@/assets/img/ui-icon-delete.svg" alt="" />
        </button> -->
      </div>
      <form
        id="cvFrm"
        enctype="multipart/form-data"
        class="cm-card text-center"
      >
        <label
          id="fileAreaBorder"
          class="extras-upload__wrapper inactive-border"
          :class="{ 'invalid-border': fileError, 'valid-border': validFile }"
          @dragover="dragover"
          @dragleave="dragleave"
          @drop.prevent="drop"
        >
          <p>Arrastra el archivo o haz click aquí</p>
          <p
            class="accepted-files mb-5 text-neutral font-normal"
            :class="{ 'invalid-text': !validType }"
          >
            Sólo se permiten archivos .pdf, .doc, .docx o .txt;
            <br />
            con peso máximo 1MB
          </p>
          <div v-if="validFile" class="icon valid-text text-center mb-5">
            <img
              class="mx-auto"
              src="@/assets/img/ui-icon-uploaded.svg"
              alt=""
            />
          </div>
          <div
            v-else
            class="icon text-center mb-5"
            :class="{ 'invalid-text': moreThanOne }"
          >
            <img class="mx-auto" src="@/assets/img/ui-icon-upload.svg" alt="" />
          </div>
          <p class="file" :class="{ 'valid-text': validFile }">
            {{ fileName }}
          </p>
          <input
            ref="cv"
            type="file"
            class="fl-input"
            accept="
              .doc,
              .docx,
              application/vnd.ms-excel,
              application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
              application/vnd.openxmlformats-officedocument.presentationml.presentation,
              application/pdf,
              application/msword,
              application/vnd.openxmlformats-officedocument.wordprocessingml.document,
              text/plain,"
            @change="setFile"
          />
        </label>
      </form>
    </div>
    <!-- Description -->
    <div class="wizard-form__input">
      <div class="items-label mb-20">
        <div class="title">Breve Reseña (opcional)</div>
      </div>
      <textarea
        v-model.trim="description"
        class="input"
        :class="{ 'invalid-border': $v.$dirty && !$v.description.maxLength }"
        placeholder="Ej: Soy una persona trabajadora, atenta, etc..."
        :maxlength="maxCount"
      ></textarea>
      <small class="mt-5 mr-3">Caracteres Restantes: {{ remainCount }}</small>
    </div>
    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { maxLength } from 'vuelidate/lib/validators'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
export default {
  components: { wizardHeader, WizardTip },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      moreThanOne: false,
      validType: true,
      validFile: false,
      bigSize: false,
      fileName: 'No has cargado ningún archivo',
      description: '',
      maxCount: 400,
      bussy: false,
      invalidCaptcha: false,
      cvError: false,
    }
  },
  validations: {
    description: { maxLength: maxLength(400) },
  },
  computed: {
    fileError() {
      return this.moreThanOne || !this.validType || this.bigSize
    },
    remainCount() {
      let remainCount = 400
      if (this.description) {
        remainCount = this.maxCount - this.description.length
      }
      return remainCount
    },
  },
  mounted() {
    // Get file from localstorage
    if (
      localStorage.getItem('interviewExtraData') &&
      localStorage.getItem('interviewExtraData') !== 'empty'
    ) {
      const oldData = JSON.parse(localStorage.getItem('interviewExtraData'))
      if (oldData.extras.cv !== null) {
        const previousFile = oldData.extras.cv
        this.urltoFile(
          previousFile.value,
          previousFile.name,
          previousFile.type
        ).then((file) => {
          const dT =
            new ClipboardEvent('').clipboardData || // Firefox < 62 workaround exploiting https://bugzilla.mozilla.org/show_bug.cgi?id=1422655
            new DataTransfer() // specs compliant (as of March 2018 only Chrome)
          dT.items.add(file)
          this.$refs.cv.files = dT.files
          this.validFile = true
          this.fileName = previousFile.name
        })
      }

      if (oldData.extras.desc !== '' && oldData.extras.desc !== 'null') {
        this.description = oldData.extras.desc
      }
    }
  },
  methods: {
    goBack() {
      this.$router.push('/interview/work-experience')
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
    dragover(event) {
      event.preventDefault()
      if (!event.currentTarget.classList.contains('busy-border')) {
        event.currentTarget.classList.remove('inactive-border')
        event.currentTarget.classList.add('busy-border')
      }
    },
    dragleave(event) {
      event.preventDefault()
      event.currentTarget.classList.remove('busy-border')
      event.currentTarget.classList.add('inactive-border')
    },
    drop(event) {
      event.preventDefault()
      this.moreThanOne = false
      this.validType = true
      this.bigSize = false
      this.validFile = false
      this.moreThanOne = event.dataTransfer.files.length > 1
      const hasFile = !!this.$refs.cv.files[0]
      if (!this.moreThanOne && hasFile) {
        const size = this.$refs.cv.files[0].size / 1000000
        if (size <= 1) {
          const _validFileTypes = [
            '.doc',
            '.docx',
            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            'application/vnd.openxmlformats-officedocument.presentationml.presentation',
            'application/pdf',
            'application/vnd.ms-excel',
            'application/msword',
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            'text/plain',
          ]
          const allowedExtensions = /(\.doc|\.docx|\.pdf|\.txt)$/i
          // Check if file type is valid
          this.validType =
            _validFileTypes.includes(event.dataTransfer.files[0].type) ||
            allowedExtensions.test(
              (this.fileName = this.$refs.cv.files[0].name)
            )
          if (this.validType) {
            this.$refs.cv.files = event.dataTransfer.files
            this.setFile() // Trigger the onChange event manually
            this.fileName = this.$refs.cv.files[0].name
            this.validFile = true
            // Clean up
            event.currentTarget.classList.remove('busy-border')
          } else {
            this.validFile = false
            this.fileName = 'No has cargado algún archivo'
          }
        } else {
          this.bigSize = true
          this.fileName = 'No has cargado algún archivo'
        }
      } else {
        this.validFile = false
        this.fileName = 'No has cargado algún archivo'
      }
    },
    setFile() {
      this.moreThanOne = false
      this.validType = true
      this.bigSize = false
      this.validFile = false
      this.moreThanOne = this.$refs.cv.files.length > 1
      const hasFile = !!this.$refs.cv.files[0]
      if (!this.moreThanOne && hasFile) {
        const size = this.$refs.cv.files[0].size / 1000000
        if (size <= 1) {
          const _validFileTypes = [
            '.doc',
            '.docx',
            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            'application/vnd.openxmlformats-officedocument.presentationml.presentation',
            'application/pdf',
            'application/vnd.ms-excel',
            'application/msword',
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            'text/plain',
          ]
          const allowedExtensions = /(\.doc|\.docx|\.pdf|\.txt)$/i
          // Check if file type is valid
          this.validType =
            _validFileTypes.includes(this.$refs.cv.files[0].type) ||
            allowedExtensions.test(
              (this.fileName = this.$refs.cv.files[0].name)
            )
          if (this.validType) {
            // Clean up
            this.fileName = this.$refs.cv.files[0].name
            this.validFile = true
            document
              .querySelector('#fileAreaBorder')
              .classList.remove('busy-border')
          } else {
            this.validFile = false
            this.fileName = 'No has cargado algún archivo'
          }
        } else {
          this.bigSize = true
          this.fileName = 'No has cargado algún archivo'
        }
      } else {
        this.validFile = false
        this.fileName = 'No has cargado algún archivo'
      }
    },
    removeFile() {
      const cvFrm = document.querySelector('#cvFrm')
      cvFrm.reset()
      this.validFile = false
      this.fileName = 'No has cargado algún archivo'
    },
    urltoFile(url, filename, mimeType) {
      return fetch(url)
        .then(function (res) {
          return res.arrayBuffer()
        })
        .then(function (buf) {
          return new File([buf], filename, { type: mimeType })
        })
    },
    async checkForm() {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          let sendRequest = false
          this.cvError = false
          this.bussy = true
          if (!this.fileError) {
            const contact = JSON.parse(localStorage.getItem('interviewContact'))
            const config = {
              headers: { 'content-type': 'multipart/form-data' },
            }
            const formData = new FormData()
            const data = { cv: null, desc: '' }
            if (this.$refs.cv.files.length > 0) {
              sendRequest = true
              const file = this.$refs.cv.files[0]
              formData.append('file', file)
              // eslint-disable-next-line prefer-const
              let cvReader = new window.FileReader()
              // eslint-disable-next-line prefer-const
              let cvData = {}
              cvData.name = this.$refs.cv.files[0].name
              cvData.type = this.$refs.cv.files[0].type
              cvReader.addEventListener('load', (event) => {
                cvData.value = event.target.result
                data.cv = cvData
              })
              cvReader.readAsDataURL(this.$refs.cv.files[0])
            }
            if (this.description !== '') {
              sendRequest = true
              formData.append('desc', this.description)
              data.desc = this.description
            }

            if (sendRequest) {
              await this.$recaptcha.init()
              // Get token to verify.
              const str = await this.$recaptcha.execute('login')
              formData.append('recaptcha', str)
            }
            this.$axios
              .$post(
                `${this.$axios.defaults.baseURL}assistants/interview/extra-data/save/${contact.id}`,
                formData,
                config
              )
              .then((res) => {
                if (res.captchaError) {
                  this.invalidCaptcha = true
                  this.bussy = false
                } else if (res.original && res.original.file.length > 0) {
                  this.cvError = res.original.file[0]
                  this.bussy = false
                } else {
                  const userExtras = {
                    userId: res.userId,
                    extras: data,
                  }
                  localStorage.setItem(
                    'interviewExtraData',
                    JSON.stringify(userExtras)
                  )
                  this.$router.push('/interview/confirm-information')
                }
              })
              .catch((error) => {
                // eslint-disable-next-line no-console
                console.log(error)
                this.bussy = false
              })
          } else {
            this.bussy = false
            return
          }
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
  },
}
</script>

<style lang="scss">
.extra-data {
  .wizard-form__input {
    input {
      display: none;
    }
  }
}
</style>
