<template>
  <div class="finish-page">
    <template v-if="bussy">
      <p class="finish-page__title">Espere un momento...</p>
    </template>
    <template v-else>
      <img
        src="@/assets/img/logo1.svg"
        alt="Fast Track Taleng Logo"
        class="finish-page__logo"
      />
      <p class="finish-page__title accent">
        ¡Has terminado la entrevista exitosamente!
      </p>
      <p class="finish-page__message text-center">
        Tan pronto como tengamos una oferta especial para ti, un agente de
        <span class="accent"> Fast Track Talent </span>
        se pondrá en contacto contigo para continuar con el proceso de
        selección.
      </p>
      <p class="finish-page__message text-center">
        Hemos enviado a tu correo electrónico una confirmación de tu
        postulación. Si no ubicas el correo en tu bandeja principal chequea en
        tu bandeja de spam o de promociones.
      </p>
      <p class="finish-page__message step-actions">
        <button
          class="return-btn step-actions__button step-actions__button--reversed"
          @click="goToSite"
        >
          Terminar
        </button>
      </p>
    </template>
  </div>
</template>

<script>
export default {
  middleware: 'finishedInterview',
  data() {
    return {
      bussy: true,
    }
  },
  created() {
    this.initFinishStep()
  },
  methods: {
    goToSite() {
      localStorage.removeItem('positionsArr')
      localStorage.removeItem('languagesArr')
      localStorage.removeItem('languageLevelsArr')
      this.$router.push('/')
    },
    initFinishStep() {
      const contact = JSON.parse(localStorage.getItem('interviewContact'))
      const userId = contact.id
      this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/complete-assistant/${userId}`
        )
        .then((res) => {
          if (res.success) {
            this.bussy = false
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
  },
}
</script>

<style lang="scss">
.finish-page {
  @apply min-h-screen px-6 py-8 w-screen flex flex-col space-y-4 items-center justify-center bg-darkgray font-brandLight;
  --title-size: 32px;
  --content-size: 24px;
  &__logo {
    // @apply mx-auto w-52 sm:w-80;
    width: 150px;
    height: auto;
  }
  &__title {
    // @apply font-brandBold text-lg md:text-3xl text-aquagreen text-center;
    text-align: center;
    font-family: ITC Avant Garde Gothic LT;
    font-size: var(--title-size);
    line-height: 1.75rem;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    --tw-text-opacity: 1;
    color: rgba(148, 248, 153, var(--tw-text-opacity));
  }
  &__message {
    // @apply text-lg md:text-2xl text-white w-6/12 text-center #{!important};
    font-family: Roboto;
    color: white;
    font-size: var(--content-size);
    max-width: 690px;
    margin-bottom: 20px !important;
    .return-btn {
      // @apply bg-cyanblue text-white font-brandBold rounded-xl py-2 px-5;
    }
  }
  @media screen and (max-width: 600px) {
    --title-size: 28px;
    --content-size: 20px;
  }
}
</style>
