<template>
  <div class="personal-data question-page">
    <wizard-header title="Datos Personales" />
    <wizard-tip content="Los típicos pero necesarios datos." />
    <!-- Form -->
    <form>
      <!-- wizard-errorss -->
      <div
        v-if="
          ($v.$dirty && $v.$invalid) ||
          invalidCaptcha ||
          invalidCountry ||
          invalidState ||
          invalidUser
        "
        class="wizard-errors"
      >
        <div class="wizard-errors__message">
          <img :src="iconError" class="icon" alt="" />
          <ul class="wizard-errors__errors">
            <li v-if="invalidCaptcha" class="text">
              No se pudo comprobar el recaptcha. Recargue la página
            </li>
            <li v-if="invalidUser" class="text">
              No se ha encontrado el usuario
            </li>
            <li v-if="invalidCountry" class="text">
              No se ha encontrado el país
            </li>
            <li v-if="invalidState" class="text">
              No se ha encontrado el estado
            </li>
            <li v-if="!$v.firstnames.required" class="text">
              <span> Los nombres son requeridos</span>
            </li>
            <li v-if="!$v.firstnames.alpha" class="text">
              <span> Los nombres son inválidos</span>
            </li>
            <li v-if="!$v.firstnames.minLength" class="text">
              <span>El campo nombres debe contener mínimo 3 caracteres</span>
            </li>
            <li v-if="!$v.firstnames.maxLength" class="text">
              <span>El campo nombres debe contener máximo 30 caracteres</span>
            </li>
            <li v-if="!$v.lastnames.required" class="text">
              <span> Los apellidos son requeridos</span>
            </li>
            <li v-if="!$v.lastnames.alpha" class="text">
              <span> Los apellidos son inválidos</span>
            </li>
            <li v-if="!$v.lastnames.minLength" class="text">
              <span>El campo apellidos debe contener mínimo 3 caracteres</span>
            </li>
            <li v-if="!$v.lastnames.maxLength" class="text">
              <span>El campo apellidos debe contener máximo 30 caracteres</span>
            </li>
            <li v-if="!$v.gender.required" class="text">
              <span> El género es requerido</span>
            </li>
            <li v-if="yearErrors || monthErrors || dayErrors" class="text">
              <span> La fecha de nacimiento es requerida</span>
            </li>
            <li v-if="!$v.country.required" class="text">
              <span> El país es requerido</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- Form fields -->
      <fieldset class="wizard-form" :disabled="bussy">
        <!-- Firstnames and lastnames -->
        <div class="cm-group-2">
          <!-- Firstname -->
          <div class="wizard-form__input">
            <label class="label">Nombres</label>
            <input
              id="txtFirstNames"
              v-model.trim="firstnames"
              type="text"
              name="txtFirstNames"
              class="input"
              :class="{ 'invalid-input': firstNamesErrors }"
              placeholder="Ej: Luis Alberto"
              minlength="3"
              maxlength="30"
            />
          </div>
          <!-- Lastname -->
          <div class="wizard-form__input">
            <label class="label">Apellidos</label>
            <input
              id="txtLastNames"
              v-model.trim="lastnames"
              type="text"
              name="txtLastNames"
              class="input"
              :class="{ 'invalid-input': lastNamesErrors }"
              placeholder="Ej: Pérez Lecuna"
              minlength="3"
              maxlength="30"
            />
          </div>
        </div>
        <!-- Gender and Birthdate -->
        <!-- gender -->
        <div class="wizard-form__input">
          <label class="label">Género</label>
          <select
            v-model="gender"
            class="input"
            label="name"
            placeholder="Elige una opción"
            :class="{
              'invalid-input': genderErrors,
            }"
          >
            <option value="" selected disabled>- Escoger una opción -</option>
            <option
              v-for="(gend, i) in genders"
              :key="`${i}-gend`"
              :value="gend.value"
            >
              {{ gend.label }}
            </option>
          </select>
        </div>

        <!-- Birthday -->
        <div class="wizard-form__input">
          <label class="label">Fecha de nacimiento</label>
          <div class="cm-group-3">
            <!-- Year -->
            <select
              id="cboYear"
              v-model="year"
              name="cboYear"
              class="input"
              :class="{ 'invalid-input': yearErrors }"
            >
              <option value="" selected disabled>Año</option>
              <option v-for="y in years" :key="y" :value="y">
                {{ y }}
              </option>
            </select>
            <!-- month -->
            <select
              id="cboMonth"
              v-model="month"
              name="cboMonth"
              class="input"
              :class="{
                'invalid-input': monthErrors,
                'disabled-input': disableMonth,
              }"
              :disabled="disableMonth"
            >
              <option value="" selected disabled>Mes</option>
              <option v-for="m in months" :key="m.code" :value="m.code">
                {{ m.name }}
              </option>
            </select>
            <!-- Day -->
            <select
              id="cboDay"
              v-model="day"
              name="cboDay"
              class="input"
              :class="{
                'invalid-input': dayErrors,
                'disabled-input': disableDay,
              }"
              :disabled="disableDay"
            >
              <option value="" selected disabled>Día</option>
              <option v-for="d in days" :key="d" :value="d">{{ d }}</option>
            </select>
          </div>
        </div>

        <!-- Location -->
        <div class="cm-group-2">
          <!-- Country -->
          <div class="wizard-form__input">
            <label class="label">País</label>
            <select
              id="cboCountryPrefix"
              v-model="country"
              class="input"
              :disabled="loadingCountries"
              :class="{
                'invalid-input': countryErrors,
              }"
            >
              <option value="null" selected disabled>Escoger país</option>
              <option
                v-for="(cp, index) in countries"
                :key="`cp-${index}`"
                :value="cp.id"
              >
                {{ cp.name }}
              </option>
            </select>
          </div>
          <!-- State -->
          <div class="wizard-form__input">
            <label class="label">Estado</label>
            <select
              id="cboState"
              v-model="state"
              name="cboState"
              class="input"
              :class="{ 'disabled-input': noState || country === '' }"
              :disabled="noState || country === null"
            >
              <option v-if="country === ''" value="" selected>
                Escoger estado
              </option>
              <template v-else>
                <template v-if="gettingStates">
                  <option value="" selected>Obteniendo datos...</option>
                </template>
                <template v-else>
                  <template v-if="noState">
                    <option value="" disabled selected>NO DISPONIBLE</option>
                  </template>
                  <template v-else>
                    <option value="" disabled selected>Escoger estado</option>
                    <option v-for="s in states" :key="s.id" :value="s.id">
                      {{ s.name }}
                    </option>
                  </template>
                </template>
              </template>
            </select>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import { validationMixin } from 'vuelidate'
import {
  helpers,
  required,
  minLength,
  maxLength,
} from 'vuelidate/lib/validators'
import iconError from '@/assets/img/ui-icon-error.svg'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ'\u00F1\u00D1](\s*[a-zA-ZÀ-ÿ'\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ'\u00F1\u00D1]+$/i
)
export default {
  components: { wizardHeader, WizardTip },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      iconError,
      countries: [],
      states: [],
      gettingStates: false,
      months: [
        { code: '01', name: 'Enero' },
        { code: '02', name: 'Febrero' },
        { code: '03', name: 'Marzo' },
        { code: '04', name: 'Abril' },
        { code: '05', name: 'Mayo' },
        { code: '06', name: 'Junio' },
        { code: '07', name: 'Julio' },
        { code: '08', name: 'Agosto' },
        { code: '09', name: 'Septiembre' },
        { code: '10', name: 'Octubre' },
        { code: '11', name: 'Noviembre' },
        { code: '12', name: 'Diciembre' },
      ],
      daysRange: [28, 30, 31],
      id: null,
      firstnames: '',
      lastnames: '',
      genders: [
        { label: 'Hombre', value: 'M' },
        { label: 'Mujer', value: 'F' },
        { label: 'Otro', value: 'U' },
      ],
      gender: '',
      year: '',
      month: '',
      day: '',
      country: null,
      state: '',
      noState: false,
      bussy: false,
      invalidCaptcha: false,
      invalidCountry: false,
      invalidState: false,
      invalidUser: false,
      loadingCountries: false,
    }
  },
  validations: {
    firstnames: {
      required,
      alpha,
      minLength: minLength(3),
      maxLength: maxLength(30),
    },
    lastnames: {
      required,
      alpha,
      minLength: minLength(3),
      maxLength: maxLength(30),
    },
    gender: {
      required,
    },
    year: {
      required,
    },
    month: {
      required,
    },
    day: {
      required,
    },
    country: {
      required,
    },
  },
  computed: {
    emptyCountriesArr() {
      return this.countries.length === 0
    },
    emptyStatesArr() {
      return this.states.length === 0
    },
    emptyCountry() {
      return this.country === ''
    },
    monthText() {
      return this.year === '' ? 'Escoger año' : 'Mes'
    },
    dayText() {
      return this.month === '' ? 'Escoger mes' : 'Día'
    },
    disableMonth() {
      return this.year === ''
    },
    disableDay() {
      return this.month === ''
    },
    years() {
      const d = new Date()
      // eslint-disable-next-line prefer-const
      let years = []
      const start = d.getFullYear() - 18
      const end = start - 50
      for (let i = start; i > end; i--) {
        years.push(i)
      }
      // eslint-disable-next-line no-console
      return years
    },
    isLeapYear() {
      return (
        (this.year % 4 === 0 && this.year % 100 !== 0) || this.year % 400 === 0
      )
    },
    days() {
      // eslint-disable-next-line prefer-const
      let ds = []
      switch (this.month) {
        case '02':
          for (let i = 1; i <= this.daysRange[0]; i++) {
            ds.push(i)
          }
          if (this.isLeapYear) {
            ds.push(29)
          }
          break
        case '01':
        case '03':
        case '05':
        case '07':
        case '08':
        case '10':
        case '12':
          for (let i = 1; i <= this.daysRange[2]; i++) {
            ds.push(i)
          }
          break
        default:
          for (let i = 1; i <= this.daysRange[1]; i++) {
            ds.push(i)
          }
          break
      }
      return ds
    },
    firstNamesErrors() {
      return this.$v.firstnames.$dirty && this.$v.firstnames.$invalid
    },
    lastNamesErrors() {
      return this.$v.lastnames.$dirty && this.$v.lastnames.$invalid
    },
    genderErrors() {
      return this.$v.gender.$dirty && !this.$v.gender.required
    },
    yearErrors() {
      return this.$v.year.$dirty && !this.$v.year.required
    },
    monthErrors() {
      return this.$v.month.$dirty && !this.$v.month.required
    },
    dayErrors() {
      return this.$v.day.$dirty && !this.$v.day.required
    },
    countryErrors() {
      return this.$v.country.$dirty && !this.$v.country.required
    },
  },
  watch: {
    country: {
      immediate: true,
      async handler(val) {
        if (val !== null) {
          await this.getStates()
          if (localStorage.getItem('interviewPersonalData')) {
            const oldData = JSON.parse(
              localStorage.getItem('interviewPersonalData')
            )
            if (oldData.country !== val) this.state = ''
          }
        }
      },
    },
  },
  created() {
    this.getCountries()
  },
  mounted() {
    if (localStorage.getItem('interviewPersonalData')) {
      const oldData = JSON.parse(localStorage.getItem('interviewPersonalData'))
      const dateVals = oldData.birthdate.split('-')
      this.id = oldData.id
      this.firstnames = oldData.firstnames
      this.lastnames = oldData.lastnames
      this.gender = oldData.gender
      this.year = dateVals[0]
      this.month = dateVals[1]
      this.day = dateVals[2]
      this.country = this.getCountry(oldData.country)
      this.countryName = this.country !== '' ? oldData.country.name : ''
      this.state = oldData.state
    }
  },
  methods: {
    async getCountries() {
      this.countries = JSON.parse(localStorage.getItem('countriesArr'))
      this.loadingCountries = true
      try {
        const res = await this.$axios.$get(
          `${this.$axios.defaults.baseURL}assistants/interview/personal-data/get-data`
        )
        localStorage.setItem('countriesArr', JSON.stringify(res.countries))
        this.countries = res.countries
        this.loadingCountries = false
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error)
        this.loadingCountries = true
      }
    },
    toggleShowCountries() {
      this.showCountries = !this.showCountries
      if (this.showCountries === false) {
        this.setQuery('')
      }
    },
    async getStates() {
      this.states = []
      // if (!localStorage.getItem('interviewPersonalData')) this.state = ''
      this.noState = false
      this.gettingStates = true
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/personal-data/states/${this.country}`
        )
        .then((res) => {
          if (res.states.length > 0) {
            this.states = res.states
          } else {
            this.noState = true
          }
          this.gettingStates = false
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    setGender(value) {
      this.gender = value.trim()
    },
    setQuery(query) {
      this.query = query.trim()
    },
    selectCountry(country) {
      this.country = country
      this.countryName =
        this.country !== '' ? this.country.name : 'Escoger país'
      this.showCountries = false
      this.query = ''
    },
    getCountry(countryCode) {
      if (countryCode) {
        if (this.countries.length > 0) {
          return this.countries.find((c) => c.id === countryCode).id
        } else {
          return countryCode
        }
      } else return null
    },
    goBack() {
      this.$router.push('/interview/contact')
    },
    async checkForm() {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.invalidCaptcha = false
          this.invalidUser = false
          this.invalidCountry = false
          this.invalidState = false
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          if (this.id !== null) await this.update(str)
          else await this.save(str)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save(key) {
      const contact = JSON.parse(localStorage.getItem('interviewContact'))
      this.userId = contact.id
      const personData = {
        userId: this.userId,
        firstnames: this.firstnames,
        lastnames: this.lastnames,
        gender: this.gender,
        birthdate: `${this.year}-${this.month}-${this.day}`,
        countryCode: this.country,
        state: this.state,
        recaptcha: key,
      }
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/interview/personal-data/save`,
          personData
        )
        .then((result) => {
          if (Object.prototype.hasOwnProperty.call(result, 'captchaError')) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validUser')
          ) {
            this.invalidUser = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validCountry')
          ) {
            this.invalidCountry = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validState')
          ) {
            this.invalidState = true
            this.bussy = false
          } else {
            const person = {
              id: result.id,
              userId: result.userId,
              firstnames: result.firstnames,
              lastnames: result.lastnames,
              gender: result.gender,
              birthdate: result.birthdate,
              country: result.country,
              state: result.state,
            }
            localStorage.setItem(
              'interviewPersonalData',
              JSON.stringify(person)
            )
            this.$router.push('/interview/salary-expectation')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error.response)
          this.bussy = false
        })
    },
    async update(key) {
      const personData = {
        id: this.id,
        firstnames: this.firstnames,
        lastnames: this.lastnames,
        gender: this.gender,
        birthdate: `${this.year}-${this.month}-${this.day}`,
        country: this.country,
        state: this.state,
        recaptcha: key,
      }
      await this.$axios
        .$put(
          `${this.$axios.defaults.baseURL}assistants/interview/personal-data/update/${this.id}`,
          personData
        )
        .then((result) => {
          if (Object.prototype.hasOwnProperty.call(result, 'captchaError')) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validUser')
          ) {
            this.invalidUser = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validCountry')
          ) {
            this.invalidCountry = true
            this.bussy = false
          } else if (
            Object.prototype.hasOwnProperty.call(result, 'validState')
          ) {
            this.invalidState = true
            this.bussy = false
          } else {
            const person = {
              id: result.id,
              userId: result.userId,
              firstnames: result.firstnames,
              lastnames: result.lastnames,
              gender: result.gender,
              birthdate: result.birthdate,
              country: result.country,
              state: result.state,
            }
            localStorage.setItem(
              'interviewPersonalData',
              JSON.stringify(person)
            )
            this.$router.push('/interview/salary-expectation')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error.response)
          this.bussy = false
        })
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('degrees')
      localStorage.removeItem('studyTypes')
      localStorage.removeItem('languages')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss">
.personal-data {
  .cm-group-2 {
  }
  @media (max-width: 1024px) {
    .wizard-form {
      & > .cm-group-2:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
  @media (max-width: 576px) {
    .cm-group-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      // gap: 20px;
      .country {
        margin-bottom: 20px;
      }
    }
    .cm-group-3 {
      grid-template-columns: none !important;
      gap: 15px;
    }
  }
}
</style>
