<template>
  <div class="salary-expectation question-page">
    <wizard-header title="Expectativa Salarial" />
    <wizard-tip
      content="Considerando tu situación actual, educación y experiencia ¿Cuánto esperas ganar en tu próximo puesto laboral?"
    />

    <!-- Form -->
    <form class="wizard-form">
      <!-- errors -->
      <div
        v-if="($v.$dirty && $v.$invalid) || invalidCaptcha"
        class="wizard-errors"
      >
        <div class="wizard-errors__message">
          <img :src="iconError" class="icon" alt="" />
          <ul class="wizard-errors__errors">
            <li v-if="invalidCaptcha" class="text">
              No se pudo comprobar el recaptcha. Recargue la página
            </li>
            <li v-if="salaryErrors" class="text">
              La expectativa salarial es requerida
            </li>
          </ul>
        </div>
      </div>

      <!-- Salary Expectations -->
      <div class="wizard-form__input">
        <label class="label">Expectativa Salarial:</label>
        <select
          id="cboSalary"
          v-model="salary"
          name="cboSalary"
          class="input"
          :class="{ 'invalid-input': salaryErrors }"
          :disabled="emptySalaryExpectationsArr"
        >
          <template v-if="emptySalaryExpectationsArr">
            <option value="" selected disabled>Obteniendo datos...</option>
          </template>
          <template v-else>
            <option value="" selected disabled>Escoger una opción</option>
            <option
              v-for="se in salaryExpectations"
              :key="se.id"
              :value="se.id"
            >
              {{ se.range }}
            </option>
          </template>
        </select>
      </div>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import iconError from '@/assets/img/ui-icon-error.svg'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
export default {
  components: { wizardHeader, WizardTip },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      salaryExpectations: [],
      iconError,
      id: null,
      salary: '',
      bussy: false,
      invalidCaptcha: false,
    }
  },
  validations: {
    salary: {
      required,
    },
  },
  computed: {
    emptySalaryExpectationsArr() {
      return this.salaryExpectations.length === 0
    },
    salaryErrors() {
      return this.$v.salary.$dirty && !this.$v.salary.required
    },
  },
  async created() {
    if (localStorage.getItem('salariesArr')) {
      this.salaryExpectations = JSON.parse(localStorage.getItem('salariesArr'))
    } else {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/salary-expectation/get-data`
        )
        .then((res) => {
          this.salaryExpectations = res.salaries
          localStorage.setItem('salariesArr', JSON.stringify(res.salaries))
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    }
  },
  mounted() {
    if (localStorage.getItem('interviewSalaryExpectation')) {
      const oldData = JSON.parse(
        localStorage.getItem('interviewSalaryExpectation')
      )
      this.id = oldData.id
      this.salary = oldData.salary
    }
  },
  methods: {
    goBack() {
      this.$router.push('/interview/personal-data')
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('degrees')
      localStorage.removeItem('studyTypes')
      localStorage.removeItem('languages')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
    async checkForm() {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          await this.save()
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save() {
      this.bussy = true
      await this.$recaptcha.init()
      // Get token to verify.
      const str = await this.$recaptcha.execute('login')
      const contact = JSON.parse(localStorage.getItem('interviewContact'))
      const data = {
        userId: contact.id,
        salary: this.salary,
        recaptcha: str,
      }
      this.$axios
        .$put(
          `${this.$axios.defaults.baseURL}assistants/interview/salary-expectation/save/${contact.id}`,
          data
        )
        .then((result) => {
          if (result.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else {
            const salaryExpectation = {
              salary: result.salary,
            }
            localStorage.setItem(
              'interviewSalaryExpectation',
              JSON.stringify(salaryExpectation)
            )
            this.$router.push('/interview/studies')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
  },
}
</script>

<style lang="scss">
.salary-expectation {
}
// .invalid-input {
//   @apply border-2 border-solid #{!important};
//   border-color: coral #{!important};
// }
// .salary-expectation {
//   @apply text-darkgray font-brandLight;
//   .title {
//     @apply grid grid-cols-3 my-10 text-center text-2xl sm:text-4xl font-brandBold;
//     &__button {
//       .icon {
//         @apply h-10 w-10 mx-auto;
//       }
//     }
//   }
//   .tip {
//     @apply px-9 mt-5 mb-14 sm:px-0;
//     &__wrapper {
//       @apply p-3 flex flex-col sm:flex-row items-center justify-center mt-0 sm:mt-14 mx-auto rounded-lg shadow-lg space-x-4 sm:w-8/12 font-semibold mb-5;
//       background-color: #f5f5f5;
//       .icon {
//         @apply h-10 w-10 text-cyanblue font-semibold;
//       }
//       .text {
//         @apply sm:text-lg;
//         .line-break {
//           @apply hidden sm:block;
//         }
//       }
//     }
//   }
//   .salary-form {
//     @apply px-9 sm:px-0 mx-auto w-full sm:mt-5 sm:w-8/12;
//     &__alert {
//       @apply rounded-xl my-5 p-2 text-white;
//       background-color: coral;
//       .messages {
//         @apply flex space-x-2 space-y-2 items-center;
//         &__icon {
//           font-family: 'Material Icons';
//           font-weight: normal;
//           font-style: normal;
//           font-size: 24px;
//           letter-spacing: normal;
//           text-transform: none;
//           display: inline-block;
//           white-space: nowrap;
//           word-wrap: normal;
//           direction: ltr;
//           -webkit-font-feature-settings: 'liga';
//           -webkit-font-smoothing: antialiased;
//         }
//         &__text {
//           @apply mt-0 #{!important};
//         }
//       }
//     }
//     &__label {
//       @apply sm:text-xl text-lightgray font-brandLight font-semibold;
//     }
//     &__input {
//       @apply border-2 border-darkgray h-12 mt-2 rounded-xl w-full;
//     }
//     .multiple-inputs {
//       @apply col-span-2;
//       .multiple-container {
//         @apply flex space-x-4;
//       }
//     }
//   }
//   .step_actions {
//     @apply px-9 sm:px-0 my-5 sm:mt-14 mx-auto flex w-full items-center justify-center space-x-2 sm:w-3/12 sm:flex-row;
//     &__loading {
//       width: 100px;
//     }
//     &__button {
//       @apply bg-darkgray flex-1 text-aquagreen font-brandBold rounded-xl py-2 px-5 shadow-lg;
//     }
//   }
// }
</style>
