<template>
  <div class="skills question-page">
    <WizardHeader title="Habilidades" />
    <WizardTip
      content="Indica las habilidades primordiales con las que desempeñas tu trabajo eficazmente."
    />

    <!-- Form -->
    <form class="wizard-form">
      <!-- errors -->
      <div
        v-if="($v.$dirty && $v.$invalid) || invalidCaptcha || errorMsg"
        class="wizard-errors"
      >
        <div class="wizard-errors__message">
          <img :src="iconError" class="icon" alt="" />
          <ul class="wizard-errors__errors">
            <li v-if="invalidCaptcha" class="text">
              No se pudo comprobar el recaptcha. Recargue la página
            </li>
            <li v-if="skillsErrors" class="text">
              Debe seleccionar al menos 1 habilidades.
            </li>
            <li v-if="errorMsg" class="text">
              Verifique los datos ingresados.
            </li>
          </ul>
        </div>
      </div>

      <!-- skills -->
      <div>
        <div class="items-label mb-6">
          <label class="title" for="skill-list"
            >Habilidades/Conocimientos</label
          >
        </div>
        <v-select
          v-model="selectedSkills"
          :options="filteredSkillList"
          multiple
          class="input custom-v-select"
          label="skill"
          placeholder="Ej: Manejo de equipos"
          :class="{ 'invalid-input': skillsErrors }"
          :value="selectedSkills"
          @search="onSearch"
        >
          <template #no-options="{ search, searching }">
            <template v-if="searching">
              No se encontró <em>{{ search }}</em>
            </template>
            <template v-else> Escriba una habilidad </template>
          </template>
        </v-select>
      </div>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import { validationMixin } from 'vuelidate'
import { requiredIf } from 'vuelidate/lib/validators'
import _ from 'lodash'
import iconError from '@/assets/img/ui-icon-error.svg'
import WizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'

export default {
  components: { WizardHeader, WizardTip },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      iconError,
      errorMsg: false,
      invalidCaptcha: false,
      skillsOptions: [],
      skillsToDelete: [],
      selectedSkills: [],
      currentSkills: [],
      bussy: false,
    }
  },
  validations: {
    selectedSkills: {
      required: requiredIf((vm) => {
        return vm.selectedSkills.length < 2
      }),
    },
  },
  computed: {
    filteredSkillList() {
      // if the selected skills are empty return the whole list
      if (this.selectedSkills.length === 0) return this.skillsOptions
      return this.skillsOptions.filter(
        // retun the skill if no exist in the selected skill list
        (skill) => !this.selectedSkills.some((el) => el.id === skill.id)
      )
    },
    skillsErrors() {
      return this.$v.selectedSkills.$dirty && this.$v.selectedSkills.$invalid
    },
  },
  created() {
    if (localStorage.getItem('interviewSkills')) {
      // if exist skils in Local storage
      const skills = JSON.parse(localStorage.getItem('interviewSkills'))
      this.skillsOptions = skills
      this.currentSkills = skills
      this.selectedSkills = skills
    }
  },
  methods: {
    onSearch(search, loading) {
      if (search.trim().length) {
        loading(true)
        this.getDebounceSkills(loading, search, this)
      }
    },
    getDebounceSkills: _.debounce(async (loading, search, vm) => {
      const request = `${vm.$axios.defaults.baseURL}assistants/interview/skills/get-skills`
      const data = await vm.$axios.$post(request, { skill: search })
      const list = new Set([...data.skills, ...vm.selectedSkills])
      vm.skillsOptions = [...list]
      loading(false)
    }, 350),
    goBack() {
      this.$router.push('/interview/studies')
    },
    async checkForm() {
      try {
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.invalidCaptcha = false
          this.errorMsg = false
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          const contact = JSON.parse(localStorage.getItem('interviewContact'))
          const skills = {
            recaptcha: str,
            userId: contact.id,
            skillsToAdd: this.selectedSkills.map((skill) => skill.id),
          }
          const skillsToDelete = this.currentSkills
            .filter(
              (skill) => !this.selectedSkills.some((el) => el.id === skill.id)
            )
            .map((skill) => skill.id)
          if (skillsToDelete.length > 0) skills.skillsToDelete = skillsToDelete
          const request = `${this.$axios.defaults.baseURL}assistants/interview/skills/save-skills`
          const data = await this.$axios.post(request, skills)
          if (!data.data.error) {
            localStorage.setItem(
              'interviewSkills',
              JSON.stringify(data.data.interviewSkills)
            )
            this.$router.push('/interview/work-experience')
            this.bussy = true
          } else {
            this.errorMsg = true
            this.bussy = true
          }
        }
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err)
      }
    },
  },
}
</script>

<style lang="scss">
.skills {
  .badge {
    background: #bfbfbf;
    border-radius: 40px;
    width: fit-content;
    padding: 9.5px 20px 9.5px 20px;
    display: flex;
    align-items: center;
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-align: center;
      color: #23272f;
    }
    &__button {
      margin-left: 20px;
      .icon {
        height: 20px;
        width: 20px;
      }
    }
    &--no-close {
      padding: 9.5px 40px 9.5px 40px;
    }
    &.delete-mode {
      background-color: #f03e5e;
      span {
        color: white;
      }
    }
  }

  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: 0.5;
    background: rgba(100, 100, 100, 0.35);
  }
  .list-group {
    span {
      padding: 2em 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
  .list-group-item {
    cursor: move;
  }
  .list-group-item i {
    cursor: pointer;
  }
  .list {
    &__header {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
    }
    &__list {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px;
      &-row {
        flex-direction: column;
        list-style: initial;
        padding-left: 1em;
      }
      @supports not (gap: 10px) {
        margin: -5px;
        & > * {
          margin: 5px;
        }
      }
    }
  }
  .badge {
    background: #bfbfbf;
    border-radius: 40px;
    width: fit-content;
    padding: 9.5px 20px 9.5px 20px;
    display: flex;
    align-items: center;
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-align: center;
      color: #23272f;
    }
    &__button {
      padding-left: 20px;
      img {
        width: 24px;
        height: auto;
      }
    }
    &--no-close {
      padding: 9.5px 40px 9.5px 40px;
    }
    &.delete-mode {
      background-color: #f03e5e;
      span {
        color: white;
      }
    }
  }
  .custom-v-select {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    min-height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #23272f70;
    .vs__dropdown-toggle {
      border: 0;
    }
    .vs__dropdown-menu {
      li {
        white-space: normal;
      }
    }
    .vs__selected {
      display: flex;
      align-items: center;
      background-color: #bfbfbf;
      border: 0;
      border-radius: 40px;
      color: #333;
      line-height: 1.4;
      margin: 4px 2px 0;
      padding: 10px 20px;
      z-index: 0;
      // text
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #23272f;
      white-space: normal;
      .vs__deselect {
        margin-left: 14px;
      }
    }
  }
}
</style>
