<template>
  <div class="studies question-page">
    <wizard-header title="Educación" />
    <wizard-tip
      content="Cuéntanos sobre tu formación y los idiomas que manejas."
    />

    <!-- Validation alerts -->
    <div
      v-if="invalidStudies || invalidLangs || invalidCaptcha"
      class="wizard-errors"
    >
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="!$v.studies.required" class="text">
            Debe agregar al menos un (1) estudio"
          </li>
          <li v-if="$v.studies.$each.$invalid" class="text">
            Debe completar todos los campos en estudios
          </li>
          <li v-if="$v.langs.$each.$invalid" class="text">
            Debe completar todos los campos en idiomas
          </li>
        </ul>
      </div>
    </div>

    <!-- Estudios -->
    <div class="items-label mb-12">
      <div class="title">Estudios</div>
      <tooltip
        content="Agregar estudio"
        animation="float"
        :active="studies.length === 0"
      >
        <button
          class="btn-fab"
          :disabled="bussy"
          title="Agregar estudio"
          @click="add"
        >
          <img :src="iconPlus" alt="" />
        </button>
      </tooltip>
    </div>
    <!-- Form -->
    <form class="wizard-form">
      <draggable tag="ol" :list="studies" handle=".handle">
        <li
          v-for="(study, index) in studies"
          :key="`ustudy-${index}`"
          class="cm-group-3 cm-group-3--a1a cm-row"
          :class="{ 'delete-mode': study.toDelete }"
        >
          <!-- Drag icon -->
          <button class="drag-button handle" title="Mover">
            <img :src="iconDrag" alt="" />
          </button>

          <!-- Fields -->
          <div>
            <div class="cm-group-2">
              <!-- Country -->
              <div class="wizard-form__input">
                <div class="country">
                  <div class="country__code">
                    <select
                      id="cboCountry"
                      class="input"
                      :class="{
                        'invalid-input':
                          $v.studies.$dirty &&
                          !$v.studies.$each[index].country.required,
                      }"
                      :value="study.country"
                      @change="(country) => setCountry(index, country)"
                    >
                      <option value="" selected disabled>Escoger país</option>
                      <option
                        v-for="(cp, j) in countries"
                        :key="`cp-${j}`"
                        :value="cp.id"
                      >
                        {{ cp.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Study type -->
              <div class="wizard-form__input">
                <select
                  id="cboStudyType"
                  v-model.lazy="study.studyType"
                  name="cboStudyType"
                  class="input"
                  :class="{
                    'invalid-input':
                      $v.studies.$dirty &&
                      !$v.studies.$each[index].studyType.required,
                    'to-delete': study.toDelete,
                  }"
                  :data-index="index"
                  :disabled="emptyStudyTypesArr"
                  @change="setDegreesLst"
                >
                  <template v-if="emptyStudyTypesArr">
                    <option value="" selected>Obteniendo datos...</option>
                  </template>
                  <template v-else>
                    <option value="" disabled selected>Tipo de Estudio</option>
                    <option
                      v-for="st in studyTypes"
                      :key="`st-${st.id}`"
                      :value="st.id"
                    >
                      {{ st.name }}
                    </option>
                  </template>
                </select>
              </div>
            </div>

            <!-- Degrees -->
            <div class="wizard-form__input wizard-form__input--mb-0 mt-5">
              <select
                id="cboCareers"
                v-model.lazy="study.degree"
                name="cboCareers"
                class="input"
                :class="{
                  'invalid-input':
                    $v.studies.$dirty &&
                    !$v.studies.$each[index].degree.required,
                  'disabled-input': study.studyType === '',
                  'to-delete': study.toDelete,
                }"
                :disabled="study.degreesLst.length === 0"
              >
                <option value="" disabled selected>Área de Estudio</option>
                <option
                  v-for="dl in study.degreesLst"
                  :key="`dl-${dl.id}`"
                  :value="dl.id"
                >
                  {{ dl.degree }}
                </option>
              </select>
            </div>
          </div>

          <!-- Actions buttons -->
          <div class="">
            <button
              v-if="
                (study.country === '' || study.country === null) &&
                study.studyType === '' &&
                study.degree === ''
              "
              title="Eliminar"
              @click.prevent="remove(index)"
            >
              <img :src="iconDelete" alt="" />
            </button>
            <button
              v-else
              class=""
              title="Eliminar"
              type="button"
              @click.prevent="confirmRemoveStudy(index)"
            >
              <img :src="iconDelete" alt="" />
            </button>
          </div>

          <!-- Confirm delete -->
          <div v-if="study.confirmToDelete" class="confirm-delete">
            <div class="wrapper">
              <div class="spacer"></div>
              <h2 class="message">¿Estás seguro de eliminar este estudio?</h2>
              <div class="actions mt-2">
                <button class="mr-5" @click.prevent="remove(index)">
                  <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                </button>
                <button @click.prevent="confirmRemoveStudy(index)">
                  <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </li>
      </draggable>
    </form>

    <!-- Langs -->
    <div class="items-label mb-20">
      <div class="title">Idiomas</div>
      <Tooltip
        content="Agregar idioma"
        animation="float"
        :active="langs.length === 0"
      >
        <button
          class="btn-fab"
          :disabled="bussy"
          title="Agregar idioma"
          @click="addLang"
        >
          <img :src="iconPlus" alt="" />
        </button>
      </Tooltip>
    </div>
    <form class="wizard-form">
      <draggable tag="ol" :list="langs" handle=".handle">
        <li
          v-for="(lang, index) in langs"
          :key="`uslang-${index}`"
          class="cm-group-3 cm-group-3--a1a cm-row"
          :class="{ 'delete-mode': lang.confirmToDelete }"
        >
          <!-- Drag icon -->
          <button class="drag-button handle" title="Mover">
            <img :src="iconDrag" alt="" />
          </button>

          <!-- Fields -->
          <div class="wizard-form">
            <div class="cm-group-2">
              <div class="wizard-form__input wizard-form__input--mb-0">
                <select
                  id="cboLang"
                  v-model="lang.langId"
                  class="input"
                  :class="{
                    'invalid-input':
                      $v.langs.$dirty && !$v.langs.$each[index].langId.required,
                  }"
                >
                  <option value="null" selected disabled>Escoger idioma</option>
                  <option
                    v-for="(lo, j) in langOptions"
                    :key="`lo-${j}`"
                    :value="lo.id"
                  >
                    {{ lo.lang }}
                  </option>
                </select>
              </div>
              <div class="wizard-form__input wizard-form__input--mb-0">
                <select
                  id="cboLangLevel"
                  v-model="lang.levelId"
                  class="input"
                  :class="{
                    'invalid-input':
                      $v.langs.$dirty &&
                      !$v.langs.$each[index].levelId.required,
                  }"
                >
                  <option value="null" selected disabled>Escoger nivel</option>
                  <option
                    v-for="(ll, j) in languageLevels"
                    :key="`ll-${j}`"
                    :value="ll.id"
                  >
                    {{ ll.level }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- Actions buttons -->
          <div class="">
            <button
              v-if="lang.langId === null && lang.level === null"
              class=""
              title="Eliminar"
              type="button"
              @click.stop="removeLang(index)"
            >
              <img :src="iconDelete" alt="" />
            </button>
            <button
              v-else
              title="Eliminar"
              @click.prevent="confirmRemoveLang(index)"
            >
              <!-- @click="confirmRemoveStudy(index)" -->
              <img :src="iconDelete" alt="" />
            </button>
          </div>

          <div v-if="lang.confirmToDelete" class="confirm-delete">
            <div class="wrapper">
              <div class="spacer"></div>
              <h2 class="message">¿Estás seguro de eliminar este idioma?</h2>
              <div class="actions mt-2">
                <button class="mr-5" @click.prevent="removeLang(index)">
                  <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                </button>
                <button @click.prevent="confirmRemoveLang(index)">
                  <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </li>
      </draggable>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import draggable from 'vuedraggable'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import iconError from '@/assets/img/ui-icon-error.svg'
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
export default {
  components: {
    draggable,
    wizardHeader,
    WizardTip,
    Tooltip,
  },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      show: true,
      iconError,
      iconDrag,
      iconDelete,
      iconPlus,
      studies: [],
      studiesToDelete: [],
      langs: [],
      langsToDelete: [],
      x: [],
      countries: [],
      studyTypes: [],
      degrees: [],
      countryErrors: false,
      studyTypeErrors: false,
      degreeErrors: false,
      bussy: false,
      query: '',
      invalidCaptcha: false,
      langSelected: '',
      langOptions: [],
      levelLangSelected: '',
      languageLevels: [],
    }
  },
  validations: {
    studies: {
      required,
      $each: {
        country: { required },
        studyType: { required },
        degree: { required },
      },
    },
    langs: {
      $each: {
        langId: { required },
        levelId: { required },
      },
    },
  },
  computed: {
    emptyCountriesArr() {
      return this.countries.length === 0
    },
    emptyStudyTypesArr() {
      return this.studyTypes.length === 0
    },
    invalidStudies() {
      return this.$v.studies.$dirty && this.$v.studies.$invalid
    },
    invalidLangs() {
      return this.$v.langs.$dirty && this.$v.langs.$invalid
    },
  },
  async created() {
    if (
      !localStorage.getItem('studyTypesArr') ||
      !localStorage.getItem('degreesArr') ||
      !localStorage.getItem('languagesArr') ||
      !localStorage.getItem('languageLevelsArr') ||
      !localStorage.getItem('countriesArr')
    ) {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/interview/studies/get-data`
        )
        .then((res) => {
          this.studyTypes = res.studyTypes
          this.degrees = res.degrees
          this.langOptions = res.languages
          this.languageLevels = res.languageLevels
          this.countries = res.countries
          localStorage.setItem('studyTypesArr', JSON.stringify(res.studyTypes))
          localStorage.setItem('degreesArr', JSON.stringify(res.degrees))
          localStorage.setItem('languagesArr', JSON.stringify(res.languages))
          localStorage.setItem(
            'languageLevelsArr',
            JSON.stringify(res.languageLevels)
          )
          localStorage.setItem('countriesArr', JSON.stringify(res.countries))
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    } else {
      this.studyTypes = JSON.parse(localStorage.getItem('studyTypesArr'))
      this.degrees = JSON.parse(localStorage.getItem('degreesArr'))
      this.langOptions = JSON.parse(localStorage.getItem('languagesArr'))
      this.languageLevels = JSON.parse(
        localStorage.getItem('languageLevelsArr')
      )
      this.countries = JSON.parse(localStorage.getItem('countriesArr'))
    }
    if (
      localStorage.getItem('interviewStudies') &&
      localStorage.getItem('interviewStudies') !== 'empty'
    ) {
      // eslint-disable-next-line prefer-const
      let oldData = JSON.parse(localStorage.getItem('interviewStudies'))
      let studiesCopy = []
      studiesCopy = oldData.studies.map((s) => {
        const studyCopy = { ...s }
        studyCopy.showCountries = false
        studyCopy.degreesLst = this.getDegrees(studyCopy.studyType)
        studyCopy.country = this.getCountry(studyCopy.country)
        return studyCopy
      })
      // eslint-disable-next-line prefer-const
      this.studies = studiesCopy
      this.langs = oldData.langs
      this.langs.forEach((lang) => {
        lang.confirmToDelete = false
      })
      this.studies.forEach((study) => {
        study.confirmToDelete = false
      })
    }
  },
  methods: {
    getCountry(countryCode) {
      if (countryCode) {
        return this.countries.find((c) => {
          return c.id === countryCode
        }).id
      } else return ''
    },
    add() {
      this.studies.push({
        id: null,
        country: '',
        studyType: '',
        degree: '',
        degreesLst: [],
        toDelete: false,
        confirmToDelete: false,
      })
    },
    addLang() {
      this.langs.push({
        id: null,
        langId: null,
        levelId: null,
        toDelete: false,
        confirmToDelete: false,
      })
    },
    remove(index) {
      const studyCopy = { ...this.studies[index] }
      studyCopy.toDelete = !studyCopy.toDelete
      delete studyCopy.showCountries
      delete studyCopy.degreesLst
      // studyCopy.country = studyCopy.country.id
      this.studies.splice(index, 1)
      if (studyCopy.id !== null) {
        this.studiesToDelete.push(studyCopy)
      }
    },
    removeLang(index) {
      const langCopy = { ...this.langs[index] }
      langCopy.toDelete = !langCopy.toDelete
      this.langs.splice(index, 1)
      if (langCopy.id !== null) {
        this.langsToDelete.push(langCopy)
      }
    },
    setCountry(index, country) {
      this.studies[index].country = country.target.value
    },
    goBack() {
      this.$router.push('/interview/salary-expectation')
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('degrees')
      localStorage.removeItem('studyTypes')
      localStorage.removeItem('languages')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
    setDegreesLst(event) {
      const index = event.target.dataset.index
      this.studies[index].degree = ''
      this.studies[index].degreesLst = this.degrees.filter(
        (d) => d.studyTypeId === this.studies[index].studyType
      )
    },
    getDegrees(value) {
      const degs = this.degrees.filter((d) => d.studyTypeId === value)
      return degs
    },
    async checkForm() {
      try {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.bussy = true
          const contact = JSON.parse(localStorage.getItem('interviewContact'))
          let studiesCopy = []
          studiesCopy = this.studies.map((s) => {
            const studyCopy = { ...s }
            const code = studyCopy.country
            studyCopy.country = code
            delete studyCopy.degreesLst
            return studyCopy
          })
          const data = {
            userId: contact.id,
            studies: studiesCopy.concat(this.studiesToDelete),
            languages: this.langs.concat(this.langsToDelete),
          }
          if (data.studies.length || data.languages.length) {
            await this.$recaptcha.init()
            // Get token to verify.
            const str = await this.$recaptcha.execute('login')
            data.recaptcha = str
            this.$axios
              .$post(
                `${this.$axios.defaults.baseURL}assistants/interview/studies/save`,
                data
              )
              .then((res) => {
                if (res.captchaError) {
                  this.invalidCaptcha = true
                  this.bussy = false
                } else {
                  const userStudies = {
                    studies: res.userStudies,
                    langs: res.userLanguages,
                  }
                  localStorage.setItem(
                    'interviewStudies',
                    JSON.stringify(userStudies)
                  )
                  this.$router.push('/interview/skills')
                }
              })
              .catch((error) => {
                this.bussy = false
                // eslint-disable-next-line no-console
                console.log(error)
              })
          } else {
            localStorage.setItem('interviewStudies', 'empty')
            this.$router.push('/interview/skills')
          }
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    confirmRemoveStudy(index) {
      const studyCopy = { ...this.studies[index] }
      studyCopy.confirmToDelete = !studyCopy.confirmToDelete
      this.studies.splice(index, 1, studyCopy)
    },
    confirmRemoveLang(index) {
      const langCopy = { ...this.langs[index] }
      langCopy.confirmToDelete = !langCopy.confirmToDelete
      this.langs.splice(index, 1, langCopy)
    },
  },
}
</script>

<style lang="scss">
#cboCountry {
  width: 100%;
}
$neutral: #bfbfbf;
$error: #f03e5e;
.studies {
  .drag-button {
    cursor: move;
    position: relative;
    height: 100%;
    &::after {
      display: none;
      content: '';
      height: 100%;
      width: 3px;
      background: $neutral;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(20px);
      background: $neutral;
      background: linear-gradient(
        0deg,
        rgba($neutral, 0) 0%,
        $neutral 50%,
        rgba($neutral, 0) 100%
      );
    }
  }

  .bounce-enter-active {
    // animation: bounce-in 0.5s;
    transition: all 0.5s ease;
  }
  .bounce-leave-active {
    // animation: bounce-in 0.5s reverse;
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .bounce-enter, .bounce-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .wizard-form__input {
    margin-bottom: 20px;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @media (max-width: 768px) {
    .wizard-form__input {
      margin-bottom: 0px;
    }
    .cm-group-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      .mb-20 {
        // margin-bottom: 0 !important;
      }
    }
  }
}
// .vs__dropdown-toggle {
//   border: none !important;
// }
// .vs__selected {
//   margin: 0 !important;
//   padding: 0 !important;
//   overflow: hidden !important;
//   white-space: nowrap !important;
// }
// .disabled-input {
//   @apply border-2 border-solid border-gray-400 text-gray-400 #{!important};
// }
// .invalid-input {
//   @apply border-2 border-solid #{!important};
//   border-color: coral #{!important};
// }
// .to-delete {
//   background-color: coral !important;
// }
// .combine-two-mobile {
//   @apply col-span-2 lg:col-span-1;
// }
// .combine-two {
//   @apply sm:col-span-2;
// }
// .vs__selected {
//   @apply w-28;
// }
// @media screen and (min-width: 360px) {
//   .vs__selected {
//     @apply w-40;
//   }
// }
// @media screen and (min-width: 414px) {
//   .vs__selected {
//     @apply w-48;
//   }
// }
// @media screen and (min-width: 600px) {
//   .vs__selected {
//     @apply w-96;
//   }
// }
// @media screen and (min-width: 768px) {
//   .vs__selected {
//     @apply w-52;
//   }
// }
// @media screen and (min-width: 800px) {
//   .vs__selected {
//     @apply w-52;
//   }
// }
// @media screen and (min-width: 960px) {
//   .vs__selected {
//     @apply w-72;
//   }
// }
// @media screen and (min-width: 1024px) {
//   .vs__selected {
//     @apply w-28;
//   }
// }
// @media screen and (min-width: 1280px) {
//   .vs__selected {
//     @apply w-44;
//   }
// }
// @media screen and (min-width: 1360px) {
//   .vs__selected {
//     @apply w-48;
//   }
// }
// @media screen and (min-width: 1440px) {
//   .vs__selected {
//     @apply w-52;
//   }
// }
// @media screen and (min-width: 1920px) {
//   .vs__selected {
//     @apply w-80;
//   }
// }
// .vs__dropdown-toggle {
//   @apply px-2 h-full;
// }
// .vs__selected-options {
//   @apply flex-nowrap;
// }
// .vs__selected {
//   @apply m-0;
// }
// .studies {
//   @apply text-darkgray font-brandLight;
//   .title {
//     @apply grid grid-cols-3 my-10 text-center text-2xl sm:text-4xl font-brandBold;
//     &__button {
//       .icon {
//         @apply h-10 w-10 mx-auto;
//       }
//     }
//   }
//   .tip {
//     @apply px-9 my-5 sm:px-0;
//     &__wrapper {
//       @apply p-3 flex flex-col sm:flex-row items-center justify-center mt-0 sm:mt-14 mx-auto rounded-lg shadow-lg space-x-4 sm:w-8/12 font-semibold mb-5 bg-lightgray;
//       background-color: #f5f5f5;
//       .icon {
//         @apply h-10 w-10 text-cyanblue font-semibold;
//       }
//       .text {
//         @apply sm:text-lg;
//         .line-break {
//           @apply hidden sm:block;
//         }
//       }
//     }
//   }
//   .alert {
//     @apply text-white rounded-md sm:mt-5 p-2 mx-9 sm:mx-auto sm:w-8/12;
//     background-color: coral;
//     &__messages {
//       @apply flex space-x-2 space-y-2 items-center;
//       .icon {
//         font-family: 'Material Icons';
//         font-weight: normal;
//         font-style: normal;
//         font-size: 24px;
//         letter-spacing: normal;
//         text-transform: none;
//         display: inline-block;
//         white-space: nowrap;
//         word-wrap: normal;
//         direction: ltr;
//         -webkit-font-feature-settings: 'liga';
//         -webkit-font-smoothing: antialiased;
//       }
//       .text {
//         @apply mt-0 #{!important};
//       }
//     }
//   }
//   .education-form {
//     @apply px-9 mt-14 mx-auto w-full sm:px-0 sm:w-8/12;
//     &__row {
//       @apply flex flex-row items-center space-x-1 font-semibold mb-5 p-1 rounded-xl;
//       .no-studies-cell {
//         @apply mx-auto;
//       }
//       .cell {
//         @apply flex-none;
//         &__btn {
//           .drag {
//             font-family: 'Material Icons';
//             font-weight: normal;
//             font-style: normal;
//             font-size: 24px;
//             letter-spacing: normal;
//             text-transform: none;
//             display: inline-block;
//             white-space: nowrap;
//             word-wrap: normal;
//             direction: ltr;
//             -webkit-font-feature-settings: 'liga';
//             -webkit-font-smoothing: antialiased;
//             @apply h-6 w-6 cursor-move text-darkgray;
//           }
//         }
//         &__cancel-delete {
//           .icon {
//             @apply h-6 w-6 cursor-pointer text-white;
//           }
//         }
//         &__delete {
//           .icon {
//             @apply h-6 w-6 cursor-pointer text-red-500;
//           }
//         }
//       }
//       .cell-fields {
//         @apply w-full flex flex-col space-y-2;
//         &__combined,
//         &__simple {
//           @apply w-full;
//           .input {
//             @apply border-2 border-darkgray h-12 rounded-xl w-full;
//             .flag {
//               @apply h-5 mr-3;
//             }
//           }
//         }
//         &__combined {
//           @apply flex flex-col space-y-2 md:space-y-0 md:space-x-2 md:flex-row;
//           .combined-field {
//             @apply flex-1;
//           }
//         }
//       }
//     }
//   }
//   .add-education-container {
//     @apply px-9 sm:px-0 mt-3 mx-auto w-full sm:w-8/12;
//     &__button {
//       @apply bg-cyanblue flex-1 text-white font-brandBold rounded-xl py-1 shadow-lg w-full;
//     }
//   }
//   .step_actions {
//     @apply px-9 sm:px-0 my-5 sm:mt-14 mx-auto flex w-full items-center justify-center space-x-2 sm:w-3/12 sm:flex-row;
//     &__loading {
//       width: 100px;
//     }
//     &__button {
//       @apply bg-darkgray flex-1 text-aquagreen font-brandBold rounded-xl py-2 px-5 shadow-lg;
//     }
//   }
// }
</style>
