<template>
  <div class="work-experience question-page">
    <wizard-header title="Experiencia Laboral" />
    <wizard-tip
      content="¿En que proyectos o empresas has podido demostrar tu talento anteriormente?"
    />
    <!-- Experiencia -->
    <div class="items-label mb-20">
      <div class="title">Experiencia</div>
      <Tooltip
        content="Agregar una experiencia"
        animation="float"
        :active="experiences.length === 0"
      >
        <button
          class="btn-fab"
          :disabled="bussy"
          title="Agregar experiencia"
          @click="toggleModal = true"
        >
          <img src="@/assets/img/ui-icon-plus.svg" alt="" />
        </button>
      </Tooltip>
    </div>
    <div class="wizard-form">
      <draggable tag="ol" :list="experiences" handle=".handle">
        <li
          v-for="(exp, i) in experiences"
          :key="`exp-${i}`"
          class="cm-group-3 cm-group-3--a1a cm-row"
          :class="{ 'delete-mode': exp.toDelete }"
        >
          <!-- Drag button -->
          <button class="drag-button handle" title="Mover">
            <img :src="iconDrag" alt="" />
          </button>

          <!-- Experience details -->
          <h2 class="experience">
            <span>{{ getPositionName(exp.position) }} en</span>
            <span class="italic">{{ exp.company }}</span>
          </h2>

          <!-- Action buttons row -->
          <div>
            <button
              class="cell__edit mr-5"
              title="Editar experiencia"
              @click.prevent="edit(i)"
            >
              <img src="@/assets/img/ui-icon-edit.svg" alt="" />
            </button>
            <button
              class="cell__delete"
              :title="
                exp.experienceId !== null
                  ? 'Cancelar eliminar experiencia'
                  : 'Quitar de la lista'
              "
              @click.prevent="confirmRemove(i)"
            >
              <img src="@/assets/img/ui-icon-delete.svg" alt="" />
            </button>
          </div>

          <!-- Confirm delete -->
          <div v-if="exp.confirmToDelete" class="confirm-delete">
            <div class="wrapper">
              <div class="spacer"></div>
              <h2 class="message">
                ¿Estás seguro de eliminar esta experiencia?
              </h2>
              <div class="actions mt-2">
                <button class="mr-5" @click.prevent="remove(i)">
                  <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                </button>
                <button @click.prevent="confirmRemove(i)">
                  <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </li>
      </draggable>
    </div>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>

    <!-- Experiences Modal Form -->
    <div v-if="toggleModal" class="modal" @click.self="closeExperienceModal">
      <div class="modal__wrapper">
        <div class="content">
          <!-- Header -->
          <div class="content__header">
            <h3 class="title-1 mb-40">Nueva Experiencia Laboral</h3>
          </div>

          <!-- Body -->
          <div class="content__body">
            <!-- Validation alerts -->
            <div
              v-if="
                ($v.$dirty && $v.$invalid) ||
                invalidDates ||
                invalidCaptcha ||
                invalidActual
              "
              class="wizard-errors"
            >
              <div class="wizard-errors__message">
                <img :src="iconError" class="icon" alt="" />
                <ul class="wizard-errors__errors">
                  <li v-if="invalidCaptcha" class="text">
                    No se pudo comprobar el recaptcha. Recargue la página
                  </li>
                  <li v-if="!$v.companyName.required" class="text">
                    El nombre de la compañía es requerido
                  </li>
                  <li v-if="!$v.companyName.minLength" class="text">
                    El nombre de la compañía debe contener mínimo 3 caracteres
                  </li>
                  <li v-if="!$v.companyName.maxLength" class="text">
                    El nombre de la compañía debe contener máximo 50 caracteres
                  </li>
                  <li v-if="!$v.companyActivity.required" class="text">
                    La actividad de la compañía es requerida
                  </li>
                  <li v-if="!$v.position.required" class="text">
                    El cargo es requerido
                  </li>
                  <li v-if="!$v.peopleInCharge.required" class="text">
                    El número de personas a cargo es requerido
                  </li>
                  <li
                    v-if="
                      !$v.peopleInCharge.numeric || !$v.peopleInCharge.minValue
                    "
                    class="text"
                  >
                    El número de personas a cargo sólo permite números enteros
                    positivos
                  </li>
                  <li v-if="!$v.peopleInCharge.maxLength" class="text">
                    El número de personas a cargo no puede tener más de 3 cifras
                  </li>
                  <li
                    v-if="fromYearErrors || fromMonthErrors || fromDayErrors"
                    class="text"
                  >
                    La fecha de inicio es requerida
                  </li>
                  <li
                    v-if="toYearErrors || toMonthErrors || toDayErrors"
                    class="text"
                  >
                    La fecha de culminación es requerida
                  </li>
                  <li v-if="invalidDates" class="text">
                    La fecha "Hasta" no puede ser anterior a "Desde"
                  </li>
                  <li v-if="invalidActual" class="text">
                    No debe enviar fecha "Hasta" si es su empleo actual
                  </li>
                </ul>
              </div>
            </div>

            <!-- form -->
            <form class="wizard-form">
              <div class="cm-group-2">
                <!-- Company name -->
                <div class="wizard-form__input">
                  <label class="label" for="txtCompany"
                    >Nombre de la empresa</label
                  >
                  <input
                    id="txtCompany"
                    v-model.trim="companyName"
                    class="input"
                    :class="{
                      'invalid-input':
                        companyNameErrors && !$v.companyName.required,
                    }"
                    type="text"
                    name="txtCompany"
                    minlength="3"
                    maxlength="50"
                    placeholder="Ej: Clínicas Caracas"
                  />
                </div>

                <!-- Company activity -->
                <div class="wizard-form__input">
                  <label class="label" for="cboCompanyActivity"
                    >Actividad de la empresa</label
                  >
                  <select
                    id="cboCompanyActivity"
                    v-model="companyActivity"
                    class="input"
                    :class="{
                      'invalid-input':
                        companyActivityErrors && !$v.companyActivity.required,
                    }"
                    name="cboCompanyActivity"
                  >
                    <option value="" selected disabled>
                      Escoger una opción
                    </option>
                    <option
                      v-for="ca in companyActivities"
                      :key="ca.id"
                      :value="ca.id"
                    >
                      {{ ca.activity }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="cm-group-2">
                <!-- Position -->
                <div class="wizard-form__input">
                  <label class="label" for="txtPosition">Cargo</label>
                  <select
                    id="txtPosition"
                    v-model="position"
                    class="input"
                    :class="{
                      'invalid-input': positionErrors && !$v.position.required,
                    }"
                    name="txtPosition"
                  >
                    <option value="" selected disabled>
                      Escoger una opción
                    </option>
                    <option v-for="ca in positions" :key="ca.id" :value="ca.id">
                      {{ ca.position }}
                    </option>
                  </select>
                </div>

                <!-- People in charge -->
                <div class="wizard-form__input">
                  <label class="label" for="txtPeopleInCharge"
                    >Personas a cargo</label
                  >
                  <input
                    id="txtPeopleInCharge"
                    v-model="peopleInCharge"
                    class="input number-input"
                    :class="{
                      'invalid-input': peopleInChargeErrors,
                    }"
                    type="text"
                    maxlength="3"
                    name="txtPeopleInCharge"
                    @keypress="isValidPeopleInCharge($event)"
                  />
                </div>
              </div>

              <div class="cm-group-2">
                <div class="wizard-form__input">
                  <!-- From -->
                  <label class="label">Desde</label>
                  <div class="cm-group-3">
                    <!-- Year -->
                    <select
                      id="cboYear"
                      v-model="fromYear"
                      class="input"
                      :class="{
                        'invalid-input':
                          (fromYearErrors && !$v.fromYear.required) ||
                          invalidDates,
                      }"
                      name="cboYear"
                    >
                      <option value="" selected disabled>Año</option>
                      <option v-for="y in years" :key="y" :value="y">
                        {{ y }}
                      </option>
                    </select>
                    <!-- Month -->
                    <select
                      v-model="fromMonth"
                      class="input date-input"
                      :class="{
                        'invalid-input':
                          (fromMonthErrors && !$v.fromMonth.required) ||
                          invalidDates,
                        'disabled-input': fromYear === '',
                      }"
                      name="cboMonth"
                      :disabled="fromYear === ''"
                    >
                      <option value="" selected disabled>Mes</option>
                      <option
                        v-for="m in months"
                        :key="m.code"
                        :value="m.value"
                      >
                        {{ m.name }}
                      </option>
                    </select>
                    <!-- Day -->
                    <select
                      id="cboDay"
                      v-model="fromDay"
                      class="input date-input"
                      :class="{
                        'invalid-input':
                          (fromDayErrors && !$v.fromDay.required) ||
                          invalidDates,
                        'disabled-input': fromMonth === '',
                      }"
                      name="cboDay"
                      :disabled="fromMonth === ''"
                    >
                      <option value="" selected disabled>Día</option>
                      <option v-for="d in daysFrom" :key="d" :value="d">
                        {{ d }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="wizard-form__input">
                  <!-- To -->
                  <label class="label">Hasta</label>
                  <div class="cm-group-3">
                    <!-- Year -->
                    <select
                      id="cboYear"
                      v-model="toYear"
                      class="input"
                      :class="{
                        'invalid-input':
                          (toYearErrors && !$v.toYear.required) || invalidDates,
                      }"
                      name="cboYear"
                      :disabled="actual"
                    >
                      <option value="" selected disabled>Año</option>
                      <option v-for="y in years" :key="y" :value="y">
                        {{ y }}
                      </option>
                    </select>
                    <!-- Month -->
                    <select
                      v-model="toMonth"
                      class="input date-input"
                      :class="{
                        'invalid-input':
                          (toMonthErrors && !$v.toMonth.required) ||
                          invalidDates,
                        'disabled-input': toYear === '',
                      }"
                      name="cboMonth"
                      :disabled="toYear === ''"
                    >
                      <option value="" selected disabled>Mes</option>
                      <option
                        v-for="m in months"
                        :key="m.code"
                        :value="m.value"
                      >
                        {{ m.name }}
                      </option>
                    </select>
                    <!-- Day -->
                    <select
                      id="cboDay"
                      v-model="toDay"
                      class="input date-input"
                      :class="{
                        'invalid-input':
                          (toDayErrors && !$v.toDay.required) || invalidDates,
                        'disabled-input': toMonth === '',
                      }"
                      name="cboDay"
                      :disabled="toMonth === ''"
                    >
                      <option value="" selected disabled>Día</option>
                      <option v-for="d in daysTo" :key="d" :value="d">
                        {{ d }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="actual-job-wrapper">
                <label for="actualJob" class="mr-5">Es mi trabajo actual</label>
                <input
                  id="actualJob"
                  v-model="actual"
                  type="checkbox"
                  name="actual"
                  @click="clearToDate"
                />
              </div>
            </form>
          </div>

          <!-- Actions -->
          <div class="step-actions">
            <button
              type="button"
              class="step-actions__button"
              @click="closeExperienceModal"
            >
              Cancelar
            </button>
            <button
              v-if="isUpdate"
              type="button"
              class="step-actions__button"
              @click="update"
            >
              Actualizar
            </button>
            <button
              v-else
              type="button"
              class="step-actions__button"
              @click="add"
            >
              Agregar
            </button>
          </div>

          <!-- Close Btn -->
          <div class="close-btn">
            <button
              class="wizard-header__button"
              title="Volver al home page"
              @click="closeExperienceModal"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="toggleModal" class="layer"></div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required,
  requiredUnless,
  minLength,
  maxLength,
  minValue,
  numeric,
} from 'vuelidate/lib/validators'
import draggable from 'vuedraggable'
import iconError from '@/assets/img/ui-icon-error.svg'
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
export default {
  components: {
    draggable,
    wizardHeader,
    WizardTip,
    Tooltip,
  },
  mixins: [validationMixin],
  layout: 'assistants/talents',
  middleware: 'validateStep',
  data() {
    return {
      iconDrag,
      iconError,
      toggleModal: false, // Hide/Show Modal window
      index: null,
      experienceId: null,
      companyActivities: [],
      positions: [],
      companyName: '',
      companyActivity: '',
      position: '',
      actual: false,
      peopleInCharge: '',
      fromYear: '',
      fromMonth: '',
      fromDay: '',
      toYear: '',
      toMonth: '',
      toDay: '',
      experiences: [],
      bussy: false,
      months: [
        { value: '01', name: 'Enero' },
        { value: '02', name: 'Febrero' },
        { value: '03', name: 'Marzo' },
        { value: '04', name: 'Abril' },
        { value: '05', name: 'Mayo' },
        { value: '06', name: 'Junio' },
        { value: '07', name: 'Julio' },
        { value: '08', name: 'Agosto' },
        { value: '09', name: 'Septiembre' },
        { value: '10', name: 'Octubre' },
        { value: '11', name: 'Noviembre' },
        { value: '12', name: 'Diciembre' },
      ],
      daysRange: [28, 30, 31],
      invalidCaptcha: false,
      experienceToEdit: {},
      experiencesToDelete: [],
    }
  },
  validations: {
    companyName: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(50),
    },
    companyActivity: { required },
    position: { required },
    peopleInCharge: {
      required,
      minValue: minValue(0),
      maxLength: maxLength(3),
      numeric,
    },
    fromYear: { required },
    fromMonth: { required },
    fromDay: { required },
    toYear: {
      required: requiredUnless(function () {
        return this.actual // return true if this field is required
      }),
    },
    toMonth: {
      required: requiredUnless(function () {
        return this.actual // return true if this field is required
      }),
    },
    toDay: {
      required: requiredUnless(function () {
        return this.actual // return true if this field is required
      }),
    },
  },
  computed: {
    noExperiences() {
      return this.experiences.length === 0
    },
    years() {
      const d = new Date()
      // eslint-disable-next-line prefer-const
      let years = []
      const start = d.getFullYear()
      const end = start - 50
      for (let i = start; i > end; i--) {
        years.push(i)
      }
      // eslint-disable-next-line no-console
      return years
    },
    isLeapYearFrom() {
      return (
        (this.fromYear % 4 === 0 && this.fromYear % 100 !== 0) ||
        this.fromYear % 400 === 0
      )
    },
    isLeapYearTo() {
      return (
        (this.toYear % 4 === 0 && this.toYear % 100 !== 0) ||
        this.toYear % 400 === 0
      )
    },
    daysFrom() {
      // eslint-disable-next-line prefer-const
      let ds = []
      switch (this.fromMonth) {
        case '02':
          for (let i = 1; i <= this.daysRange[0]; i++) {
            ds.push(i)
          }
          if (this.isLeapYearFrom) {
            ds.push(29)
          }
          break
        case '01':
        case '03':
        case '05':
        case '07':
        case '08':
        case '10':
        case '12':
          for (let i = 1; i <= this.daysRange[2]; i++) {
            ds.push(i)
          }
          break
        default:
          for (let i = 1; i <= this.daysRange[1]; i++) {
            ds.push(i)
          }
          break
      }
      return ds
    },
    daysTo() {
      // eslint-disable-next-line prefer-const
      let ds = []
      switch (this.toMonth) {
        case '02':
          for (let i = 1; i <= this.daysRange[0]; i++) {
            ds.push(i)
          }
          if (this.isLeapYearTo) {
            ds.push(29)
          }
          break
        case '01':
        case '03':
        case '05':
        case '07':
        case '08':
        case '10':
        case '12':
          for (let i = 1; i <= this.daysRange[2]; i++) {
            ds.push(i)
          }
          break
        default:
          for (let i = 1; i <= this.daysRange[1]; i++) {
            ds.push(i)
          }
          break
      }
      return ds
    },
    isUpdate() {
      return this.index !== null
    },
    companyNameErrors() {
      return this.$v.companyName.$dirty && !this.$v.companyName.required
    },
    companyActivityErrors() {
      return this.$v.companyActivity.$dirty && !this.$v.companyActivity.required
    },
    positionErrors() {
      return this.$v.position.$dirty && !this.$v.position.required
    },
    peopleInChargeErrors() {
      return this.$v.peopleInCharge.$dirty && this.$v.peopleInCharge.$invalid
    },
    fromYearErrors() {
      return this.$v.fromYear.$dirty && !this.$v.fromYear.required
    },
    fromMonthErrors() {
      return this.$v.fromMonth.$dirty && !this.$v.fromMonth.required
    },
    fromDayErrors() {
      return this.$v.fromDay.$dirty && !this.$v.fromDay.required
    },
    toYearErrors() {
      return this.$v.toYear.$dirty && !this.$v.toYear.required
    },
    toMonthErrors() {
      return this.$v.toMonth.$dirty && !this.$v.toMonth.required
    },
    toDayErrors() {
      return this.$v.toDay.$dirty && !this.$v.toDay.required
    },
    invalidDates() {
      const start = new Date(
        `${this.fromYear}/${this.fromMonth}/${this.fromDay}`
      ).getTime()
      const end = new Date(
        `${this.toYear}/${this.toMonth}/${this.toDay}`
      ).getTime()
      let isInValid = false

      if (this.experiences[this.index] && this.experiences[this.index].actual) {
        isInValid = false
      } else {
        isInValid = start > end
      }
      return isInValid
    },
    invalidActual() {
      return (
        (this.toYear !== '' || this.toMonth !== '' || this.toDay !== '') &&
        this.actual
      )
    },
  },
  async created() {
    await this.$axios
      .$get(
        `${this.$axios.defaults.baseURL}assistants/interview/work-experience/get-data`
      )
      .then((res) => {
        this.companyActivities = res.companyActivities
        this.positions = res.positions
      })
      .catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    if (
      localStorage.getItem('interviewWorkExperience') &&
      localStorage.getItem('interviewWorkExperience') !== 'empty'
    ) {
      const oldData = JSON.parse(
        localStorage.getItem('interviewWorkExperience')
      )
      this.experiences = oldData
      this.experiences.forEach((exp) => {
        exp.confirmToDelete = false
      })
    }
  },
  methods: {
    isValidPeopleInCharge(evt) {
      evt = evt || window.event
      const charCode = evt.which ? evt.which : evt.keyCode
      if (charCode >= 48 && charCode <= 57) {
        return true
      } else {
        evt.preventDefault()
      }
    },
    getDate(dateString) {
      const objDate = new Date(dateString)
      return objDate
    },
    getPositionName(positionId) {
      const positionName = this.positions.filter((position) => {
        return position.id === positionId
      })
      // console.debug(positionName)
      return positionName[0].position
    },
    closeExperienceModal() {
      this.toggleModal = false
      this.index = null
      this.$v.$reset()
      this.resetForm()
    },
    add() {
      this.$v.$touch()
      if (!this.$v.$invalid && !this.invalidDates && !this.invalidActual) {
        const expData = {
          experienceId: this.experienceId,
          company: this.companyName,
          companyActivityId: this.companyActivity,
          position: this.position,
          dependents: this.peopleInCharge,
          from: `${this.fromYear}-${this.fromMonth}-${this.fromDay}`,
          to: this.setToDate(),
          toDelete: false,
          confirmToDelete: false,
          actual: this.actual,
        }
        this.experiences.push(expData)
        this.toggleModal = false
        this.$v.$reset()
        this.resetForm()
      }
    },
    update() {
      this.$v.$touch()
      if (!this.$v.$invalid && !this.invalidDates && !this.invalidActual) {
        const expData = {
          experienceId: this.experienceId,
          company: this.companyName,
          companyActivityId: this.companyActivity,
          position: this.position,
          dependents: this.peopleInCharge,
          from: `${this.fromYear}-${this.fromMonth}-${this.fromDay}`,
          to: this.setToDate(),
          toDelete: false,
          actual: this.actual,
        }
        this.experiences.splice(this.index, 1, expData)
        this.toggleModal = false
        this.$v.$reset()
        this.resetForm()
      }
    },
    edit(index) {
      this.index = index
      const exp = { ...this.experiences[this.index] }
      const fromDate = this.experiences[this.index].from.split('-')
      if (this.experiences[this.index].to) {
        const toDate = this.experiences[this.index].to.split('-')
        this.toYear = toDate[0]
        this.toMonth = toDate[1]
        this.toDay = toDate[2]
      }
      this.experienceId = exp.experienceId
      this.companyName = exp.company
      this.companyActivity = exp.companyActivityId
      this.position = exp.position
      this.peopleInCharge = exp.dependents
      this.fromYear = fromDate[0]
      this.fromMonth = fromDate[1]
      this.fromDay = fromDate[2]
      this.actual = exp.actual
      this.toggleModal = true
    },
    clearToDate() {
      this.toYear = ''
      this.toMonth = ''
      this.toDay = ''
    },
    confirmRemove(index) {
      const expCopy = { ...this.experiences[index] }
      expCopy.confirmToDelete = !expCopy.confirmToDelete
      this.experiences.splice(index, 1, expCopy)
    },
    remove(index) {
      const expCopy = { ...this.experiences[index] }
      expCopy.toDelete = !expCopy.toDelete
      this.experiences.splice(index, 1)
      if (expCopy.id !== null) {
        this.experiencesToDelete.push(expCopy)
      }
    },
    cancelDelete(index) {
      this.experiences[index].toDelete = false
    },
    goBack() {
      this.$router.push('/interview/skills')
    },
    cancel() {
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('degrees')
      localStorage.removeItem('studyTypes')
      localStorage.removeItem('languages')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
      this.$router.push('/')
    },
    async checkForm() {
      try {
        // eslint-disable-next-line prefer-const
        if (this.experiences.length > 0) {
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          const contact = JSON.parse(localStorage.getItem('interviewContact'))

          const data = {
            userId: contact.id,
            experiences: this.experiences.concat(this.experiencesToDelete),
            recaptcha: str,
          }
          await this.$axios
            .$post(
              `${this.$axios.defaults.baseURL}assistants/interview/work-experience/save`,
              data
            )
            .then((res) => {
              if (res.captchaError) {
                this.invalidCaptcha = true
                this.bussy = false
              } else {
                const userExperiences = {
                  userId: res.userId,
                  experiencies: res.userExperiences,
                }
                localStorage.setItem(
                  'interviewWorkExperience',
                  userExperiences.experiencies.length === 0
                    ? 'empty'
                    : JSON.stringify(userExperiences.experiencies)
                )
                this.$router.push('/interview/extra-data')
              }
            })
            .catch((error) => {
              // eslint-disable-next-line no-console
              console.log(error)
              this.bussy = false
            })
        } else {
          localStorage.setItem('interviewWorkExperience', 'empty')
          this.$router.push('/interview/extra-data')
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    resetForm() {
      this.companyName = ''
      this.companyActivity = ''
      this.position = ''
      this.peopleInCharge = ''
      this.fromYear = ''
      this.fromMonth = ''
      this.fromDay = ''
      this.toYear = ''
      this.toMonth = ''
      this.toDay = ''
      this.actual = false
    },
    setToDate() {
      let toDate = ''
      if (this.toYear !== '' && this.toMonth !== '' && this.toDay !== '') {
        toDate = `${this.toYear}-${this.toMonth}-${this.toDay}`
      }
      return toDate
    },
  },
}
</script>

<style lang="scss">
.work-experience {
  .actual-job-wrapper {
    text-align: right;
  }
  .cm-row {
    min-height: 80px;
  }
  .experience {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #23272f;
    .italic {
      font-weight: 500;
    }
  }
  .drag-button {
    position: relative;
    &::after {
      display: none;
      content: '';
      height: 100%;
      width: 3px;
      background: #bfbfbf;
      position: absolute;
      bottom: 0;
      right: 20px;
      transform: translateX(20px);
      background: #bfbfbf;
      background: linear-gradient(
        0deg,
        #bfbfbf00 0%,
        #bfbfbf 50%,
        #bfbfbf00 100%
      );
    }
  }
  .modal {
    position: fixed;
    // height: 100vh;
    // width: 100vw;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(37, 36, 48, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    &__wrapper {
      background-color: white;
      padding: 40px 80px;
      border-radius: 20px;
      width: 75%;
      max-width: 1088px;
      height: max-content;
      // min-height: 500px;
      overflow: auto;
      position: relative;
      .content {
        height: max-content;
      }
      .close-btn {
        position: absolute;
        top: 30px;
        right: 20px;
      }
    }
  }
  @media (max-width: 1024px) {
    .experience,
    .cm-row .confirm-delete .message {
      font-size: 14px;
    }
    .title-1 {
      font-size: 24px;
    }
    .cm-group-2,
    .cm-group-3 {
      grid-template-columns: none;
      grid-gap: 10px;
    }
    .wizard-form {
      .cm-group-2:last-child {
        // background-color: #bada55;
        grid-template-columns: 1fr;
        grid-gap: 0px;
      }
    }
    .modal__wrapper {
      padding: 40px;
      width: calc(100% - 110px);
    }
  }
  @media (max-width: 767px) {
    .cm-group-2 {
      grid-template-columns: 1fr;
      grid-gap: 0px;
    }
    .modal {
      &__wrapper {
        height: calc(100vh);
        // width: ;
        // min-height: 500px;
        overflow: auto;
        .content {
          height: unset;
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .modal__wrapper {
      padding: 40px;
      width: calc(100%);
    }
  }
}
// .disabled-input {
//   @apply border-2 border-solid border-gray-400 text-gray-400 #{!important};
// }
// .invalid-input {
//   @apply border-2 border-solid #{!important};
//   border-color: coral #{!important};
// }
// .to-delete {
//   background-color: coral !important;
// }
// .combine-all {
//   @apply col-span-12 text-center;
// }
// .combine-six {
//   @apply col-span-12 md:col-span-6;
// }
// .combine-two {
//   @apply col-span-12 md:col-span-4 xl:col-span-2;
// }
// .number-input {
//   @apply p-3 h-10;
// }
// .date-input {
//   @apply mt-7;
// }
// .work-experience {
//   @apply text-darkgray font-brandLight;
//   .title {
//     @apply grid grid-cols-3 my-10 text-center text-2xl sm:text-4xl font-brandBold;
//     &__button {
//       .icon {
//         @apply h-10 w-10 mx-auto;
//       }
//     }
//   }
//   .tip {
//     @apply px-9 my-5 sm:px-0;
//     &__wrapper {
//       @apply p-3 flex flex-col sm:flex-row items-center justify-center mt-0 sm:mt-14 mx-auto rounded-lg shadow-lg space-x-4 sm:w-8/12 font-semibold mb-5 bg-lightgray;
//       background-color: #f5f5f5;
//       .icon {
//         @apply h-10 w-10 text-cyanblue font-semibold;
//       }
//       .text {
//         @apply sm:text-lg;
//         .line-break {
//           @apply hidden sm:block;
//         }
//       }
//     }
//   }
//   .experiences-list {
//     @apply px-9 sm:px-0 mt-3 mx-auto w-full sm:mt-14 sm:w-8/12;
//     &__row {
//       @apply flex justify-between items-center space-x-4 p-5 rounded-lg font-semibold mb-5;
//       .no-data-cell {
//         @apply w-full text-center;
//       }
//       .cell {
//         &__btn {
//           .drag {
//             font-family: 'Material Icons';
//             font-weight: normal;
//             font-style: normal;
//             font-size: 24px;
//             letter-spacing: normal;
//             text-transform: none;
//             display: inline-block;
//             white-space: nowrap;
//             word-wrap: normal;
//             direction: ltr;
//             -webkit-font-feature-settings: 'liga';
//             -webkit-font-smoothing: antialiased;
//             @apply h-6 w-6 cursor-move text-darkgray justify-self-start;
//           }
//         }
//         &__company-data {
//           @apply flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4;
//         }
//         &__cancel-delete {
//           .icon {
//             @apply h-6 w-6 cursor-pointer text-white;
//           }
//         }
//         &__edit {
//           .icon {
//             @apply h-6 w-6 cursor-pointer text-yellow-500;
//           }
//         }
//         &__delete {
//           .icon {
//             @apply h-6 w-6 cursor-pointer text-red-500;
//           }
//         }
//       }
//     }
//   }
//   .add-experience-container {
//     @apply px-9 sm:px-0 mt-3 mx-auto w-full sm:w-8/12;
//     &__button {
//       @apply bg-cyanblue flex-1 text-white font-brandBold rounded-xl py-1 shadow-lg w-full;
//     }
//   }
//   .step_actions {
//     @apply px-9 sm:px-0 my-5 sm:mt-14 mx-auto flex w-full items-center justify-center space-x-2 sm:w-3/12 sm:flex-row;
//     &__loading {
//       width: 100px;
//     }
//     &__button {
//       @apply bg-darkgray flex-1 text-aquagreen font-brandBold rounded-xl py-2 px-5 shadow-lg;
//     }
//   }
//   .modal {
//     @apply relative mx-auto max-w-2xl;
//     &__wrapper {
//       @apply fixed overflow-x-hidden overflow-y-auto inset-0 flex justify-center items-center z-50 mx-auto sm:w-8/12;
//       .content {
//         @apply max-h-500 sm:max-h-fit overflow-auto rounded-lg shadow-2xl;
//         background-color: #f5f5f5;
//         &__header {
//           @apply flex flex-col items-center p-2;
//           .btn-cell {
//             @apply self-end;
//             &__btn {
//               .icon {
//                 @apply h-4 w-4;
//               }
//             }
//           }
//           .txt {
//             @apply self-center text-2xl text-darkgray;
//           }
//         }
//         &__body {
//           @apply p-5 md:p-10 pb-5;
//           .alert {
//             @apply rounded-md mb-2 p-2 text-white;
//             background-color: coral;
//             &__messages {
//               @apply flex space-x-2 space-y-2 items-center;
//               .icon {
//                 font-family: 'Material Icons';
//                 font-weight: normal;
//                 font-style: normal;
//                 font-size: 24px;
//                 letter-spacing: normal;
//                 text-transform: none;
//                 display: inline-block;
//                 white-space: nowrap;
//                 word-wrap: normal;
//                 direction: ltr;
//                 -webkit-font-feature-settings: 'liga';
//                 -webkit-font-smoothing: antialiased;
//               }
//               .text {
//                 @apply mt-0 #{!important};
//               }
//             }
//           }
//           .experiences-form {
//             @apply grid grid-cols-12 gap-4;
//             &__cell {
//               .label {
//                 @apply sm:text-xl text-lightgray font-brandLight font-semibold;
//               }
//               .input {
//                 @apply border-2 border-darkgray h-12 rounded-xl w-full;
//               }
//             }
//           }
//         }
//         &__actions {
//           @apply px-9 sm:px-0 mb-5 mx-auto flex w-full items-center justify-center space-x-2 sm:w-3/12 sm:flex-row;
//           .button {
//             @apply flex-1 text-white font-brandBold rounded-xl py-2 px-5 shadow-lg;
//           }
//           .add {
//             @apply bg-aquagreen;
//           }
//           .cancel {
//             @apply bg-red-500;
//           }
//         }
//       }
//     }
//   }
//   .layer {
//     @apply absolute inset-0 z-40 opacity-25 bg-black;
//   }
// }
</style>
