<template>
  <div class="profiles-confirm-information question-page confirm-information">
    <!-- Title -->
    <wizard-header title="Resumen" />

    <wizard-tip
      content="Verifica que toda la información brindada es correcta"
    />

    <!-- Data wrapper -->
    <div v-for="(step, i) in steps" :key="`step-${i}`" class="data">
      <p class="data__step">{{ step.title }}</p>
      <!-- paso 1 -->
      <template v-if="i === 0">
        <p class="data__value">
          <span class="item">Nombre/Razón Social:</span>
          <span class="item-val">{{ step.step.name }}</span>
        </p>
        <p class="data__value">
          <span class="item">Rif:</span>
          <span class="item-val">{{ step.step.numberId }}</span>
        </p>
        <p class="data__value">
          <span class="item">Descripción:</span>
          <span v-if="step.step.description === null" class="item-val"
            >No especificó descripción</span
          >
          <span v-else class="item-val">{{ step.step.description }}</span>
        </p>
      </template>
      <!-- paso 2 -->
      <template v-if="i === 1">
        <p class="data__value">
          <span class="item">Nombre completo:</span>
          <span class="item-val"
            >{{ step.step.firstnames }} {{ step.step.lastnames }}</span
          >
        </p>
        <p class="data__value">
          <span class="item">Número telefónico:</span>
          <span class="item-val"
            >{{ getCountry(step.step.countryCode).numberCode }}
            {{ step.step.telephone }}</span
          >
        </p>
        <p class="data__value">
          <span class="item">Correo electrónico:</span>
          <span class="item-val">{{ step.step.email }}</span>
        </p>
      </template>

      <!-- Paso 3 -->
      <template v-if="i === 2">
        <p
          v-for="(activity, i) in step.step.activities"
          :key="`activity-${i}`"
          class="data__value"
        >
          <!-- <span class="item">Sector de la compañía:</span> -->
          <span class="item-val">{{
            getActivity(activity.activityId).activity
          }}</span>
        </p>
      </template>

      <!-- Paso 4 -->
      <template v-if="i === 3">
        <ul
          v-if="step.step && step.step.products.length === 0"
          class="list-disc mx-auto"
        >
          <p class="data__value">
            <span class="item">No ha registrado productos</span>
          </p>
        </ul>
        <ul v-else class="list-disc mx-auto">
          <li
            v-for="(product, i) in step.step.products"
            :key="`product-${i}`"
            class="data__value list-none"
          >
            <span class="title">{{ product.name }}</span>
            <p v-if="product.description" class="item-val">
              {{ product.description }}
            </p>
          </li>
        </ul>
      </template>

      <!-- Paso 5 -->
      <template v-if="i === 4">
        <ul
          v-for="(position, i) in step.step.positions"
          :key="`position-${i}`"
          class="list-disc w-max mx-auto"
        >
          <li class="data__value w-max mx-auto">
            <span class="item">{{ position.title }}</span>
          </li>
          <p v-if="position.confidential" class="data__value mt-3">
            <span>El nombre de tu empresa será confidencial</span>
          </p>
        </ul>
      </template>

      <!-- Paso 6 -->
      <template v-if="i === 5">
        <ul>
          <li
            v-for="(location, i) in step.step.positionRequestsLocations"
            :key="`posReqLocations-${i}`"
            class="data__value"
          >
            <p class="title">
              {{ getPositionName(location.positionRequestId) }}
            </p>
            <ul class="list-disc w-max mx-auto">
              <template v-if="location.countryId">
                <li v-if="location.countryId" class="w-max mx-auto">
                  <p>Presencial: Sí</p>
                </li>
                <p>País: {{ getCountryName(location.countryId).name }}</p>
                <p v-if="location.state">
                  Estado:
                  <template v-if="location.state">
                    {{ location.state.name }}
                  </template>
                </p>
                <p>
                  Vehículo:
                  <template v-if="location.vehicle">Sí</template>
                  <template v-else>No</template>
                </p>
              </template>
              <template v-if="location.remote">
                <li class="w-max mx-auto">
                  <p>Remoto: Sí</p>
                </li>
                <p>
                  Equipo:
                  <template v-if="location.machine">Sí</template>
                  <template v-else>No</template>
                </p>
              </template>
            </ul>
          </li>
        </ul>
      </template>

      <!-- Paso 7 -->
      <template v-if="i === 6">
        <ul v-if="step7.haveDegree">
          <li
            v-for="(pos, i) in step7.positions"
            :key="`posResDegreesDetails-${i}`"
            class="data__value"
          >
            <template v-if="pos.degrees && pos.degrees.length > 0">
              <p class="title">
                {{ pos.name }}
              </p>
              <div v-for="(degree, j) in pos.degrees" :key="j">
                <span class="item"
                  >{{ getStudyType(degree.studyTypeId).name }}:</span
                >
                <span class="item-val"
                  >{{ getDegree(degree.degreeId).degree }}
                </span>
              </div>
            </template>
          </li>
        </ul>
        <p v-else class="data__value">No ha registrado estudios</p>
      </template>

      <!-- Paso 8 -->
      <template v-if="i === 7">
        <ul
          v-if="
            step.step &&
            step.step.length > 0 &&
            step.step.some((el) => el.skills.length > 0 || el.langs.length > 0)
          "
        >
          <li
            v-for="(candidate, i) in step.step"
            :key="`stepEight-${i}`"
            class="data__value"
          >
            <template
              v-if="candidate.skills.length > 0 || candidate.langs.length > 0"
            >
              <p class="title">
                {{ getPositionName(candidate.posReqId) }}
              </p>
              <!-- Skills -->
              <ul v-if="candidate.skills.length > 0" class="mb-5 list-disc">
                <li class="w-max mx-auto">
                  <span v-if="candidate.skills.length > 0">Conocimientos:</span>
                </li>
                <span
                  v-for="(skill, s) in candidate.skills"
                  :key="`skill-${s}`"
                >
                  {{
                    `${getSkill(skill.skillId).skill}${
                      candidate.skills && candidate.skills.length === s + 1
                        ? '.'
                        : ', '
                    }`
                  }}
                </span>
              </ul>
              <!-- Langs -->
              <ul v-if="candidate.langs.length > 0" class="list-disc">
                <template v-for="(lang, s) in candidate.langs">
                  <li :key="`lang-${s}`" class="w-max mx-auto">
                    <span>Idioma: {{ getLang(lang.langId).lang }}</span>
                  </li>
                  <p :key="`langlevel-${s}`" class="mb-5">
                    Nivel: {{ getLangLevel(lang.levelId).level }}
                  </p>
                </template>
              </ul>
            </template>
          </li>
        </ul>
        <p v-else class="data__value">
          No ha registrado habilidades/conocimientos
        </p>
      </template>

      <!-- Paso 9 -->
      <template v-if="i === 8">
        <ul>
          <li
            v-for="(exp, i) in step.step"
            :key="`ranges-${i}`"
            class="data__value"
          >
            <p class="title">
              {{ getPositionName(exp.positionRequestId) }}
            </p>
            <p class="item">Edad: {{ getAgeRange(exp.ageRangeId).ageRange }}</p>
            <p class="item-val">
              Años en el sector o cargo:
              {{ getExpRange(exp.expRangeId).expRange }}
            </p>
          </li>
        </ul>
      </template>

      <hr class="data__underline" />
    </div>

    <!-- Terms and conditions -->
    <div class="data text-center">
      <input
        id="termsAndConditions"
        v-model="isTermsAcepted"
        type="checkbox"
        name="termsAndConditions"
        class="rounded text-gray-500"
        :class="{
          'invalid-input': !isTermsAcepted && termsCheckError,
        }"
      />
      <label for="termsAndConditions">
        Acepta los
        <a href="/terms-of-service" target="blamk">Terminos y condiciones</a>?
      </label>
      <p
        v-if="!isTermsAcepted && termsCheckError"
        class="text-red-500 text-sm mt-2"
      >
        Debe aceptar nuestros terminos y condciones para finalizar el
        requerimiento
      </p>
    </div>
    <hr class="data__underline" />

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="finish">
          Finalizar
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
export default {
  components: { wizardHeader, WizardTip },
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      products: [],
      steps: [],
      states: [],
      isTermsAcepted: false,
      termsCheckError: false,
    }
  },
  computed: {
    step7() {
      const positions = []
      const haveDegree = this.steps[6].step.posResDegrees.length > 0
      this.steps[4].step.positions.forEach((pos) => {
        positions.push({
          name: pos.title,
          id: pos.positionRequestId,
          degrees:
            this.steps[6].step.posResDegrees.filter(
              (el) => el.positionRequestId === pos.positionRequestId
            ) || [],
        })
      })
      return { positions, haveDegree }
    },
  },
  async created() {
    if (
      localStorage.getItem('skillsArr') === null ||
      localStorage.getItem('languagesArr') === null ||
      localStorage.getItem('languageLevelsArr') === null ||
      localStorage.getItem('countriesArr') === null ||
      localStorage.getItem('ageRangesArr') === null ||
      localStorage.getItem('expRangesArr') === null ||
      localStorage.getItem('companyActivitiesArr') === null ||
      localStorage.getItem('studyTypesArr') === null ||
      localStorage.getItem('degreesArr') === null
    ) {
      await this.getWholeData()
    }
    this.getDataSteps()
    this.steps[5].step.positionRequestsLocations.forEach((location, i) => {
      this.getCountryState(i, location.countryStateId, location.countryId)
    })
  },
  methods: {
    async getWholeData() {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/profiles/experience-years/get-stats-data`
        )
        .then((res) => {
          localStorage.setItem('skillsArr', JSON.stringify(res.skillsArr))
          localStorage.setItem('languagesArr', JSON.stringify(res.languagesArr))
          localStorage.setItem(
            'languageLevelsArr',
            JSON.stringify(res.languageLevelsArr)
          )
          localStorage.setItem('countriesArr', JSON.stringify(res.countriesArr))
          localStorage.setItem('ageRangesArr', JSON.stringify(res.ageRangesArr))
          localStorage.setItem('expRangesArr', JSON.stringify(res.expRangesArr))
          localStorage.setItem(
            'companyActivitiesArr',
            JSON.stringify(res.companyActivitiesArr)
          )
          localStorage.setItem(
            'studyTypesArr',
            JSON.stringify(res.studyTypesArr)
          )
          localStorage.setItem('degreesArr', JSON.stringify(res.degreesArr))
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    getPositionName(positionId) {
      return this.steps[4].step.positions.find(
        (pos) => pos.positionRequestId === positionId
      ).title
    },
    getSkill(skillId) {
      const skills = JSON.parse(localStorage.getItem('skillsArr'))
      if (skillId) {
        return skills.find((c) => c.id === skillId)
      } else return ''
    },
    getLang(langId) {
      const langs = JSON.parse(localStorage.getItem('languagesArr'))
      if (langId) {
        return langs.find((c) => c.id === langId)
      } else return ''
    },
    getLangLevel(levelId) {
      const levels = JSON.parse(localStorage.getItem('languageLevelsArr'))
      if (levelId) {
        return levels.find((c) => c.id === levelId)
      } else return ''
    },
    getCountry(countryCode) {
      const countries = JSON.parse(localStorage.getItem('countriesArr'))
      if (countryCode) {
        return countries.find((c) => c.id === countryCode)
      } else return ''
    },
    getAgeRange(id) {
      const ageRanges = JSON.parse(localStorage.getItem('ageRangesArr'))
      if (id) {
        return ageRanges.find((c) => c.id === id)
      } else return ''
    },
    getExpRange(id) {
      const expRanges = JSON.parse(localStorage.getItem('expRangesArr'))
      if (id) {
        return expRanges.find((c) => c.id === id)
      } else return ''
    },
    getCountryName(id) {
      const countries = JSON.parse(localStorage.getItem('countriesArr'))
      if (id) {
        return countries.find((c) => c.id === id)
      } else return ''
    },
    getCountryState(locationIndex, stateId, countryId) {
      if (stateId && countryId)
        this.getMyState(locationIndex, stateId, countryId)
      // eslint-disable-next-line prettier/prettier
      const state =
        this.steps[5].step.positionRequestsLocations[locationIndex].state
      return state ? state.name : ''
    },
    async getMyState(locationIndex, stateId, countryId) {
      return await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-locations/states/${countryId}`
        )
        .then((res) => {
          const stepFiveCopy = { ...this.steps[5] }
          const location =
            stepFiveCopy.step.positionRequestsLocations[locationIndex]
          const myState = res.states.find((c) => c.id === stateId)
          location.state = myState
          this.steps.splice(5, 1, stepFiveCopy)
          // this.steps[5].states = res.states
        })
    },
    getActivity(id) {
      const companyActivitiesArr = JSON.parse(
        localStorage.getItem('companyActivitiesArr')
      )
      if (id) {
        return companyActivitiesArr.find((c) => c.id === id)
      } else return ''
    },
    getStudyType(id) {
      const studyTypesArr = JSON.parse(localStorage.getItem('studyTypesArr'))
      if (id) {
        return studyTypesArr.find((c) => c.id === id)
      } else return ''
    },
    getDegree(id) {
      const degreesArr = JSON.parse(localStorage.getItem('degreesArr'))
      if (id) {
        return degreesArr.find((c) => c.id === id)
      } else return ''
    },
    getDataSteps() {
      const stepOne = JSON.parse(localStorage.getItem('profilesIdentification'))
      const stepTwo = JSON.parse(localStorage.getItem('profilesContact'))
      const stepThree = JSON.parse(
        localStorage.getItem('profilesIndustrySector')
      )
      const stepFour = JSON.parse(localStorage.getItem('profilesProducts'))
      const stepFive = JSON.parse(localStorage.getItem('profilesRequests'))
      const stepSix = JSON.parse(localStorage.getItem('profilesLocations'))
      const stepSeven = JSON.parse(localStorage.getItem('profilesStudies'))
      const stepEight = JSON.parse(localStorage.getItem('profilesSkills'))
      const stepNine = JSON.parse(
        localStorage.getItem('profilesYearsOfExperience')
      )

      this.steps.push({
        step: stepOne != null ? stepOne : null,
        title: 'Identificación',
      })
      this.steps.push({
        step: stepTwo != null ? stepTwo : null,
        title: 'Contacto',
      })
      this.steps.push({
        step: stepThree != null ? stepThree : null,
        title: 'Sector Industrial',
      })
      this.steps.push({
        step: stepFour != null ? stepFour : null,
        title: 'Productos',
      })
      this.steps.push({
        step: stepFive != null ? stepFive : null,
        title: 'Cargos',
      })
      this.steps.push({
        step: stepSix != null ? stepSix : null,
        title: 'Ubicación',
      })
      this.steps.push({
        step: stepSeven != null ? stepSeven : null,
        title: 'Educación',
      })
      this.steps.push({
        step: stepEight != null ? stepEight : null,
        title: 'Habilidades/Conocimientos',
      })
      this.steps.push({
        step: stepNine != null ? stepNine : null,
        title: 'Experiencia',
      })
    },
    goBack() {
      this.$router.push('/profiles/profile-years-of-experience')
    },
    finish() {
      if (this.isTermsAcepted) {
        this.termsCheckError = false
        localStorage.setItem('finished-assistant', 'finished')
        this.$router.push('/profiles/finish')
      } else {
        this.termsCheckError = true
      }
    },
  },
}
</script>

<style lang="scss">
.profiles-confirm-information {
  .data {
    &__step {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
      /* identical to box height, or 222% */

      text-align: center;

      color: #23272f;
      margin-bottom: 20px;
    }
    &__value {
      max-width: calc(100% - 20px);
      margin-inline: auto;
      font-style: italic;
      text-align: center;
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #23272f;
      margin-bottom: 20px;
      .item {
        white-space: nowrap;
      }
      .item-val {
      }
      .title {
        font-weight: 500;
        line-height: 2em;
        font-size: 1.2;
        font-style: normal;
      }
    }
    &__underline {
      height: 4px;
      display: block;
      max-width: 395px;
      margin: 40px auto;
      background: #bfbfbf;
      background: linear-gradient(
        90deg,
        #bfbfbf00 0%,
        #bfbfbf 50%,
        #bfbfbf00 100%
      );
    }
  }
  a {
    text-decoration: underline;
  }
}
</style>
