<template>
  <div class="profiles-contact question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Información de la empresa
    </h2>
    <wizard-header title="Contacto" />

    <wizard-tip
      content="Una vez tengamos los candidatos para el puesto ¿Cómo podemos contactarte?"
    />

    <form>
      <fieldset class="wizard-form">
        <!-- Validation Messages -->
        <div
          v-if="($v.$dirty && $v.$invalid) || invalidCaptcha || invalidEmail"
          class="wizard-errors"
        >
          <div class="wizard-errors__message">
            <img :src="iconError" class="icon" alt="" />
            <ul class="wizard-errors__errors">
              <li v-if="invalidCaptcha" class="text">
                No se pudo comprobar el recaptcha. Recargue la página
              </li>
              <template v-if="firstNamesErrors">
                <li v-if="!$v.first_names.alpha" class="text">
                  Los nombres sólo deben contener letras
                </li>
                <li v-if="!$v.first_names.minLength" class="text">
                  Los nombres deben contener mínimo 3 letras
                </li>
                <li v-if="!$v.first_names.maxLength" class="text">
                  Los nombres deben contener máximo 30 letras
                </li>
                <li v-if="!$v.first_names.required" class="text">
                  Los nombres son requeridos
                </li>
              </template>
              <template v-if="lastNamesErrors">
                <li v-if="!$v.last_names.alpha" class="text">
                  Los apellidos sólo deben contener letras
                </li>
                <li v-if="!$v.last_names.minLength" class="text">
                  Los apellidos deben contener mínimo 3 letras
                </li>
                <li v-if="!$v.last_names.maxLength" class="text">
                  Los apellidos deben contener máximo 30 letras
                </li>
                <li v-if="!$v.last_names.required" class="text">
                  Los apellidos son requeridos
                </li>
              </template>
              <template v-if="countryCodeErrors">
                <li v-if="!$v.country_code.required" class="text">
                  Debe escoger un prefijo de país
                </li>
              </template>
              <template v-if="phoneNumberErrors">
                <li v-if="!$v.phone_number.numeric" class="text">
                  El teléfono de contacto sólo permite números enteros positivos
                </li>
                <li v-if="!$v.phone_number.maxLength" class="text">
                  El teléfono de contacto debe contener máximo 12 números
                </li>
                <li v-if="!$v.phone_number.required" class="text">
                  El teléfono de contacto es requerido
                </li>
              </template>
              <template v-if="emailErrors">
                <li v-if="!$v.email.email || invalidEmail" class="text">
                  Introduzca una dirección de correo electrónico válida
                </li>
                <li v-if="!$v.email.maxLength" class="text">
                  El correo electrónico deben contener máximo 50 caracteres
                </li>
                <li v-if="!$v.email.required" class="text">
                  El correo electrónico es requerido
                </li>
              </template>
            </ul>
          </div>
        </div>

        <!-- Persona (nombre completo) -->
        <div class="cm-group-2">
          <div class="wizard-form__input">
            <label class="label" for="">Nombres</label>
            <input
              v-model.trim="first_names"
              class="input"
              :class="{ 'invalid-input': firstNamesErrors }"
              type="text"
              :maxlength="maxNameCount"
              placeholder="Ej: Luis Alberto"
            />
            <small class="mt-5 mr-3"
              >Caracteres Restantes: {{ remainFirstNamesCount }}</small
            >
          </div>
          <div class="wizard-form__input">
            <label class="label" for="">Apellidos</label>
            <input
              v-model.trim="last_names"
              class="input"
              :class="{ 'invalid-input': lastNamesErrors }"
              type="text"
              :maxlength="maxNameCount"
              placeholder="Ej: Marchán Gutierrez"
            />
            <small class="mt-5 mr-3"
              >Caracteres Restantes: {{ remainLastNamesCount }}</small
            >
          </div>
        </div>

        <!-- Número Telefónico -->
        <div class="wizard-form__input">
          <label class="label">Teléfono de contacto</label>
          <div class="country">
            <div class="cm-group-2">
              <!-- Country code -->
              <div class="country__code">
                <select
                  id="cboCountryPrefix"
                  v-model="country_code"
                  class="input"
                  :class="{
                    'invalid-input': countryCodeErrors,
                  }"
                >
                  <option value="null" selected disabled>Escoger país</option>
                  <option
                    v-for="(cp, index) in countries"
                    :key="`cp-${index}`"
                    :value="cp.id"
                  >
                    {{ cp.name }} ({{ cp.numberCode }})
                  </option>
                </select>
              </div>
              <!-- phone number -->
              <div class="country__phone">
                <input
                  v-model.trim="phone_number"
                  class="input"
                  :class="{
                    'invalid-input': phoneNumberErrors,
                  }"
                  type="number"
                  :maxlength="maxPhoneCount"
                  placeholder="Ej: 4145557768"
                  @keypress="isNumber($event)"
                />
                <small class="float-right mt-5 mr-3"
                  >Caracteres Restantes: {{ remainPhoneCount }}</small
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Correo electrónico -->
        <div class="wizard-form__input">
          <label class="label" for="">Correo electrónico</label>
          <input
            :value="$v.email.$model"
            class="input"
            :class="{ 'invalid-input': emailErrors }"
            type="text"
            :maxlength="maxEmailCount"
            placeholder="Ej: recursoshumanos@gmail.com"
            @input="email = $event.target.value.toLowerCase().trim()"
          />
          <small class="mt-5 mr-3"
            >Caracteres Restantes: {{ remainEmailCount }}</small
          >
        </div>
      </fieldset>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconError from '@/assets/img/ui-icon-error.svg'
import {
  helpers,
  required,
  email,
  minLength,
  maxLength,
  numeric,
} from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import generalMixin from '@/mixins/generalMixin'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ'\u00F1\u00D1]*(\s*[a-zA-ZÀ-ÿ'\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ'\u00F1\u00D1]+$/i
)
export default {
  components: { wizardHeader, WizardTip },
  mixins: [generalMixin, validationMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconError,
      bussy: false,
      invalidCaptcha: false,
      invalidEmail: false,
      countries: [],
      id: null,
      first_names: '',
      last_names: '',
      country_code: null,
      phone_number: '',
      email: '',
      maxNameCount: 30,
      maxPhoneCount: 12,
      maxEmailCount: 50,
    }
  },
  validations: {
    first_names: {
      alpha,
      minLength: minLength(3),
      maxLength: maxLength(30),
      required,
    },
    last_names: {
      alpha,
      minLength: minLength(3),
      maxLength: maxLength(30),
      required,
    },
    country_code: {
      required,
    },
    phone_number: {
      numeric,
      maxLength: maxLength(12),
      required,
    },
    email: {
      email,
      maxLength: maxLength(50),
      required,
    },
  },
  computed: {
    firstNamesErrors() {
      return this.$v.first_names.$dirty && this.$v.first_names.$invalid
    },
    lastNamesErrors() {
      return this.$v.last_names.$dirty && this.$v.last_names.$invalid
    },
    countryCodeErrors() {
      return this.$v.country_code.$dirty && this.$v.country_code.$invalid
    },
    phoneNumberErrors() {
      return this.$v.phone_number.$dirty && this.$v.phone_number.$invalid
    },
    emailErrors() {
      return (
        (this.$v.email.$dirty && this.$v.email.$invalid) || this.invalidEmail
      )
    },
    remainFirstNamesCount() {
      const remainCount = this.maxNameCount - this.first_names.length
      return remainCount
    },
    remainLastNamesCount() {
      const remainCount = this.maxNameCount - this.last_names.length
      return remainCount
    },
    remainPhoneCount() {
      const remainCount = this.maxPhoneCount - this.phone_number.length
      return remainCount
    },
    remainEmailCount() {
      const remainCount = this.maxEmailCount - this.email.length
      return remainCount
    },
  },
  created() {
    this.getData()
  },
  methods: {
    isNumber(evt) {
      evt = evt || window.event
      const charCode = evt.which ? evt.which : evt.keyCode
      if (charCode >= 48 && charCode <= 57) {
        return true
      } else {
        evt.preventDefault()
      }
    },
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const { id } = JSON.parse(
            localStorage.getItem('profilesIdentification')
          )
          const data = {
            clientId: id,
            firstnames: this.first_names,
            lastnames: this.last_names,
            countryCode: this.country_code,
            telephone: this.phone_number,
            email: this.email,
            recaptcha: str,
          }
          await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async getData() {
      if (localStorage.getItem('countriesArr')) {
        this.countries = JSON.parse(localStorage.getItem('countriesArr'))
        if (this.getLocalStorage('profilesContact')) {
          const profilesContact = this.getLocalStorage('profilesContact')
          this.id = profilesContact.personId
          this.first_names = profilesContact.firstnames
          this.last_names = profilesContact.lastnames
          this.country_code = profilesContact.countryCode
          this.phone_number = profilesContact.telephone
          this.email = profilesContact.email
        }
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/contact/get-data`
          )
          .then((res) => {
            this.countries = res.countries
            localStorage.setItem('countriesArr', JSON.stringify(res.countries))
            if (this.getLocalStorage('profilesContact')) {
              const profilesContact = this.getLocalStorage('profilesContact')
              this.id = profilesContact.personId
              this.first_names = profilesContact.firstnames
              this.last_names = profilesContact.lastnames
              this.country_code = profilesContact.countryCode
              this.phone_number = profilesContact.telephone
              this.email = profilesContact.email
            }
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/contact/save-contact`,
          d
        )
        .then((res) => {
          if (res.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (res.notValidEmail) {
            this.invalidEmail = true
            this.bussy = false
          } else {
            const profilesContact = {
              userId: res.profilesContact.userId,
              personId: res.profilesContact.personId,
              firstnames: res.profilesContact.firstnames,
              lastnames: res.profilesContact.lastnames,
              countryCode: res.profilesContact.countryCode,
              telephone: res.profilesContact.telephone,
              email: res.profilesContact.email,
            }
            localStorage.setItem(
              'profilesContact',
              JSON.stringify(profilesContact)
            )
            if (res.finished) {
              localStorage.setItem('finished-assistant', 'finished')
              this.$router.push('/profiles/finish')
            } else {
              this.checkSteps(res)
            }
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    goBack() {
      this.$router.push('/profiles/identification')
    },
  },
}
</script>

<style lang="scss">
.profiles-contact {
  .input[type='number']::-webkit-inner-spin-button,
  .input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media (max-width: 414px) {
    .cm-group-2 {
      grid-template-columns: 1fr;
    }
    .country {
      .cm-group-2 {
        gap: 40px;
      }
    }
  }
}
</style>
