<template>
  <div class="profiles-identification question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Información de la empresa
    </h2>
    <wizard-header title="Identificación" />

    <wizard-tip content="Cuéntanos un poco sobre tu compañía." />

    <form>
      <fieldset class="wizard-form">
        <!-- Validation Messages -->
        <div
          v-if="($v.$dirty && $v.$invalid) || invalidCaptcha || foundRif"
          class="wizard-errors"
        >
          <div class="wizard-errors__message">
            <img :src="iconError" class="icon" alt="" />
            <ul class="wizard-errors__errors">
              <li v-if="invalidCaptcha" class="text">
                No se pudo comprobar el recaptcha. Recargue la página
              </li>
              <li v-if="foundRif" class="text">
                El número de identificación fiscal le pertenece a otra empresa
              </li>
              <template v-if="nameErrors">
                <li v-if="!$v.name.required" class="text">
                  El nombre/razón social es requerido
                </li>
                <li v-if="!$v.name.maxLength" class="text">
                  El nombre/razón social debe contener máximo 150 caracteres
                </li>
              </template>
              <template v-if="rifErrors">
                <li v-if="!$v.rif.alphaNum" class="text">
                  El campo RIF o número de identificación fiscal no debe
                  contener caracteres especiales ni espacios
                </li>
                <li v-if="!$v.rif.maxLength" class="text">
                  El campo RIF o número de identificación fiscal debe contener
                  máximo 20 caracteres
                </li>
                <li v-if="!$v.rif.minLength" class="text">
                  El campo RIF o número de identificación fiscal debe contener
                  mínimo 6 caracteres
                </li>
                <li v-if="!$v.rif.required" class="text">
                  El RIF o número de identificación fiscal es requerido
                </li>
              </template>
              <template v-if="descriptionErrors">
                <li v-if="!$v.description.maxLength" class="text">
                  La descripción no puede tener más de 400 caracteres
                </li>
              </template>
            </ul>
          </div>
        </div>

        <!-- Nombre/Razón Social -->
        <div class="wizard-form__input">
          <label class="label" for="">Nombre/Razón Social</label>
          <input
            v-model.trim="name"
            :class="{ 'invalid-input': nameErrors }"
            type="text"
            class="input"
            :maxlength="maxNameCount"
            placeholder="Ej: Empresas POLAR C.A."
          />
          <small class="mt-5 mr-3"
            >Caracteres Restantes: {{ remainNameCount }}</small
          >
        </div>

        <!-- RIF o número de identificación fiscal -->
        <div class="wizard-form__input">
          <label class="label" for=""
            >RIF o número de identificación fiscal</label
          >
          <input
            v-model.trim="rif"
            :class="{ 'invalid-input': rifErrors }"
            type="text"
            class="input"
            minLength="6"
            :maxlength="maxRifCount"
            placeholder="Ej: J1234567890"
            @input="rif = $event.target.value.trim()"
          />
          <small class="mt-5 mr-3"
            >Caracteres Restantes: {{ remainRifCount }}</small
          >
        </div>

        <!-- Breve descripción de la empresa (opcional) -->
        <div class="wizard-form__input">
          <label class="label" for=""
            >Breve descripción de la empresa (opcional)</label
          >
          <textarea
            v-model.trim="description"
            class="input"
            :class="{ 'invalid-input': descriptionErrors }"
            placeholder="Ej: Nuestra empresa se encarga de fabricar productos..."
            :maxlength="maxDescCount"
          ></textarea>
          <small class="mt-5 mr-3"
            >Caracteres Restantes: {{ remainDescCount }}</small
          >
        </div>
      </fieldset>
    </form>

    <div class="step-actions">
      <img
        v-if="bussy"
        class="step-actions__loading"
        src="@/assets/img/loading-1.svg"
        alt="Loading animation"
      />
      <button
        v-else
        type="button"
        class="step-actions__button"
        @click="checkForm"
      >
        Siguiente
      </button>
    </div>
  </div>
</template>

<script>
// Validations
import {
  alphaNum,
  required,
  maxLength,
  minLength,
} from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import generalMixin from '@/mixins/generalMixin'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
export default {
  components: { wizardHeader, WizardTip },
  mixins: [validationMixin, generalMixin],
  layout: 'assistants/newTalent',
  data() {
    return {
      bussy: false,
      id: null,
      name: '',
      rif: '',
      description: '',
      invalidCaptcha: false,
      maxNameCount: 150,
      maxRifCount: 20,
      maxDescCount: 400,
      foundRif: false,
    }
  },
  validations: {
    name: {
      required,
      maxLength: maxLength(150),
    },
    rif: {
      alphaNum,
      minLength: minLength(6),
      maxLength: maxLength(20),
      required,
    },
    description: {
      maxLength: maxLength(400),
    },
  },
  computed: {
    nameErrors() {
      return this.$v.name.$dirty && this.$v.name.$invalid
    },
    rifErrors() {
      return this.$v.rif.$dirty && this.$v.rif.$invalid
    },
    descriptionErrors() {
      return this.$v.description.$dirty && this.$v.description.$invalid
    },
    remainNameCount() {
      const remainCount = this.name
        ? this.maxNameCount - this.name.length
        : this.maxNameCount
      return remainCount
    },
    remainRifCount() {
      const remainCount = this.rif
        ? this.maxRifCount - this.rif.length
        : this.maxRifCount
      return remainCount
    },
    remainDescCount() {
      const remainCount = this.description
        ? this.maxDescCount - this.description.length
        : this.maxDescCount
      return remainCount
    },
  },
  created() {
    if (this.getLocalStorage('profilesIdentification')) {
      const identification = this.getLocalStorage('profilesIdentification')
      this.id = identification.id
      this.name = identification.name
      this.rif = identification.numberId
      this.description = identification.description
    }
  },
  methods: {
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.foundRif = false
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const data = {
            name: this.name,
            numberId: this.rif,
            description: this.description,
            recaptcha: str,
          }
          this.id !== null ? await this.update(data) : await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/identification/save`,
          d
        )
        .then((result) => {
          if (result.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else {
            const identification = {
              id: result.identification.id,
              name: result.identification.name,
              numberId: result.identification.numberId,
              description: result.identification.description,
            }
            localStorage.setItem(
              'profilesIdentification',
              JSON.stringify(identification)
            )
            this.checkSteps(result)
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
    async update(d) {
      await this.$axios
        .$put(
          `${this.$axios.defaults.baseURL}assistants/profiles/identification/update/${this.id}`,
          d
        )
        .then((result) => {
          if (result.captchaError) {
            this.invalidCaptcha = true
            this.bussy = false
          } else if (result.rifExists) {
            this.foundRif = true
            this.bussy = false
          } else {
            // Add data into localStorage
            const identification = {
              id: result.identification.id,
              name: result.identification.name,
              numberId: result.identification.numberId,
              description: result.identification.description,
            }
            localStorage.setItem(
              'profilesIdentification',
              JSON.stringify(identification)
            )
            this.$router.push('/profiles/contact')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
          this.bussy = false
        })
    },
  },
}
</script>

<style lang="scss"></style>
