<template>
  <div class="profiles-industry-sector question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Información de la empresa
    </h2>
    <wizard-header title="Sector Industrial" />

    <wizard-tip content="¿En qué sector de la industria opera tu compañía?" />

    <!-- Validation alerts -->
    <div
      v-if="($v.$dirty && $v.$invalid) || invalidCaptcha || duplicatedNames"
      class="wizard-errors"
    >
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="!$v.industries.required" class="text">
            Debe agregar al menos un (1) sector
          </li>
          <li v-if="$v.industries.$each.$invalid" class="text">
            Debe completar todos los campos en sector industrial
          </li>
          <li v-if="duplicatedNames" class="text">
            No deben repetirse los campos en sector industrial
          </li>
        </ul>
      </div>
    </div>

    <!-- industries -->
    <div class="items-label mb-20">
      <div class="title">Sector Industrial</div>
      <Tooltip
        content="Agregar Sector"
        animation="float"
        :active="industries.length < 1"
      >
        <button
          class="btn-fab"
          :disabled="bussy"
          title="Agregar"
          @click="addSector()"
        >
          <img :src="iconPlus" alt="" />
        </button>
      </Tooltip>
    </div>
    <form class="wizard-form">
      <!-- industries list -->
      <draggable v-model.lazy="industries" handle=".handle">
        <transition-group name="bounce" tag="ol">
          <div
            v-for="(industry, index) in industries"
            :key="`usindustry-${industry.index}`"
            class="cm-group-3 cm-group-3--a1a cm-row"
            :class="{ 'delete-mode': industry.confirmToDelete }"
          >
            <!-- Drag icon -->
            <button class="drag-button handle" title="Mover" @click.prevent="">
              <img :src="iconDrag" alt="" />
            </button>

            <!-- Fields -->
            <div class="wizard-form">
              <div class="wizard-form__input wizard-form__input--mb-0">
                <v-select
                  :id="`ac-${index}`"
                  v-model="industry.activityId"
                  :class="{
                    'invalid-input':
                      $v.industries.$dirty &&
                      !$v.industries.$each[index].activityId.required,
                  }"
                  :options="companyActivities"
                  :clearable="false"
                  class="input"
                  label="activity"
                  placeholder="Sector de la compañía"
                  :reduce="(activity) => activity.id"
                  :selectable="(activity) => isSelectable(activity)"
                  @open="open(index)"
                  @close="close(index)"
                >
                  <template slot="selected-option" slot-scope="option">
                    {{ option.activity }}
                  </template>
                  <template #no-options="{ search, searching }">
                    <template v-if="searching">
                      No se encontró <em>{{ search }}</em>
                    </template>
                  </template>
                </v-select>
              </div>
            </div>

            <!-- Actions buttons -->
            <div v-if="moreThanOneIndustry">
              <button
                v-if="industry.id === null"
                title="Eliminar"
                type="button"
                @click.stop="removeIndustry(index)"
              >
                <img :src="iconDelete" alt="" />
              </button>
              <button
                v-else
                title="Eliminar"
                @click.prevent="confirmRemoveIndustry(index)"
              >
                <img :src="iconDelete" alt="" />
              </button>
            </div>

            <div v-if="industry.confirmToDelete" class="confirm-delete">
              <div class="wrapper">
                <div class="spacer"></div>
                <h2 class="message">¿Estás seguro de eliminar este sector?</h2>
                <div class="actions mt-2">
                  <button class="mr-5" @click.prevent="removeIndustry(index)">
                    <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                  </button>
                  <button @click.prevent="confirmRemoveIndustry(index)">
                    <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
    </form>

    <!-- UndoMode -->
    <!-- <div v-if="undoMode" class="undo-wrapper">
      <img :src="iconCheck" alt="" />
      <div class="undo-wrapper__content">
        <p class="undo-wrapper__title">El item fue eliminado correctamente</p>
        <p class="undo-wrapper__description">
          Para deshacer los cambios
          <span @click="undoDelete">haz click aquí</span>
        </p>
      </div>
      <img :src="iconClose" class="close-icon" alt="" @click="clearUndoMode" />
    </div> -->

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import generalMixin from '@/mixins/generalMixin'
import { required, minLength } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import draggable from 'vuedraggable'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
export default {
  components: { wizardHeader, WizardTip, draggable, Tooltip },
  mixins: [validationMixin, generalMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      id: null,
      bussy: false,
      undoMode: false,
      undoObj: null,
      industries: [],
      industriesToDelete: [],
      companyActivities: [],
      invalidCaptcha: false,
      duplicatedNames: false,
    }
  },
  computed: {
    moreThanOneIndustry() {
      return this.industries.length > 1
    },
  },
  validations: {
    industries: {
      minLength: minLength(1),
      required,
      $each: {
        activityId: { required },
      },
    },
  },
  async created() {
    await this.getData()
    await this.industries.forEach((i, index) => {
      this.close(index)
    })
  },
  methods: {
    open(i) {
      const parent = document.querySelector(`#ac-${i}`)
      const input = parent.querySelector('.vs__search')
      input.style.display = 'block'
      input.focus()
    },
    close(i) {
      const parent = document.querySelector(`#ac-${i}`)
      const input = parent.querySelector('.vs__search')
      if (this.industries[i].activityId !== null) {
        input.style.display = 'none'
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/industry-sector/save-industries`,
          d
        )
        .then((res) => {
          if (!res.duplicated) {
            if (!Object.prototype.hasOwnProperty.call(res, 'error')) {
              const profilesIndustrySector = {
                activities: res.profilesIndustrySector,
              }
              localStorage.setItem(
                'profilesIndustrySector',
                JSON.stringify(profilesIndustrySector)
              )
            }
            if (res.finished) {
              localStorage.setItem('finished-assistant', 'finished')
              this.$router.push('/profiles/finish')
            } else {
              this.checkSteps(res)
            }
            this.duplicatedNames = false
          } else {
            this.duplicatedNames = true
            this.bussy = false
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.bussy = true
          await this.$recaptcha.init()

          // Get token to verify.
          const str = await this.$recaptcha.execute('login')

          // If form is valid
          const { id } = JSON.parse(
            localStorage.getItem('profilesIdentification')
          )
          const data = {
            clientId: id,
            activities: this.industries.concat(this.industriesToDelete),
            recaptcha: str,
          }
          await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async getData() {
      if (localStorage.getItem('companyActivitiesArr')) {
        this.companyActivities = JSON.parse(
          localStorage.getItem('companyActivitiesArr')
        )
        if (this.getLocalStorage('profilesIndustrySector')) {
          const profilesIndustrySector = this.getLocalStorage(
            'profilesIndustrySector'
          )
          this.industries = profilesIndustrySector.activities.map((el, i) => {
            return {
              ...el,
              index: new Date().getTime() + i,
            }
          })
        } else {
          // this.addSector()
        }
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/industry-sector/get-data`
          )
          .then((res) => {
            this.companyActivities = res.activities
            localStorage.setItem(
              'companyActivitiesArr',
              JSON.stringify(res.activities)
            )
            if (this.getLocalStorage('profilesIndustrySector')) {
              const profilesIndustrySector = this.getLocalStorage(
                'profilesIndustrySector'
              )
              this.industries = profilesIndustrySector.activities.map(
                (el, i) => {
                  return {
                    ...el,
                    index: new Date().getTime() + i,
                  }
                }
              )
            }
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    goBack() {
      this.$router.push('/profiles/contact')
    },
    addSector() {
      this.industries.push({
        id: null,
        activityId: null,
        toDelete: false,
        confirmToDelete: false,
        index: new Date().getTime(),
      })
    },
    removeIndustry(index) {
      const industryCopy = { ...this.industries[index] }
      industryCopy.toDelete = !industryCopy.toDelete
      this.industries.splice(index, 1)
      if (industryCopy.id !== null) {
        // this.clearUndoMode()
        this.industriesToDelete.push(industryCopy)
        // this.toggleUndoMode(industryCopy)
      }
    },
    confirmRemoveIndustry(index) {
      const industryCopy = { ...this.industries[index] }
      industryCopy.confirmToDelete = !industryCopy.confirmToDelete
      this.industries.splice(index, 1, industryCopy)
    },
    isSelectable(activity) {
      return !this.industries.some(
        (industry) => industry.activityId === activity.id
      )
    },
    // Undo mode
    /* toggleUndoMode(obj) {
      this.undoMode = false
      setTimeout(() => {
        this.undoMode = true
        this.undoObj = obj
      }, 500)
    },
    undoing() {
      this.undoObj.toDelete = false
      this.undoObj.confirmToDelete = false
      this.industries.push(this.undoObj)
      this.industriesToDelete.filter((industry) => {
        return industry.id !== this.undoObj.id
      })
    },
    async undoDelete() {
      await this.undoing()
      this.industries.forEach((ind, index) => {
        if (ind.id === this.undoObj.id) {
          this.close(index)
        }
      })
      this.undoObj = null
      this.undoMode = false
    },
    clearUndoMode() {
      this.undoMode = false
      this.undoObj = null
    }, */
  },
}
</script>

<style lang="scss">
/* .wizard-form__input .v-select input {
  width: unset;
} */
.wizard-form__input .v-select .vs__selected {
  padding: 6px 20px;
}
</style>
