<template>
  <div class="profiles-products question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Información de la empresa
    </h2>
    <wizard-header title="Productos" />

    <wizard-tip content="¿Qué productos o servicios ofrece tu compañía?" />

    <!-- Validation alerts -->
    <div
      v-if="($v.$dirty && $v.$invalid) || invalidCaptcha"
      class="wizard-errors"
    >
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <!-- <li v-if="requiredErrors" class="text">
            Debe completar al menos el nombre de todos los productos
          </li> -->
          <li v-if="nameLengthErrors" class="text">
            El nombre de los productos no debe contener más de 100 caracteres
          </li>
          <li v-if="nameDuplicityErrors" class="text">
            El nombre de cada producto debe ser único
          </li>
          <li v-if="descLengthErrors" class="text">
            La descripción de los productos no debe contener más de 400
            caracteres
          </li>
        </ul>
      </div>
    </div>

    <!-- products -->
    <div class="items-label mb-20">
      <div class="title">Productos</div>
      <Tooltip
        content="Agrega tus productos"
        animation="float"
        :active="products.length < 1"
      >
        <button class="btn-fab" :disabled="bussy" @click="addProduct()">
          <img :src="iconPlus" alt="" />
        </button>
      </Tooltip>
    </div>
    <form class="wizard-form">
      <!-- products list -->
      <draggable v-model.lazy="products" handle=".handle">
        <transition-group name="bounce" tag="ol">
          <div
            v-for="(product, index) in products"
            :key="`usproduct-${index}`"
            class="cm-group-3 cm-group-3--a1a cm-row"
            :class="{ 'delete-mode': product.confirmToDelete }"
          >
            <!-- Drag icon -->
            <button class="drag-button handle" title="Mover" @click.prevent="">
              <img :src="iconDrag" alt="" />
            </button>

            <!-- Fields -->
            <div class="wizard-form">
              <div class="wizard-form__input wizard-form__input--mb-0">
                <input
                  v-model.trim="product.name"
                  :class="{
                    'invalid-input':
                      $v.products.$dirty &&
                      (!$v.products.$each[index].name.maxLength ||
                        !$v.products.$each[index].name.unique),
                  }"
                  type="text"
                  class="input"
                  placeholder="Nombre del producto"
                  :maxlength="nameMaxCount"
                  @input="updateNameCount(index)"
                />
                <small class="mt-5 mr-3"
                  >Caracteres Restantes: {{ product.remainName }}</small
                >
              </div>
              <div class="wizard-form__input">
                <textarea
                  v-model.trim="product.description"
                  class="input mt-6"
                  :class="{
                    'invalid-input':
                      $v.products.$dirty &&
                      !$v.products.$each[index].description.maxLength,
                  }"
                  placeholder="Descripción (opcional)"
                  :maxlength="descMaxCount"
                  @input="updateDescCount(index)"
                ></textarea>
                <small class="mt-5 mr-3"
                  >Caracteres Restantes: {{ product.remainDescription }}</small
                >
              </div>
            </div>

            <!-- Actions buttons -->
            <div class="">
              <button
                v-if="product.productId === null"
                class=""
                title="Eliminar"
                type="button"
                @click.stop="removeProduct(index)"
              >
                <img :src="iconDelete" alt="" />
              </button>
              <button
                v-else
                title="Eliminar"
                @click.prevent="confirmRemoveProduct(index)"
              >
                <!-- @click="confirmRemoveStudy(index)" -->
                <img :src="iconDelete" alt="" />
              </button>
            </div>

            <div v-if="product.confirmToDelete" class="confirm-delete">
              <div class="wrapper">
                <div class="spacer"></div>
                <h2 class="message">
                  ¿Estás seguro de eliminar este producto?
                </h2>
                <div class="actions mt-2">
                  <button class="mr-5" @click.prevent="removeProduct(index)">
                    <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                  </button>
                  <button @click.prevent="confirmRemoveProduct(index)">
                    <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
    </form>

    <!-- UndoMode -->
    <!-- <div v-if="undoMode" class="undo-wrapper">
      <img :src="iconCheck" alt="" />
      <div class="undo-wrapper__content">
        <p class="undo-wrapper__title">El item fue eliminado correctamente</p>
        <p class="undo-wrapper__description">
          Para deshacer los cambios
          <span @click="undoing">haz click aquí</span>
        </p>
      </div>
      <img
        :src="iconClose"
        class="close-icon"
        alt=""
        @click="undoMode = false"
      />
    </div> -->

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import generalMixin from '@/mixins/generalMixin'
import { maxLength } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import draggable from 'vuedraggable'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
export default {
  components: { wizardHeader, WizardTip, draggable, Tooltip },
  mixins: [validationMixin, generalMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      undoMode: false,
      invalidCaptcha: false,
      undoObj: null,
      products: [],
      productsToDelete: [],
      nameMaxCount: 100,
      descMaxCount: 400,
      requiredErrors: false,
      nameLengthErrors: false,
      descLengthErrors: false,
      nameDuplicityErrors: false,
    }
  },
  validations: {
    products: {
      $each: {
        name: {
          maxLength: maxLength(100),
          unique(val, el) {
            const unique = !this.products.some(
              (pos) =>
                pos.productId !== el.productId &&
                pos.name.toLowerCase() === val.toLowerCase()
            )
            el.isUnique = unique
            return unique
          },
        },
        description: {
          maxLength: maxLength(400),
        },
      },
    },
  },
  created() {
    if (
      localStorage.getItem('profilesProducts') &&
      localStorage.getItem('profilesProducts') !== 'null'
    ) {
      const stepFour = JSON.parse(localStorage.getItem('profilesProducts'))
      this.products = stepFour.products
      if (this.products.length > 0) this.mapProductsForView()
    }
  },
  methods: {
    mapProductsForView() {
      this.products = this.products.map((ps) => {
        const formatedProduct = {
          productId: ps.id,
          name: ps.name,
          remainName: this.nameMaxCount - ps.name.length,
          description: ps.description,
          remainDescription: this.descMaxCount - ps.description.length,
          isUnique: true,
          toDelete: false,
          confirmToDelete: false,
        }
        return formatedProduct
      })
    },
    updateNameCount(i) {
      this.products[i].remainName =
        this.nameMaxCount - this.products[i].name.length
      this.checkValidationRules()
    },
    updateDescCount(i) {
      this.products[i].remainDescription =
        this.descMaxCount - this.products[i].description.length
      this.checkValidationRules()
    },
    checkValidationRules() {
      // this.checkRequiredRules()
      this.checkNameLengthRules()
      this.checkDescLengthRules()
      this.checkDuplicityRules()
    },
    /* checkRequiredRules() {
      if (this.$v.$dirty && this.$v.$invalid) {
        this.requiredErrors = false
        this.products.forEach((prod) => {
          if (prod.name === '') {
            this.requiredErrors = true
          }
        })
      }
    }, */
    checkNameLengthRules() {
      if (this.$v.$dirty && this.$v.$invalid) {
        this.nameLengthErrors = false
        this.products.forEach((prod) => {
          if (prod.remainName < 0) {
            this.nameLengthErrors = true
          }
        })
      }
    },
    checkDescLengthRules() {
      if (this.$v.$dirty && this.$v.$invalid) {
        this.descLengthErrors = false
        this.products.forEach((prod) => {
          if (prod.remainDescription < 0) {
            this.descLengthErrors = true
          }
        })
      }
    },
    checkDuplicityRules() {
      if (this.$v.$dirty && this.$v.$invalid) {
        this.nameDuplicityErrors = false
        this.products.forEach((prod) => {
          if (!prod.isUnique) {
            this.nameDuplicityErrors = true
          }
        })
      }
    },
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        this.checkValidationRules()
        if (!this.$v.$invalid) {
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const { id } = JSON.parse(
            localStorage.getItem('profilesIdentification')
          )

          this.products = this.products.map((product) => {
            const prod = {}
            prod.description = product.description
            prod.name = product.name
            prod.productId = product.productId
            prod.toDelete = !!(prod.productId !== null && prod.name === '')
            return prod
          })

          this.productsToDelete = this.productsToDelete.map((product) => {
            const prod = {}
            prod.description = product.description
            prod.name = product.name
            prod.productId = product.productId
            prod.toDelete = true
            return prod
          })

          const data = {
            clientId: id,
            products: this.products.concat(this.productsToDelete),
            recaptcha: str,
          }
          // if (this.id !== null) await this.update(data)
          // else await this.save(data)
          await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/products/save-products`,
          d
        )
        .then((res) => {
          if (!res.duplicated) {
            this.nameDuplicityErrors = false
            const profilesProducts = {
              products: res.profilesProducts,
            }
            localStorage.setItem(
              'profilesProducts',
              JSON.stringify(profilesProducts)
            )
            if (res.finished) {
              localStorage.setItem('finished-assistant', 'finished')
              this.$router.push('/profiles/finish')
            } else {
              this.checkSteps(res)
            }
          } else {
            this.nameDuplicityErrors = true
            this.bussy = false
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    goBack() {
      this.$router.push('/profiles/industry-sector')
    },
    addProduct() {
      this.products.push({
        productId: null,
        name: '',
        remainName: this.nameMaxCount,
        description: '',
        remainDescription: this.descMaxCount,
        isUnique: true,
        toDelete: false,
        confirmToDelete: false,
      })
    },
    removeProduct(index) {
      const productCopy = { ...this.products[index] }
      productCopy.toDelete = !productCopy.toDelete
      this.products.splice(index, 1)
      if (productCopy.productId !== null) {
        this.productsToDelete.push(productCopy)
        // this.toggleUndoMode(productCopy)
      }
    },
    confirmRemoveProduct(index) {
      const productCopy = { ...this.products[index] }
      productCopy.confirmToDelete = !productCopy.confirmToDelete
      this.products.splice(index, 1, productCopy)
    },
    /* toggleUndoMode(obj) {
      this.undoMode = false
      setTimeout(() => {
        this.undoMode = true
        this.undoObj = obj
      }, 500)
    },
    undoing() {
      this.undoObj.toDelete = false
      this.undoObj.confirmToDelete = false
      this.products.push(this.undoObj)
      this.productsToDelete.filter((product) => {
        return product.id !== this.undoObj.id
      })
      this.undoObj = null
      this.undoMode = false
    }, */
  },
}
</script>

<style lang="scss"></style>
