<template>
  <div class="profiles-profile-studies question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Características de la posición
    </h2>
    <wizard-header title="Cargos" />

    <wizard-tip
      content="Describe con detalle el cargo que deseas que ubiquemos para tu compañía."
    />

    <!-- Validation alerts -->
    <div v-if="invalidCaptcha || noPositionRequests" class="wizard-errors">
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="noPositionRequests" class="text">
            Debe agregar al menos un (1) cargo
          </li>
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
        </ul>
      </div>
    </div>

    <!-- positions -->
    <div class="items-label mb-20">
      <div class="title">Nuevo cargo</div>
      <Tooltip
        content="Agregar nuevo cargo"
        animation="float"
        :active="positions.length === 0"
      >
        <button
          class="btn-fab"
          :disabled="bussy"
          title="Agregar"
          @click="newPosition"
        >
          <img :src="iconPlus" alt="" />
        </button>
      </Tooltip>
    </div>
    <form class="wizard-form">
      <!-- positions list -->
      <draggable v-model.lazy="positions" handle=".handle">
        <transition-group name="bounce" tag="ol">
          <div
            v-for="(position, j) in positions"
            :key="`usposition-${j}`"
            class="cm-group-3 cm-group-3--a1a cm-row"
            :class="{ 'delete-mode': position.confirmToDelete }"
          >
            <!-- Drag icon -->
            <button class="drag-button handle" title="Mover" @click.prevent="">
              <img :src="iconDrag" alt="" />
            </button>

            <h2 class="position">
              <span>{{ position.title }}</span>
            </h2>

            <!-- Actions buttons -->
            <div class="">
              <button
                class="cell__edit mr-5"
                title="Editar cargo"
                @click.prevent="edit(j)"
              >
                <img src="@/assets/img/ui-icon-edit.svg" alt="" />
              </button>

              <button
                v-if="position.positionRequestId === null"
                class=""
                title="Eliminar"
                type="button"
                @click.stop="removePosition(j)"
              >
                <img :src="iconDelete" alt="" />
              </button>
              <button
                v-else
                title="Eliminar"
                @click.prevent="confirmRemovePosition(j)"
              >
                <img :src="iconDelete" alt="" />
              </button>
            </div>

            <div v-if="position.confirmToDelete" class="confirm-delete">
              <div class="wrapper">
                <div class="spacer"></div>
                <h2 class="message">¿Estás seguro de eliminar este cargo?</h2>
                <div class="actions mt-2">
                  <button class="mr-5" @click.prevent="removePosition(j)">
                    <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                  </button>
                  <button @click.prevent="confirmRemovePosition(j)">
                    <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
    </form>

    <!-- UndoMode -->
    <!-- <div v-if="undoMode" class="undo-wrapper">
      <img :src="iconCheck" alt="" />
      <div class="undo-wrapper__content">
        <p class="undo-wrapper__title">El item fue eliminado correctamente</p>
        <p class="undo-wrapper__description">
          Para deshacer los cambios
          <span @click="undoing">haz click aquí</span>
        </p>
      </div>
      <img :src="iconClose" class="close-icon" alt="" @click="finishUndo" />
    </div> -->

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm()">
          Siguiente
        </button>
      </template>
    </div>

    <!-- Position request modal -->
    <div v-if="toggleModal" class="modal" @click.self="closeExperienceModal">
      <div class="modal__wrapper">
        <div class="content">
          <!-- Header -->
          <div class="content__header">
            <h3 v-if="editMode" class="title-1 mb-40">Editar Cargo</h3>
            <h3 v-else class="title-1 mb-40">Nuevo Cargo</h3>
          </div>

          <!-- Body -->
          <div class="content__body">
            <!-- Validation alerts -->
            <div v-if="$v.$dirty && $v.$invalid" class="wizard-errors">
              <div class="wizard-errors__message">
                <img :src="iconError" class="icon" alt="" />
                <ul class="wizard-errors__errors">
                  <li v-if="!$v.positionId.required" class="text">
                    La posicion del cargo es requerido
                  </li>
                  <li v-if="!$v.title.required" class="text">
                    El nombre del cargo es requerido
                  </li>
                  <li v-if="!$v.title.maxLength" class="text">
                    El nombre del cargo debe contener un máximo de 100
                    caracteres
                  </li>
                  <li v-if="!$v.title.unique" class="text">
                    El nombre del cargo debe ser único
                  </li>
                  <li v-if="!$v.salaryExpectationId.required" class="text">
                    La remuneración del cargo es requerida
                  </li>
                  <li v-if="!$v.goals.required" class="text">
                    Los objetivos del cargo son requeridos
                  </li>
                  <li v-if="!$v.reportTo.maxLength" class="text">
                    El campo reporta a debe contener un máximo de 100 letras
                  </li>
                  <li v-if="!$v.superviseTo.maxLength" class="text">
                    El campo supervisa a debe contener un máximo de 100 letras
                  </li>
                </ul>
              </div>
            </div>

            <!-- form -->
            <form class="wizard-form">
              <div class="wizard-form__input">
                <label class="label" for="">Posición</label>
                <div class="country">
                  <div class="country__code">
                    <v-select
                      id="ac-position"
                      v-model="positionId"
                      class="input"
                      :class="{
                        'invalid-input':
                          positionIdErrors && !$v.positionId.required,
                      }"
                      :options="positionsOptions"
                      :clearable="false"
                      label="position"
                      placeholder="Gerente Recursos Humanos"
                      :reduce="(position) => position.id"
                      @open="open()"
                      @close="close()"
                    >
                      <template #no-options="{ search, searching }">
                        <template v-if="searching">
                          No se encontró <em>{{ search }}</em>
                        </template>
                      </template>
                    </v-select>
                  </div>
                </div>
              </div>
              <div class="cm-group-2">
                <!-- titulo del cargo -->
                <div class="wizard-form__input">
                  <label class="label" for="positionTitle"
                    >Nombre del cargo</label
                  >
                  <input
                    id="positionTitle"
                    v-model.trim="title"
                    class="input"
                    :class="{
                      'invalid-input':
                        titleErrors &&
                        (!$v.title.required ||
                          !$v.title.maxLength ||
                          !$v.title.unique),
                    }"
                    type="text"
                    name="positionTitle"
                    placeholder="Ej: Director General"
                    :maxLength="positionNameMaxCount"
                  />
                  <small class="mt-5 mr-3"
                    >Caracteres Restantes: {{ remainPositionNameCount }}</small
                  >
                </div>

                <!-- Remuneracion -->
                <div class="wizard-form__input">
                  <label class="label" for="positionTitle">Remuneración</label>
                  <div class="country">
                    <div class="country__code">
                      <select
                        id="cboSalary"
                        v-model="salaryExpectationId"
                        name="cboSalary"
                        class="input"
                        :class="{
                          'invalid-input':
                            salaryExpectationIdErrors &&
                            !$v.salaryExpectationId.required,
                        }"
                      >
                        <option value="" selected disabled>
                          Elegir una opción
                        </option>
                        <option
                          v-for="se in salaries"
                          :key="se.id"
                          :value="se.id"
                        >
                          {{ se.range }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Objetivos del cargo -->
              <div class="wizard-form__input">
                <div class="wyswyg-ftt">
                  <label class="label" for="positionTitle"
                    >Objetivos del cargo</label
                  >
                  <editor
                    v-model="goals"
                    placeholder="Analizar los problemas de la empresa en el aspecto..."
                    :class="{
                      'invalid-input': goalsErrors && !$v.goals.required,
                    }"
                    theme="snow"
                  ></editor>
                </div>
              </div>

              <div class="cm-group-2">
                <!-- reportTo -->
                <div class="wizard-form__input">
                  <label class="label" for="reportTo"
                    >Reporta a (opcional):</label
                  >
                  <input
                    id="reportTo"
                    v-model.trim="reportTo"
                    class="input"
                    :class="{
                      'invalid-input':
                        $v.$dirty && $v.$invalid && !$v.reportTo.maxLength,
                    }"
                    type="text"
                    name="reportTo"
                    placeholder="Gerente general"
                    :maxLength="positionNameMaxCount"
                  />
                  <small class="mt-5 mr-3"
                    >Caracteres Restantes: {{ remainReportTo }}</small
                  >
                </div>

                <!-- superviseTo -->
                <div class="wizard-form__input">
                  <label class="label" for="superviseTo"
                    >Supervisa a (opcional):</label
                  >
                  <input
                    id="superviseTo"
                    v-model.trim="superviseTo"
                    class="input"
                    :class="{
                      'invalid-input':
                        $v.$dirty && $v.$invalid && !$v.superviseTo.maxLength,
                    }"
                    type="text"
                    name="superviseTo"
                    placeholder="Consultores"
                    :maxLength="positionNameMaxCount"
                  />
                  <small class="mt-5 mr-3"
                    >Caracteres Restantes: {{ remainSuperviseTo }}</small
                  >
                </div>
              </div>

              <!-- checkbox -->
              <div class="wizard-form__input wizard-form__input--checkbox">
                <input
                  id="isCofidential"
                  v-model="confidential"
                  type="checkbox"
                  name="isCofidential"
                />
                <label class="label" for="isCofidential"
                  >Quiero mantener el nombre de la empresa confidencial.
                </label>
              </div>
            </form>
          </div>

          <!-- Actions -->
          <div class="step-actions">
            <button
              type="button"
              class="step-actions__button"
              @click="closeExperienceModal"
            >
              Cancelar
            </button>
            <button
              v-if="editMode"
              type="button"
              class="step-actions__button"
              @click="update"
            >
              Actualizar
            </button>
            <button
              v-else
              type="button"
              class="step-actions__button"
              @click="add"
            >
              Agregar
            </button>
          </div>
        </div>
        <div class="close-btn">
          <button
            class="wizard-header__button"
            title="Volver al home page"
            @click="closeExperienceModal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import generalMixin from '@/mixins/generalMixin'
import { required, maxLength } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import draggable from 'vuedraggable'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
// Verify if the current position title is unique
const unique = (val, vm) =>
  !vm.positions.some(
    (pos, i) => i !== vm.index && pos.title.toLowerCase() === val.toLowerCase()
  )
export default {
  components: { wizardHeader, WizardTip, draggable, Tooltip },
  mixins: [validationMixin, generalMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      undoMode: false,
      undoObj: null,
      positions: [],
      positionsToDelete: [],
      salaries: [],
      toggleModal: false,
      isUpdate: false,
      invalidCaptcha: false,
      editMode: false,
      // ? Att position
      positionRequestId: null, // ? db_index
      positionId: null,
      title: '',
      goals: '',
      salaryExpectationId: '',
      reportTo: '',
      superviseTo: '',
      confidential: false,
      toDelete: false,
      index: null,
      noPositionRequests: false,
      positionNameMaxCount: 100,
      goalsMaxCount: 1000,
    }
  },
  validations: {
    positionId: {
      required,
    },
    title: {
      maxLength: maxLength(100),
      unique,
      required,
    },
    goals: {
      required,
    },
    salaryExpectationId: {
      required,
    },
    reportTo: {
      maxLength: maxLength(100),
    },
    superviseTo: {
      maxLength: maxLength(100),
    },
  },
  computed: {
    positionIdErrors() {
      return this.$v.positionId.$dirty && this.$v.positionId.$invalid
    },
    titleErrors() {
      return this.$v.title.$dirty && this.$v.title.$invalid
    },
    goalsErrors() {
      return this.$v.goals.$dirty && this.$v.goals.$invalid
    },
    salaryExpectationIdErrors() {
      return (
        this.$v.salaryExpectationId.$dirty &&
        !this.$v.salaryExpectationId.required
      )
    },
    remainPositionNameCount() {
      const remainCount = this.positionNameMaxCount - this.title.length
      return remainCount
    },
    remainReportTo() {
      const remainCount = this.positionNameMaxCount - this.reportTo.length
      return remainCount
    },
    remainSuperviseTo() {
      const remainCount = this.positionNameMaxCount - this.superviseTo.length
      return remainCount
    },
  },
  created() {
    this.getData()
  },
  methods: {
    open() {
      const parent = document.querySelector('#ac-position')
      const input = parent.querySelector('.vs__search')
      input.style.display = 'block'
      input.focus()
    },
    close() {
      const parent = document.querySelector('#ac-position')
      const input = parent.querySelector('.vs__search')
      if (this.positionId !== null) {
        input.style.display = 'none'
      }
    },
    newPosition() {
      this.toggleModal = true
      this.editMode = false
      // Form data reset
      this.positionRequestId = null
      this.positionId = null
      this.title = ''
      this.goals = ''
      this.salaryExpectationId = ''
      this.reportTo = ''
      this.superviseTo = ''
      this.confidential = false
      this.index = null
    },
    async edit(index) {
      this.index = await index
      this.toggleModal = await true
      this.editMode = await true
      const position = await { ...this.positions[index] }
      this.positionId = await position.positionId
      this.positionRequestId = await position.positionRequestId
      this.title = await position.title
      this.goals = await position.goals
      this.salaryExpectationId = await position.salaryExpectationId
      this.reportTo = await position.reportTo
      this.superviseTo = await position.superviseTo
      this.confidential = await position.confidential
      this.toDelete = await position.toDelete
      await this.close()
    },
    update() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        const positionArr = {
          positionId: this.positionId,
          positionRequestId: this.positionRequestId,
          title: this.title,
          goals: this.goals,
          salaryExpectationId: this.salaryExpectationId,
          reportTo: this.reportTo,
          superviseTo: this.superviseTo,
          confidential: this.confidential,
          toDelete: this.toDelete,
        }
        this.positions.splice(this.index, 1, positionArr)
        this.toggleModal = false
        this.$v.$reset()
        this.resetForm()
      }
    },
    resetForm() {
      this.index = null
      this.positionId = ''
      this.positionRequestId = ''
      this.title = ''
      this.goals = ''
      this.salaryExpectationId = ''
      this.reportTo = ''
      this.superviseTo = ''
      this.confidential = ''
    },
    add() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        const newPosition = {
          positionRequestId: this.positionRequestId,
          positionId: this.positionId,
          title: this.title,
          goals: this.goals,
          salaryExpectationId: this.salaryExpectationId,
          reportTo: this.reportTo,
          superviseTo: this.superviseTo,
          toDelete: false,
          confirmToDelete: false,
          confidential: this.confidential,
        }
        this.positions.push(newPosition)
        this.noPositionRequests = false
        this.toggleModal = false
        this.$v.$reset()
        this.resetForm()
      }
    },
    removePosition(index) {
      const positionCopy = { ...this.positions[index] }
      positionCopy.toDelete = !positionCopy.toDelete
      this.positions.splice(index, 1)
      if (positionCopy.positionRequestId !== null) {
        this.positionsToDelete.push(positionCopy)
      }
      // this.toggleUndoMode(positionCopy)
      this.noPositionRequests = this.checkPositionsLength()
    },
    confirmRemovePosition(index) {
      const positionCopy = { ...this.positions[index] }
      positionCopy.confirmToDelete = !positionCopy.confirmToDelete
      this.positions.splice(index, 1, positionCopy)
      this.noPositionRequests = this.checkPositionsLength()
    },
    async checkForm() {
      if (this.positions.length > 0) {
        try {
          // Touch the form to validate data
          await this.$v.$touch()
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const { id } = JSON.parse(
            localStorage.getItem('profilesIdentification')
          )
          const data = {
            clientId: id,
            positionRequests: this.positions.concat(this.positionsToDelete),
            recaptcha: str,
          }
          await this.save(data)
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e)
        }
      } else {
        this.noPositionRequests = true
      }
    },
    goBack() {
      this.$router.push('/profiles/products')
    },
    async getData() {
      if (
        localStorage.getItem('salariesArr') &&
        localStorage.getItem('positionsArr')
      ) {
        this.salaries = JSON.parse(localStorage.getItem('salariesArr'))
        this.positionsOptions = JSON.parse(localStorage.getItem('positionsArr'))
        if (this.getLocalStorage('profilesRequests')) {
          const profilesRequests = this.getLocalStorage('profilesRequests')
          this.positions = profilesRequests.positions
        }
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/profile-requests/get-data`
          )
          .then((res) => {
            this.salaries = res.salaries
            this.positionsOptions = res.positions
            localStorage.setItem('salariesArr', JSON.stringify(res.salaries))
            localStorage.setItem('positionsArr', JSON.stringify(res.positions))
            if (this.getLocalStorage('profilesRequests')) {
              const profilesRequests = this.getLocalStorage('profilesRequests')
              this.positions = profilesRequests.positions
            }
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    closeExperienceModal() {
      this.toggleModal = false
      this.$v.$reset()
      this.resetForm()
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-requests/save-position-requests`,
          d
        )
        .then((res) => {
          const profilesRequests = {
            positions: res.stepFive,
          }
          localStorage.setItem(
            'profilesRequests',
            JSON.stringify(profilesRequests)
          )
          if (res.finished) {
            localStorage.setItem('finished-assistant', 'finished')
            this.$router.push('/profiles/finish')
          } else {
            this.checkSteps(res)
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    /* toggleUndoMode(obj) {
      this.undoMode = !this.undoMode
      this.undoObj = obj
    },
    undoing() {
      this.undoObj.toDelete = false
      this.undoObj.confirmToDelete = false
      this.positions.push(this.undoObj)
      this.positionsToDelete = this.positionsToDelete.filter((position) => {
        return position.id !== this.undoObj.id
      })
      this.undoObj = null
      this.undoMode = false
      this.noPositionRequests = false
    },
    finishUndo() {
      this.undoMode = false
      this.undoObj = null
    }, */
    checkPositionsLength() {
      return this.positions.length === 0
    },
  },
}
</script>

<style lang="scss">
.profiles-profile-studies {
  .wyswyg-ftt {
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      color: #23272f;
      margin: 6px 0px;
      display: block;
    }
  }
  .modal {
    position: fixed;
    // height: 100vh;
    // width: 100vw;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(37, 36, 48, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    &__wrapper {
      background-color: white;
      border-radius: 20px;
      width: 75%;
      max-width: 1088px;
      // height: max-content;
      height: calc((100vh - 80px) - 150px);
      // min-height: 500px;
      overflow: hidden;
      position: relative;
      .content {
        padding: 40px 80px;
        overflow: auto;
        height: 100%;
      }
      .close-btn {
        position: absolute;
        top: 30px;
        right: 15px;
      }
    }
  }
  .quill-editor-container {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    min-height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #23272f70;
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
      border: 0;
      padding: 0;
    }
    .ql-editor {
      color: #23272f70;
      font-style: normal !important;
      height: 150px;
      // padding: 12px 0px;
    }
  }
  .position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #23272f;
    word-break: break-word;
  }
  @media (max-width: 576px) {
    .wizard-form {
      .cm-group-2 {
        grid-template-columns: 1fr;
      }
    }
    .title-1 {
      font-size: 24px;
    }
    .modal {
    }
    .modal__wrapper {
      height: 100%;
      width: 100%;
      .content {
        padding: 20px;
      }
    }
  }
}
</style>
