<template>
  <div class="profiles-confirm-information question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Características del aspirante
    </h2>
    <wizard-header title="Experiencia" />

    <wizard-tip
      content="¿En qué rango de edad deben estar ubicados los posibles candidatos al cargo? 
      ¿Con cuántos años de experiencia en el sector debe contar tu candidato ideal?"
    />

    <!-- Validation alerts -->
    <div
      v-if="($v.$dirty && $v.$invalid) || invalidCaptcha"
      class="wizard-errors mb-10"
    >
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <!-- v-if="!$v.positionId.required" -->
          <li class="text">Debe completar todos los campos en experiencia</li>
        </ul>
      </div>
    </div>

    <form>
      <fieldset class="wizard-form">
        <!-- Nombre/Razón Social -->
        <div
          v-for="(position, i) in positions"
          :key="`position-${i}`"
          class="wizard-form__input"
        >
          <div class="">
            <div class="tab-card">
              <div class="title-wrapper">
                <label class="label" for="">{{ position.title }}</label>
              </div>
              <button class="tab-card__trigger" @click.prevent="toggleTab(i)">
                <img
                  :class="position.isTabEnabled ? 'open' : ''"
                  :src="iconDown"
                  alt=""
                />
              </button>

              <!-- Content -->
              <template v-if="position.isTabEnabled">
                <div
                  v-for="(study, j) in position.studies"
                  :key="`stydy-${j}`"
                  class="cm-group-3 cm-group-3--a1a cm-row"
                >
                  <!-- Fields -->
                  <div class="wizard-form">
                    <!-- Edad -->
                    <div class="country__code">
                      <select
                        v-model="study.ageRangeId"
                        :class="{
                          'invalid-input':
                            $v.positions.$dirty &&
                            !$v.positions.$each[i].studies.$each[j].ageRangeId
                              .required,
                        }"
                        class="input"
                        label="ageRange"
                        placeholder="Rango de edad"
                      >
                        <option value="" disabled>Rango de edad</option>
                        <option
                          v-for="range of ageRanges"
                          :key="range.id"
                          :value="range.id"
                        >
                          <p>{{ range.ageRange }}</p>
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="wizard-form">
                    <!-- Años en el sector o cargo -->
                    <div class="country__code">
                      <select
                        v-model="study.expRangeId"
                        :class="{
                          'invalid-input':
                            $v.positions.$dirty &&
                            !$v.positions.$each[i].studies.$each[j].expRangeId
                              .required,
                        }"
                        class="input"
                        label="expRange"
                        placeholder="Años de experiencia"
                      >
                        <option value="" disabled>Años de experiencia</option>
                        <option
                          v-for="range of expRanges"
                          :key="range.id"
                          :value="range.id"
                        >
                          {{ range.expRange }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import { required } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import generalMixin from '~/mixins/generalMixin'
export default {
  components: { wizardHeader, WizardTip },
  mixins: [generalMixin, validationMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      ageRanges: [],
      expRanges: [],
      positions: [],
      positionsToDelete: [],
      experiences: [],
      undoMode: false,
      undoObj: null,
      undoObjIndex: null,
      invalidCaptcha: false,
    }
  },
  created() {
    this.getPositions()
    this.getData()
  },
  methods: {
    updateStudyAge(event, i, j) {
      const positionCopy = {
        ...this.positions[i],
      }
      positionCopy.studies[j].ageRangeId = event
      this.positions.splice(i, 1, positionCopy)
    },
    updateStudyRange(event, i, j) {
      const positionCopy = {
        ...this.positions[i],
      }
      positionCopy.studies[j].expRangeId = event
      this.positions.splice(i, 1, positionCopy)
    },
    toggleUndoMode(obj, index) {
      this.undoMode = !this.undoMode
      this.undoObj = obj
      this.undoObjIndex = index
    },
    toggleTab(i) {
      const positionCopy = { ...this.positions[i] }
      positionCopy.isTabEnabled = !positionCopy.isTabEnabled
      this.positions.splice(i, 1, positionCopy)
    },
    getPositions() {
      const stepFive = JSON.parse(localStorage.getItem('profilesRequests'))
        .positions
      let stepData = null
      if (localStorage.getItem('profilesYearsOfExperience')) {
        stepData = JSON.parse(localStorage.getItem('profilesYearsOfExperience'))
      }
      this.positions = stepFive.map((position) => {
        let pos = null
        if (stepData) {
          pos = stepData.find(
            (el) => el.positionRequestId === position.positionRequestId
          )
        }
        delete position.salaryExpectationId
        delete position.confidential
        delete position.goals
        delete position.reportTo
        delete position.superviseTo
        delete position.finished
        position.isTabEnabled = true

        // ! DUMMY
        position.studies = [
          {
            posReqCandDetId:
              stepData === null || !pos
                ? null
                : this.getPosReqDetId(position.positionRequestId),
            positionRequestId: position.positionRequestId,
            ageRangeId:
              stepData === null || !pos
                ? ''
                : this.getAgeRangeId(position.positionRequestId),
            expRangeId:
              stepData === null || !pos
                ? ''
                : this.getExpRangeId(position.positionRequestId),
          },
        ]
        return position
      })
    },
    getPosReqDetId(prid) {
      const stepData = JSON.parse(
        localStorage.getItem('profilesYearsOfExperience')
      )
      const elem = stepData.find((sn) => sn.positionRequestId === prid)
      return elem.posReqCandDetId
    },
    getAgeRangeId(prid) {
      const stepData = JSON.parse(
        localStorage.getItem('profilesYearsOfExperience')
      )
      const elem = stepData.find((sn) => sn.positionRequestId === prid)
      return elem.ageRangeId
    },
    getExpRangeId(prid) {
      const stepData = JSON.parse(
        localStorage.getItem('profilesYearsOfExperience')
      )
      const elem = stepData.find((sn) => sn.positionRequestId === prid)
      return elem.expRangeId
    },
    async getData() {
      if (
        localStorage.getItem('ageRangesArr') &&
        localStorage.getItem('expRangesArr')
      ) {
        this.ageRanges = JSON.parse(localStorage.getItem('ageRangesArr'))
        this.expRanges = JSON.parse(localStorage.getItem('expRangesArr'))
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/experience-years/get-data`
          )
          .then((res) => {
            this.ageRanges = res.ageRanges
            this.expRanges = res.expRanges
            localStorage.setItem('ageRangesArr', JSON.stringify(res.ageRanges))
            localStorage.setItem('expRangesArr', JSON.stringify(res.expRanges))
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    async checkForm() {
      try {
        // Touch the form to validate data
        await this.$v.$touch()
        if (!this.$v.$invalid) {
          this.bussy = true
          await this.$recaptcha.init()

          // Get token to verify.
          const str = await this.$recaptcha.execute('login')

          // If form is valid
          const posReqCandDets = []
          this.positions.forEach((position) => {
            position.studies.forEach((study) => {
              posReqCandDets.push(study)
            })
          })
          const data = {
            posReqCandDets,
            recaptcha: str,
          }
          await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/experience-years/save-position`,
          d
        )
        .then((res) => {
          if (res.error === false) {
            const profilesYearsOfExperience = res.profilesYearsOfExperience
            localStorage.setItem(
              'profilesYearsOfExperience',
              JSON.stringify(profilesYearsOfExperience)
            )
            this.$router.push('/profiles/confirm-information')
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    goBack() {
      this.$router.push('/profiles/profile-skills')
    },
  },
  validations: {
    positions: {
      $each: {
        studies: {
          $each: {
            ageRangeId: { required },
            expRangeId: { required },
          },
        },
      },
    },
  },
}
</script>

<style lang="scss">
.profiles-confirm-information {
  .tab-card {
    // padding: 20px 30px 40px 20px;
    .cm-group-3 {
      grid-column: 1 / -1 !important;
      grid-template-columns: 1fr 1fr !important;
      // margin-bottom: 0;
      @media (max-width: 414px) {
        grid-template-columns: 1fr !important;
        row-gap: 20px;
      }
    }
    &__trigger {
      img {
        transition: transform 0.1s ease-in;
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  }
}
</style>
