<template>
  <div class="profiles-profile-locations question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Características de la posición
    </h2>
    <wizard-header title="Ubicación" />

    <wizard-tip
      content="Especifica si el cargo es en modalidad presencial, remota o ambas."
    />

    <!-- Validation alerts -->
    <div
      v-if="invalidCaptcha || invalidChecks || invalidCountry || invalidState"
      class="wizard-errors mb-10"
    >
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="invalidChecks" class="text">
            Debe especificar si cada cargo es presencial y/o remoto
          </li>
          <li v-if="invalidCountry" class="text">
            Debe especificar país para cada cargo presencial
          </li>
          <li v-if="invalidState" class="text">
            Debe especificar estado para cada cargo presencial
          </li>
        </ul>
      </div>
    </div>

    <form>
      <fieldset class="wizard-form">
        <div
          v-for="(position, i) in positions"
          :key="`position-${i}`"
          class="wizard-form__input"
          :class="{
            'invalid-input':
              (invalidChecks && position.emptyData) ||
              (invalidCountry && position.locationError) ||
              (invalidState && position.locationError),
          }"
        >
          <div class="">
            <div class="tab-card">
              <div class="title-wrapper">
                <label class="label" for="">{{ position.title }}</label>
              </div>
              <button class="tab-card__trigger" @click.prevent="toggleTab(i)">
                <img
                  :class="position.isTabEnabled ? 'open' : 'close'"
                  :src="iconDown"
                  alt=""
                />
              </button>
              <template v-if="position.isTabEnabled">
                <!-- presential -->
                <div class="card-1">
                  <!-- checkbox -->
                  <div
                    class="check-wrapper mb-5"
                    :class="{
                      error: invalidChecks && position.emptyData,
                    }"
                  >
                    <input
                      id="presentialCheckbox"
                      v-model="position.presential"
                      type="checkbox"
                      name="presencial"
                      @change="updateErrors(i)"
                    />
                    <label class="label" for="presentialCheckbox"
                      >Presencial
                    </label>
                  </div>

                  <!-- cm-group-2 -->
                  <div class="cm-group-2">
                    <!-- country -->
                    <div class="country__code">
                      <select
                        v-model="position.countryId"
                        class="input"
                        :class="{
                          'invalid-input':
                            invalidCountry &&
                            position.locationError &&
                            position.countryId === null,
                        }"
                        label="name"
                        placeholder="Escoger país"
                        :disabled="!position.presential"
                        @input="listStates($event.target.value, i)"
                      >
                        <option selected disabled :value="null">
                          Escoger país
                        </option>
                        <option
                          v-for="country of countries"
                          :key="country.id"
                          :value="country.id"
                        >
                          {{ country.name }}
                        </option>
                      </select>
                    </div>

                    <!-- state -->
                    <div class="country__code">
                      <select
                        v-model="position.countryStateId"
                        class="input"
                        :class="{
                          'invalid-input':
                            invalidState &&
                            position.states.length > 0 &&
                            position.countryStateId === null,
                        }"
                        label="name"
                        :disabled="
                          !position.presential ||
                          !position.countryId ||
                          position.states.length === 0
                        "
                        placeholder="Escoger estado"
                        @change="updateErrors(i)"
                      >
                        <option selected disabled :value="null">
                          {{
                            position.countryId && position.states.length === 0
                              ? 'NO DISPONIBLE'
                              : 'Escoger estado'
                          }}
                        </option>
                        <option
                          v-for="(state, i) of position.states"
                          :key="state.id"
                          :value="state.id"
                        >
                          {{ state.name || states[i].name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- checkbox vehicle -->
                  <div class="check-wrapper mt-5 ml-3">
                    <input
                      id="vehicleCheckbox"
                      v-model="position.vehicle"
                      type="checkbox"
                      name="Prueba"
                      :disabled="!position.presential"
                    />
                    <label class="label" for="vehicleCheckbox"
                      >¿Debe contar con vehículo? (opcional)</label
                    >
                  </div>
                </div>
                <!-- Remote -->
                <div class="card-1">
                  <!-- checkbox -->
                  <div
                    class="check-wrapper mb-3"
                    :class="{
                      error: invalidChecks && position.emptyData,
                    }"
                  >
                    <input
                      id="remote"
                      v-model="position.remote"
                      type="checkbox"
                      name="remote"
                      @change="updateErrors(i)"
                    />
                    <label class="label" for="remote">Remoto </label>
                  </div>

                  <!-- checkbox -->
                  <div class="check-wrapper mt-2 ml-3">
                    <input
                      id="machine"
                      v-model="position.machine"
                      type="checkbox"
                      name="machine"
                      :disabled="!position.remote"
                    />
                    <label class="label" for="machine"
                      >¿Debe contar con equipo? (opcional)</label
                    >
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <!-- <button type="button" class="step-actions__button" @click="checkForm"> -->
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import iconDown from '@/assets/img/ui-icon-arrow-down.png'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import generalMixin from '~/mixins/generalMixin'

export default {
  components: { wizardHeader, WizardTip },
  mixins: [generalMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      iconDown,
      bussy: false,
      positions: [],
      countries: [],
      states: [],
      isTabEnabled: false,
      invalidCaptcha: false,
      // New props
      checkedForm: false,
      invalidChecks: false,
      invalidCountry: false,
      invalidState: false,
    }
  },
  created() {
    this.getPositions()
    this.getData()
  },
  methods: {
    goBack() {
      this.$router.push('/profiles/profile-requests')
    },
    toggleTab(i) {
      const positionCopy = { ...this.positions[i] }
      positionCopy.isTabEnabled = !positionCopy.isTabEnabled
      this.positions.splice(i, 1, positionCopy)
    },
    setInvalidChecks() {
      let balancer = 0
      this.positions.forEach((pos) => {
        if (!pos.presential && !pos.remote) balancer++
      })
      this.invalidChecks = balancer !== 0
    },
    setinvalidCountry() {
      let balancer = 0
      this.positions.forEach((pos) => {
        if (pos.presential) {
          if (pos.countryId === null) balancer++
        }
      })
      this.invalidCountry = balancer !== 0
    },
    setinvalidState() {
      let balancer = 0
      this.positions.forEach((pos) => {
        if (pos.presential) {
          if (pos.states.length > 0 && pos.countryStateId === null) balancer++
        }
      })
      this.invalidState = balancer !== 0
    },
    updateErrors(index) {
      const element = { ...this.positions[index] }
      element.emptyData = !element.presential && !element.remote
      if (element.presential) {
        element.locationError =
          element.countryId === null ||
          (element.countryStateId === null && element.states.length > 0)
      } else {
        // Set the presential values as defaut
        element.countryId = null
        element.countryStateId = null
        element.locationError = false
        element.vehicle = false
        element.states = []
      }
      if (!element.remote) {
        // Set the remote values as defaut
        element.machine = false
      }
      this.positions.splice(index, 1, element)
      if (this.checkedForm) {
        this.setInvalidChecks()
        this.setinvalidCountry()
        this.setinvalidState()
      }
    },
    validateForm() {
      this.checkedForm = true
      this.setInvalidChecks()
      this.setinvalidCountry()
      this.setinvalidState()
    },
    async checkForm() {
      this.validateForm()
      if (!this.invalidChecks && !this.invalidCountry && !this.invalidState) {
        this.bussy = true
        await this.$recaptcha.init()

        // Get token to verify.
        const str = await this.$recaptcha.execute('login')

        // If form is valid
        const { id } = JSON.parse(
          localStorage.getItem('profilesIdentification')
        )
        const pos = this.positions.map((p) => {
          return {
            countryId: p.countryId,
            countryStateId: p.countryStateId,
            machine: p.machine,
            positionRequestId: p.positionRequestId,
            remote: p.remote,
            vehicle: p.vehicle,
          }
        })
        const data = {
          clientId: id,
          positionRequestsLocations: pos,
          recaptcha: str,
        }
        await this.save(data)
      }
    },
    async getData() {
      // Check if countries array exists in LS
      if (localStorage.getItem('countriesArr')) {
        // Save countries in view prop
        this.countries = JSON.parse(localStorage.getItem('countriesArr'))
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/profile-locations/get-data`
          )
          .then((res) => {
            this.countries = res.countries
            localStorage.setItem('countriesArr', JSON.stringify(res.countries))
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    async getPositions() {
      const positions = JSON.parse(localStorage.getItem('profilesRequests'))
        .positions
      // Check if step six is in local storage
      if (localStorage.getItem('profilesLocations')) {
        // Get information for every position request in step six
        const profilesLocations = JSON.parse(
          localStorage.getItem('profilesLocations')
        ).positionRequestsLocations
        // Check if step six and step five contain the same data
        if (
          JSON.stringify(positions.map((el) => el.positionRequestId)) ===
          JSON.stringify(profilesLocations.map((el) => el.positionRequestId))
        ) {
          // Add states to every position request location in array
          this.positions = await Promise.all(
            profilesLocations.map(async (element, i) => {
              const elem = element
              // Check if country is set for this position request
              if (elem.countryId !== null) {
                // Get states
                await this.getStates(elem.countryId)
                // Set states
                elem.states = this.states
                elem.presential = true
              } else {
                elem.presential = false
                elem.states = []
              }
              // Set title property
              const elemFive = positions.find(
                (sf) => sf.positionRequestId === elem.positionRequestId
              )
              elem.title = elemFive.title
              // Set tab property
              elem.isTabEnabled = i < 1
              return elem
            })
          )
        } else {
          this.positions = await Promise.all(
            positions.map(async (element, i) => {
              let elem = {
                // Frontend ob props
                title: element.title,
                isTabEnabled: i < 1,
                presential: false,
                states: [],
                // DB data needed
                positionRequestId: element.positionRequestId,
                countryId: null,
                countryStateId: null,
                remote: false,
                vehicle: false,
                machine: false,
              }
              if (
                profilesLocations.find(
                  (el) => el.positionRequestId === element.positionRequestId
                )
              ) {
                const positionLocations = profilesLocations.find(
                  (el) => el.positionRequestId === element.positionRequestId
                )
                elem = {
                  ...elem,
                  ...positionLocations,
                }
                // Check if country is set for this position request
                if (elem.countryId !== null) {
                  // Get states
                  await this.getStates(elem.countryId)
                  // Set states
                  elem.states = this.states
                  elem.presential = true
                } else {
                  elem.presential = false
                  elem.states = []
                }
              }
              // Validation data
              elem.emptyData = !elem.presential && !elem.remote
              elem.locationError =
                elem.countryId === null ||
                (elem.countryStateId === null && elem.states.length > 0)
              return elem
            })
          )
        }
        return
      }
      this.positions = positions.map((element) => {
        const elem = {
          // Frontend ob props
          title: element.title,
          isTabEnabled: true,
          presential: false,
          states: [],
          // DB data needed
          positionRequestId: element.positionRequestId,
          countryId: null,
          countryStateId: null,
          remote: false,
          vehicle: false,
          machine: false,
        }

        // Validation data
        elem.emptyData = !elem.presential && !elem.remote
        elem.locationError =
          elem.countryId === null ||
          (elem.countryStateId === null && elem.states.length > 0)
        return elem
      })
    },
    async getStates(countryId) {
      await this.$axios
        .$get(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-locations/states/${countryId}`
        )
        .then((res) => {
          this.states = res.states
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    async listStates(value, index) {
      this.states = []
      await this.getStates(value)
      const elem = { ...this.positions[index] }
      // Set the country state as null
      elem.countryStateId = null
      elem.states = this.states
      this.positions.splice(index, 1, elem)
      this.updateErrors(index)
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-locations/save-position`,
          d
        )
        .then((res) => {
          const profilesLocations = {
            positionRequestsLocations: res.profilesLocations,
          }
          localStorage.setItem(
            'profilesLocations',
            JSON.stringify(profilesLocations)
          )
          if (res.finished) {
            localStorage.setItem('finished-assistant', 'finished')
            this.$router.push('/profiles/finish')
          } else {
            this.checkSteps(res)
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
  },
}
</script>

<style lang="scss">
.profiles-profile-locations {
  // updating styles according to original design
  .tab-card {
    padding: 20px;
    &__trigger {
      img {
        transition: transform 0.1s ease-in;
        &.open {
          transform: rotate(180deg);
        }
      }
    }
    @media screen and (max-width: 576px) {
      .card-1 .label {
        font-size: 12px;
      }
      .cm-group-2 {
        row-gap: 15px;
        grid-template-columns: 1fr;
      }
    }
  }
}
</style>
