<template>
  <div class="profiles-profile-skills question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Características del aspirante
    </h2>
    <wizard-header title="Habilidades/Conocimientos" />

    <wizard-tip
      content="Indica que idiomas, conocimientos y/o habilidades son requeridos para desempeñar correctamente este cargo."
    />

    <form class="wizard-form">
      <!-- skills list -->
      <div
        v-for="(position, i) in positions"
        :key="`usposition-${i}`"
        class="wizard-form__input cm-row"
      >
        <div class="tab-card">
          <div class="title-wrapper">
            <h2 class="label">
              <span>{{ position.title }}</span>
            </h2>
            <!-- Add -->
            <Tooltip
              content="Agregar una habilidad y/o idioma"
              animation="float"
              :active="
                !somePositionDone &&
                i === 0 &&
                position.skills.length === 0 &&
                position.languages.length === 0
              "
            >
              <button
                v-if="
                  position.skills.length === 0 &&
                  position.languages.length === 0
                "
                class="btn-fab"
                title="Agregar habilidades/conocimientos"
                @click.prevent="add(i)"
              >
                <img :src="iconPlus" alt="" />
              </button>
            </Tooltip>
          </div>
          <!-- Drag icon -->

          <!-- Actions buttons -->
          <div
            v-if="position.skills.length > 0 || position.languages.length > 0"
          >
            <!-- tab btn -->
            <button
              class="tab-card__trigger tab-card__opt"
              @click.prevent="toggleTab(i)"
            >
              <img
                :class="position.isTabEnabled ? 'open' : ''"
                :src="iconDown"
                alt=""
              />
            </button>
            <!-- Edit -->
            <button
              class="cell__edit tab-card__opt"
              title="Editar habilidades/conocimientos"
              @click.prevent="edit(i)"
            >
              <img src="@/assets/img/ui-icon-edit.svg" alt="" />
            </button>
            <button
              title="Eliminar cambios realizados"
              @click.prevent="confirmRemovePosition(i)"
            >
              <img :src="iconDelete" alt="" />
            </button>
          </div>

          <div v-if="position.confirmToDelete" class="confirm-delete">
            <div class="wrapper">
              <div class="spacer"></div>
              <h2 class="message">
                ¿Estás seguro de limpiar las habilidades/conocimientos de esta
                posicion?
              </h2>
              <div class="actions mt-2">
                <button class="mr-5" @click.prevent="removePosition(i)">
                  <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                </button>
                <button @click.prevent="confirmRemovePosition(i)">
                  <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                </button>
              </div>
            </div>
          </div>

          <template v-if="position.isTabEnabled">
            <div class="tab-wrapper">
              <!-- Skills -->
              <div class="list__wrapper card-1">
                <div class="list__header">
                  <h2 class="mb-3 mt-3">
                    <span v-if="position.skills.length > 0"
                      >Habilidades/Conocimientos</span
                    >
                    <span v-else>
                      <span class="font-weight-bold">
                        Habilidades/Conocimientos:
                      </span>
                      <span class="font-normal">Ninguno</span>
                    </span>
                  </h2>
                  <div v-if="position.skills" class="list__list">
                    <div
                      v-for="(skill, s) in position.skills"
                      :key="`badge-${s}`"
                      class="badge"
                    >
                      <div class="badge__title">{{ skill.skill }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Languages -->
              <div class="list__wrapper card-1">
                <div class="list__header">
                  <h2 class="mb-3 mt-3">Idiomas</h2>
                  <ul
                    v-if="position.languages.length > 0"
                    class="list__list list__list-row"
                  >
                    <li
                      v-for="(lang, l) in position.languages"
                      :key="`lang-${l}`"
                      class="font-normal"
                    >
                      {{ lang.langName }} - {{ lang.levelName }}
                    </li>
                  </ul>
                  <div v-else class="list__list">
                    <span class="font-normal">Ninguno</span>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </form>

    <!-- UndoMode -->
    <!-- <div v-if="undoMode" class="undo-wrapper">
      <img :src="iconCheck" alt="" />
      <div class="undo-wrapper__content">
        <p class="undo-wrapper__title">El item fue eliminado correctamente</p>
        <p class="undo-wrapper__description">
          Para deshacer los cambios
          <span @click="undoing">haz click aquí</span>
        </p>
      </div>
      <img
        :src="iconClose"
        class="close-icon"
        alt=""
        @click="undoMode = false"
      />
    </div> -->

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>

    <!-- edit modal -->
    <div v-if="toggleModal" class="modal" @click.self="cancelUpdate">
      <div class="modal__wrapper">
        <div class="content">
          <!-- Header -->
          <div class="content__header">
            <h3 class="title-1 mb-40">
              {{ positions[index].title }}
            </h3>
          </div>

          <!-- Body -->
          <div class="content__body">
            <!-- Validation alerts -->
            <div v-if="$v.$dirty && $v.$invalid" class="wizard-errors mb-10">
              <div class="wizard-errors__message">
                <img :src="iconError" class="icon" alt="" />
                <ul class="wizard-errors__errors">
                  <li
                    v-if="!$v.selectedSkills.required || !$v.languages.required"
                    class="text"
                  >
                    Debe agregar al menos una habilidad o un idioma
                  </li>
                  <li v-if="$v.languages.$each.$invalid" class="text">
                    Debe especificar cada idioma con su respectivo nivel
                  </li>
                </ul>
              </div>
            </div>
            <!-- form -->
            <form class="wizard-form">
              <!-- skills -->
              <div>
                <div class="items-label">
                  <label class="title" for="skill-list"
                    >Habilidades/Conocimientos</label
                  >
                </div>
                <v-select
                  :options="filteredSkillList"
                  multiple
                  class="input custom-v-select"
                  label="skill"
                  placeholder="Ej: Manejo de equipos"
                  :reduce="(skill) => skill.id"
                  :value="selectedSkills"
                  @search="onSearch"
                  @option:deselected="deselect"
                  @option:selected="select"
                >
                  <template #no-options="{ search, searching }">
                    <template v-if="searching">
                      No se encontró <em>{{ search }}</em>
                    </template>
                    <template v-else> Escriba una habilidad </template>
                  </template>
                </v-select>
              </div>

              <!-- languages -->
              <div class="items-label my-5">
                <div class="title">Idioma</div>
                <button
                  class="btn-fab"
                  :disabled="bussy"
                  title="Agregar"
                  @click.prevent="addLang"
                >
                  <img :src="iconPlus" alt="" />
                </button>
              </div>
              <draggable v-model.lazy="languages" handle=".handle">
                <transition-group name="bounce" tag="ol">
                  <div
                    v-for="(lang, j) in languages"
                    :key="`uslang-${j}`"
                    class="cm-group-3 cm-group-3--a1a cm-row"
                    :class="{ 'delete-mode': lang.confirmToDelete }"
                  >
                    <!-- Drag icon -->
                    <button
                      class="drag-button handle"
                      title="Mover"
                      @click.prevent=""
                    >
                      <img :src="iconDrag" alt="" />
                    </button>

                    <div class="cm-group-2">
                      <!-- Lang -->
                      <div class="wizard-form__input wizard-form__input--mb-0">
                        <div class="country">
                          <div class="country__code">
                            <select
                              v-model="languages[j].langId"
                              class="input"
                              :class="{
                                'invalid-input':
                                  $v.$dirty &&
                                  !$v.languages.$each[j].langId.required,
                              }"
                              label="lang"
                              placeholder="Idioma"
                            >
                              <option :value="null" disabled>
                                Elegir un lenguaje
                              </option>
                              <option
                                v-for="language in languagesOptions"
                                :key="language.id"
                                :value="language.id"
                              >
                                <p>{{ language.lang }}</p>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <!-- Lang Level -->
                      <div class="wizard-form__input wizard-form__input--mb-0">
                        <div class="country">
                          <div class="country__code">
                            <select
                              v-model="languages[j].levelId"
                              class="input"
                              :class="{
                                'invalid-input':
                                  $v.$dirty &&
                                  !$v.languages.$each[j].levelId.required,
                              }"
                              label="level"
                              placeholder="Nivel del idioma"
                            >
                              <option :value="null" disabled>
                                Elegir un nivel
                              </option>
                              <option
                                v-for="level in languageLevels"
                                :key="level.id"
                                :value="level.id"
                              >
                                <p>{{ level.level }}</p>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Actions buttons -->
                    <div class="">
                      <!-- delete -->
                      <button
                        v-if="lang.posReqLangId === null"
                        class=""
                        title="Eliminar"
                        type="button"
                        @click.stop="removeLang(j)"
                      >
                        <img :src="iconDelete" alt="" />
                      </button>
                      <button
                        v-else
                        title="Eliminar"
                        @click.prevent="confirmRemoveLang(j)"
                      >
                        <img :src="iconDelete" alt="" />
                      </button>
                    </div>

                    <div v-if="lang.confirmToDelete" class="confirm-delete">
                      <div class="wrapper">
                        <div class="spacer"></div>
                        <h2 class="message">
                          ¿Estás seguro de eliminar este idioma?
                        </h2>
                        <div class="actions mt-2">
                          <button class="mr-5" @click.prevent="removeLang(j)">
                            <img src="@/assets/img/ui-icon-doit.svg" alt="" />
                          </button>
                          <button @click.prevent="confirmRemoveLang(j)">
                            <img src="@/assets/img/ui-icon-cancel.svg" alt="" />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition-group>
              </draggable>
            </form>
          </div>

          <!-- Actions -->
          <div class="step-actions">
            <button
              type="button"
              class="step-actions__button"
              @click="cancelUpdate"
            >
              Cancelar
            </button>
            <button type="button" class="step-actions__button" @click="update">
              <template v-if="editMode">Actualizar</template>
              <template v-else>Agregar</template>
            </button>
          </div>
        </div>
        <div class="close-btn">
          <button
            class="wizard-header__button"
            title="Volver al home page"
            @click="cancelUpdate"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import draggable from 'vuedraggable'
import { validationMixin } from 'vuelidate'
import { required, requiredIf } from 'vuelidate/lib/validators'
import _ from 'lodash'
import generalMixin from '~/mixins/generalMixin'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import Tooltip from '~/components/Tooltip/Tooltip.vue'
export default {
  components: { wizardHeader, WizardTip, draggable, Tooltip },
  mixins: [generalMixin, validationMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      editMode: false,
      toggleModal: false,
      index: null,
      skills: [],
      skillsOptions: [],
      skillsToDelete: [],
      languages: [],
      languagesOptions: [],
      languageLevels: [],
      languagesToDelete: [],
      positions: [],
      positionsToDelete: [],
      stringSkills: null,
      undoMode: false,
      undoObj: null,
      undoObjIndex: null,
      confirmDeleteSkill: false,
      confirmDeleteSkillIndex: null,
      //
      selectedSkills: [],
    }
  },
  validations: {
    selectedSkills: {
      required: requiredIf((vm) => {
        return vm.selectedSkills.length === 0 && vm.languages.length === 0
      }),
    },
    languages: {
      required: requiredIf((vm) => {
        return vm.selectedSkills.length === 0 && vm.languages.length === 0
      }),
      $each: {
        langId: { required },
        levelId: { required },
      },
    },
  },
  computed: {
    // return true if some position have a skill or a langueage
    somePositionDone() {
      return this.positions.some(
        (pos) => pos.skills.length > 0 || pos.languages.length > 0
      )
    },
    // return a filtered skill list
    filteredSkillList() {
      // if the selected skills are empty return the whole list
      if (this.selectedSkills.length === 0) return this.skillsOptions
      return this.skillsOptions.filter(
        // retun the skill if no exist in the selected skill list
        (skill) => !this.selectedSkills.some((el) => el.id === skill.id)
      )
    },
  },
  watch: {
    stringSkills(val) {
      const skillsArr = val.split(',').map((skill) => {
        return skill.trim()
      })
      this.skills = skillsArr.filter(function (el) {
        return el !== ''
      })
    },
  },
  created() {
    this.getData()
    this.getPositions()
  },
  methods: {
    // Selecting and deselecting skills from selectedSKills prop
    select(option) {
      const lastOption = { ...option[option.length - 1] }
      lastOption.posSkillId = null

      // Check if option is in skillsToDelete arr to remove from it
      const index = this.skillsToDelete.findIndex(
        (std) => std.id === lastOption.id
      )
      if (index !== -1) {
        const deletedOPtion = { ...this.skillsToDelete[index] }
        lastOption.posSkillId = deletedOPtion.posSkillId
        this.skillsToDelete.splice(index, 1)
      }
      this.selectedSkills.push(lastOption)
    },
    deselect(option) {
      // Remove the skill from selectedSkills arr
      this.selectedSkills = this.selectedSkills.filter(
        (sk) => sk.id !== option.id
      )

      if (option.posSkillId !== null) {
        const posReq = this.positions[this.index]
        const optionCopy = { ...option }
        optionCopy.positionRequestId = posReq.positionRequestId
        this.skillsToDelete.push(optionCopy)
      }
    },
    // Search for skills after writting in form
    onSearch(search, loading) {
      if (search.trim().length) {
        loading(true)
        this.searchStr(loading, search, this)
      }
    },
    searchStr: _.debounce((loading, search, vm) => {
      const request = `${vm.$axios.defaults.baseURL}assistants/profiles/profile-skills/get-skills`
      vm.$axios.$post(request, { skill: search }).then((res) => {
        vm.skillsOptions = res.skills
        loading(false)
      })
    }, 350),
    // Undo Mode
    toggleUndoMode(index) {
      const positionCopy = { ...this.positions[index] }
      this.undoObj = { ...positionCopy }
      positionCopy.confirmToDelete = false
      positionCopy.skills = []
      positionCopy.languages = []
      this.positions.splice(index, 1, positionCopy)
      this.undoMode = !this.undoMode
      this.undoObjIndex = index
    },
    // Getting lang and level name from languages
    langName(id) {
      const langsFiltered = this.languagesOptions.filter(
        (lang) => lang.id === id
      )
      return langsFiltered.length > 0 ? langsFiltered[0].lang : ''
    },
    langLevel(id) {
      const arr = this.languageLevels.filter((lang) => lang.id === id)
      return arr.length > 0 ? arr[0].level : ''
    },
    // Form management methods
    addLang() {
      this.languages.push({
        posReqLangId: null,
        langId: null,
        langName: '',
        levelId: null,
        levelName: '',
      })
    },
    removePositionSkill(indexPosition, skillPosition) {
      const posCopy = { ...this.positions[indexPosition] }
      const skillToDelete = posCopy.skills[skillPosition]
      this.positions[indexPosition].skills.splice(skillPosition, 1)
      if (skillToDelete.posSkillId !== null) {
        posCopy.skillsToDelete.push(skillToDelete.posSkillId)
      }
    },
    closeModal() {
      this.index = null
      this.toggleModal = false
      this.editMode = false
      this.skillsOptions = []
      this.selectedSkills = []
      this.languages = []
      this.$v.$reset()
      this.$v.selectedSkills.$reset()
      this.$v.languages.$reset()
    },
    cancelUpdate() {
      const posReqId = this.positions[this.index].positionRequestId
      if (this.languagesToDelete.length > 0) {
        this.languagesToDelete = this.languagesToDelete.filter(
          (ltd) => ltd.positionRequestId !== posReqId
        )
      }
      if (this.skillsToDelete.length > 0) {
        this.skillsToDelete = this.skillsToDelete.filter(
          (std) => std.positionRequestId !== posReqId
        )
      }
      this.closeModal()
    },
    update() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // Set skills to render in view
        this.positions[this.index].skills = this.selectedSkills.map((sk) => {
          const elem = {}
          elem.posSkillId = sk.posSkillId
          elem.id = sk.id
          elem.skill = sk.skill
          return elem
        })

        // Set languages to render in view
        this.positions[this.index].languages = this.languages.map((l) => {
          const elem = {}
          elem.posReqLangId = l.posReqLangId
          elem.langId = l.langId
          elem.langName = this.langName(l.langId)
          elem.levelId = l.levelId
          elem.levelName = this.langLevel(l.levelId)
          return elem
        })
        // Set true the isTabEnabled value to show the data
        this.positions[this.index].isTabEnabled = true
        this.closeModal()
      }
    },
    add(index) {
      this.index = index
      this.toggleModal = true
    },
    edit(index) {
      this.index = index
      this.toggleModal = true
      this.editMode = true
      if (this.positions[this.index].skills.length > 0) {
        this.selectedSkills = [...this.positions[this.index].skills]
      }
      if (this.positions[this.index].languages.length > 0) {
        this.languages = [...this.positions[this.index].languages]
      }
    },
    toggleTab(i) {
      const positionCopy = { ...this.positions[i] }
      positionCopy.isTabEnabled = !positionCopy.isTabEnabled
      this.positions.splice(i, 1, positionCopy)
    },
    removePosition(index) {
      const position = this.positions[index]
      if (position.skills.length > 0)
        this.setSkillsToDelete(position.skills, index)
      if (position.languages.length > 0)
        this.setLangsToDelete(position.languages, index)
      this.positions[index].isTabEnabled = false
      this.toggleUndoMode(index)
    },
    setSkillsToDelete(skills, index) {
      skills.forEach((skill) => {
        if (skill.posSkillId !== null) {
          const posReq = this.positions[index]
          const skillCopy = { ...skill }
          skillCopy.positionRequestId = posReq.positionRequestId
          this.skillsToDelete.push(skillCopy)
        }
      })
    },
    setLangsToDelete(langs, index) {
      langs.forEach((lang) => {
        if (lang.posReqLangId) {
          const posReq = this.positions[index]
          lang.positionRequestId = posReq.positionRequestId
          this.languagesToDelete.push(lang)
        }
      })
    },
    confirmRemovePosition(index) {
      const positionCopy = { ...this.positions[index] }
      positionCopy.confirmToDelete = !positionCopy.confirmToDelete
      this.positions.splice(index, 1, positionCopy)
    },
    removeLang(index) {
      const langCopy = { ...this.languages[index] }
      langCopy.toDelete = !langCopy.toDelete
      this.languages.splice(index, 1)
      if (langCopy.posReqLangId) {
        const posReq = this.positions[this.index]
        langCopy.positionRequestId = posReq.positionRequestId
        this.languagesToDelete.push(langCopy)
      }
    },
    confirmRemoveLang(index) {
      const langCopy = { ...this.languages[index] }
      langCopy.confirmToDelete = !langCopy.confirmToDelete
      this.languages.splice(index, 1, langCopy)
    },
    // Form sending methods
    async checkForm() {
      const data = []
      // Check skills and langs to add
      this.positions.forEach((p) => {
        let addToDataArr = false
        const itData = {}
        // Checking skills to add
        if (p.skills.length > 0) {
          const skta = []
          p.skills.forEach((s) => {
            addToDataArr = true
            if (s.posSkillId === null) {
              skta.push(s.id)
            }
          })
          itData.skillsToAdd = skta
        }
        // Checking skills to delete
        const skillsToDelete = this.skillsToDelete.filter(
          (std) => std.positionRequestId === p.positionRequestId
        )
        if (skillsToDelete.length > 0) {
          addToDataArr = true
          const sktd = skillsToDelete.map((std) => {
            return std.posSkillId
          })
          itData.skillsToDelete = sktd
        }
        // Checking langs to add
        if (p.languages.length > 0) {
          const lta = []
          p.languages.forEach((l) => {
            addToDataArr = true
            if (l.posReqLangId === null) {
              lta.push({
                langId: l.langId,
                levelId: l.levelId,
              })
            }
          })
          itData.langsToAdd = lta
        }
        // Checking langs to delete
        const langsToDelete = this.languagesToDelete.filter(
          (std) => std.positionRequestId === p.positionRequestId
        )
        if (langsToDelete.length > 0) {
          addToDataArr = true
          const ltd = langsToDelete.map((ltd) => {
            return ltd.posReqLangId
          })
          itData.langsToDelete = ltd
        }
        if (addToDataArr) {
          itData.posReqId = p.positionRequestId
          data.push(itData)
        }
      })

      if (data.length > 0) {
        this.bussy = true
        await this.$recaptcha.init()

        // Get token to verify.
        const str = await this.$recaptcha.execute('login')

        const dataToSend = {
          positionRequests: data,
          recaptcha: str,
        }
        await this.save(dataToSend)
      } else {
        if (!localStorage.getItem('profilesSkills'))
          localStorage.setItem('profilesSkills', JSON.stringify([]))
        this.$router.push('/profiles/profile-years-of-experience')
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-skills/save-position`,
          d
        )
        .then((res) => {
          const profileSkills = res.profileSkills
          localStorage.setItem('profilesSkills', JSON.stringify(profileSkills))
          if (res.finished) {
            localStorage.setItem('finished-assistant', 'finished')
            this.$router.push('/profiles/finish')
          } else {
            this.checkSteps(res)
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    goBack() {
      this.$router.push('/profiles/profile-studies')
    },
    getPositions() {
      // eslint-disable-next-line prettier/prettier
      const profilesRequests = JSON.parse(localStorage.getItem('profilesRequests'))
      this.positions = profilesRequests.positions.map((sf) => {
        return {
          positionRequestId: sf.positionRequestId,
          title: sf.title,
          isTabEnabled: false,
          skills: [],
          languages: [],
        }
      })

      if (
        localStorage.getItem('profilesSkills') &&
        localStorage.getItem('profilesSkills') !== 'null'
      ) {
        const profilesSkills = JSON.parse(
          localStorage.getItem('profilesSkills')
        )
        // Loop through all the positions, including new ones
        this.positions.forEach((ps, i) => {
          // Check if position has skills or langs already
          const index = profilesSkills.findIndex(
            (se) => se.posReqId === ps.positionRequestId
          )

          const posResCopy = { ...ps }
          // then the position request has skills and langs
          if (index !== -1) {
            const profilesSkillsCopy = { ...profilesSkills[index] }
            posResCopy.skills = []
            posResCopy.languages = []
            // If element in step eight has skills
            if (profilesSkillsCopy.skills.length > 0) {
              // Copy them in the positions array, on skills key
              posResCopy.skills = profilesSkillsCopy.skills.map((eec) => {
                return {
                  posSkillId: eec.posSkillId,
                  id: eec.skillId,
                  skill: eec.skill,
                  isTabEnabled: true,
                }
              })
            }
            // If element in step eight has langs
            if (profilesSkillsCopy.langs.length > 0) {
              posResCopy.languages = profilesSkillsCopy.langs.map((l) => {
                const hasLangNameProp = Object.prototype.hasOwnProperty.call(
                  l,
                  'langName'
                )
                const hasLevelNameProp = Object.prototype.hasOwnProperty.call(
                  l,
                  'levelName'
                )
                return {
                  posReqLangId: l.posReqLangId,
                  langId: l.langId,
                  isTabEnabled: true,
                  langName: hasLangNameProp
                    ? l.langName
                    : this.langName(l.langId),
                  levelId: l.levelId,
                  levelName: hasLevelNameProp
                    ? l.levelName
                    : this.langLevel(l.levelId),
                }
              })
            }
            // Then the position does not have any skill or lang
          } else {
            posResCopy.skills = []
            posResCopy.languages = []
          }
          this.positions.splice(i, 1, posResCopy)
        })
      }
    },
    async getData() {
      if (
        localStorage.getItem('languagesArr') &&
        localStorage.getItem('languageLevelsArr')
      ) {
        this.languagesOptions = JSON.parse(localStorage.getItem('languagesArr'))
        this.languageLevels = JSON.parse(
          localStorage.getItem('languageLevelsArr')
        )
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/profile-skills/get-data`
          )
          .then((res) => {
            this.languagesOptions = res.languages
            this.languageLevels = res.languageLevels
            localStorage.setItem('languagesArr', JSON.stringify(res.languages))
            localStorage.setItem(
              'languageLevelsArr',
              JSON.stringify(res.languageLevels)
            )
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    async undoing() {
      const index = this.positions.findIndex(
        (p) => p.positionRequestId === this.undoObj.positionRequestId
      )
      if (index !== -1) {
        this.undoObj.confirmToDelete = false
        this.positions.splice(index, 1, { ...this.undoObj })
        await this.removeFromDeleteArrays(this.undoObj.positionRequestId)
        this.undoObj = null
        this.undoMode = false
      }
    },
    removeFromDeleteArrays(posReqId) {
      this.undoObj.skills.forEach((s) => {
        // Check if option is in skillsToDelete arr to remove from it
        const index = this.skillsToDelete.findIndex((std) => std.id === s.id)
        if (index !== -1) {
          this.skillsToDelete.splice(index, 1)
        }
      })
      this.languagesToDelete = this.languagesToDelete.filter(
        (ltd) => ltd.positionRequestId !== posReqId
      )
    },
  },
}
</script>

<style lang="scss">
.profiles-profile-skills {
  .label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #23272f;
    margin: 6px 0px;
  }
  .modal {
    position: fixed;
    // height: 100vh;
    // width: 100vw;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(37, 36, 48, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    &__wrapper {
      background-color: white;
      border-radius: 20px;
      width: 75%;
      max-width: 1088px;
      // height: max-content;
      // height: calc((100vh - 80px) - 150px);
      max-height: 100vh;
      height: auto;
      // max-height: calc((100vh - 80px) - 150px);
      // min-height: 500px;
      overflow: hidden;
      position: relative;
      .content {
        overflow: auto;
        padding: 40px 80px;
        max-height: 100%;
        height: calc((100vh - 80px) - 150px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .close-btn {
        position: absolute;
        top: 30px;
        right: 15px;
      }
    }
  }
  .tab-wrapper {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 25px;
  }
  .position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #23272f;
  }
  .list {
    &__header {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
    }
    &__list {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px;
      &-row {
        flex-direction: column;
        list-style: initial;
        padding-left: 1em;
      }
      @supports not (gap: 10px) {
        margin: -5px;
        & > * {
          margin: 5px;
        }
      }
    }
  }
  .badge {
    background: #bfbfbf;
    border-radius: 40px;
    width: fit-content;
    padding: 9.5px 20px 9.5px 20px;
    display: flex;
    align-items: center;
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-align: center;
      color: #23272f;
    }
    &__button {
      padding-left: 20px;
      img {
        width: 24px;
        height: auto;
      }
    }
    &--no-close {
      padding: 9.5px 40px 9.5px 40px;
    }
    &.delete-mode {
      background-color: #f03e5e;
      span {
        color: white;
      }
    }
  }
  .custom-v-select {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    min-height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #23272f70;
    .vs__dropdown-toggle {
      border: 0;
    }
    .vs__dropdown-menu {
      li {
        white-space: normal;
      }
    }
    .vs__selected {
      display: flex;
      align-items: center;
      background-color: #bfbfbf;
      border: 0;
      border-radius: 40px;
      color: #333;
      line-height: 1.4;
      margin: 4px 2px 0;
      padding: 10px 20px;
      z-index: 0;
      // text
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #23272f;
      white-space: normal;
      .vs__deselect {
        margin-left: 14px;
      }
    }
  }
  .wizard-form {
    &__input {
      .tab-card {
        min-width: 100%;
        &__trigger {
          img {
            transition: transform 0.1s ease-in;
            &.open {
              transform: rotate(180deg);
            }
          }
        }
        &__opt {
          margin-right: 1em;
          &:last-child {
            margin-right: 0px;
          }
          @media screen and (max-width: 576px) {
            margin-right: 0.5em;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .confirm-delete {
      min-height: 100%;
      & .message {
        overflow-wrap: break-word;
      }
    }
  }
  @media (max-width: 414px) {
    .wizard-form {
      margin-top: 60px;
    }
    .position {
      font-size: 16px;
    }
    .title-1 {
      font-size: 24px;
    }
  }
  @media (max-width: 576px) {
    .modal {
      &__wrapper {
        width: 100%;
        .content {
          height: max(calc((100vh - 80px) - 150px), 100%);
          max-height: 100vh;
          padding: 40px;
        }
        .cm-group-3 {
          column-gap: 20px;
        }
        .cm-group-2 {
          row-gap: 20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .modal {
      &__wrapper {
        // height: min(calc((100vh - 80px) - 150px), 100vh);
        .content {
          padding: 40px;
        }
        .cm-group-3 {
          column-gap: 20px;
        }
        .cm-group-2 {
          grid-template-columns: 1fr;
          row-gap: 20px;
        }
      }
    }
  }
}
</style>
