<template>
  <div class="profiles-profile-years-of-experience question-page">
    <!-- Title -->
    <h2 class="text-center text-lg category-title">
      Características del aspirante
    </h2>
    <wizard-header title="Educación" />

    <wizard-tip
      content="Específica que tipo y nivel de educación deben poseer los candidatos al cargo."
    />

    <!-- Validation alerts -->
    <div v-if="invalidStudies || invalidCaptcha" class="wizard-errors">
      <div class="wizard-errors__message">
        <img :src="iconError" class="icon" alt="" />
        <ul class="wizard-errors__errors">
          <li v-if="invalidCaptcha" class="text">
            No se pudo comprobar el recaptcha. Recargue la página
          </li>
          <li v-if="invalidStudies" class="text">
            Debe completar todos los campos de estudios para cada cargo
          </li>
        </ul>
      </div>
    </div>

    <form>
      <fieldset class="wizard-form">
        <div
          v-for="(position, i) in positions"
          :key="`position-${i}`"
          class="wizard-form__input"
        >
          <div class="">
            <div class="tab-card">
              <div class="title-wrapper">
                <label class="label" for="">{{ position.title }}</label>
                <Tooltip
                  animation="float"
                  :active="
                    !somePositionDone &&
                    i === 0 &&
                    position.studies.length === 0
                  "
                  content="Agregar un nivel de educación"
                >
                  <button
                    title="Agregar"
                    class="btn-fab"
                    :disabled="bussy"
                    @click.prevent="add(i)"
                  >
                    <img :src="iconPlus" alt="" />
                  </button>
                </Tooltip>
              </div>
              <button
                v-if="position.studies.length > 0"
                class="tab-card__trigger"
                @click.prevent="toggleTab(i)"
              >
                <img
                  :class="position.isTabEnabled ? 'open' : ''"
                  :src="iconDown"
                  alt=""
                />
              </button>
              <template v-if="position.isTabEnabled">
                <!-- stydies list -->
                <template v-if="position.studies.length > 0">
                  <draggable v-model.lazy="position.studies" handle=".handle">
                    <transition-group name="bounce" tag="ol">
                      <div
                        v-for="(study, j) in position.studies"
                        :key="`stydy-${j}`"
                        class="cm-group-3 cm-group-3--a1a cm-row"
                      >
                        <!-- Drag icon -->
                        <button
                          class="drag-button handle"
                          title="Mover"
                          @click.prevent=""
                        >
                          <img :src="iconDrag" alt="" />
                        </button>

                        <!-- Fields -->
                        <div class="wizard-form">
                          <div class="cm-group-2">
                            <!-- studytypes -->
                            <div class="country__code">
                              <!-- Select -->
                              <select
                                v-model="position.studies[j].studyTypeId"
                                class="input"
                                :class="{
                                  'invalid-input':
                                    $v.positions.$dirty &&
                                    !$v.positions.$each[i].studies.$each[j]
                                      .studyTypeId.required,
                                }"
                                label="name"
                                :options="studyTypes"
                                placeholder="Tipo de estudio"
                                :reduce="(study) => study.id"
                                @change="setDegrees(i, j)"
                              >
                                <option selected disabled value="">
                                  Tipo de estudio
                                </option>
                                <option
                                  v-for="studyType of studyTypes"
                                  :key="studyType.id"
                                  :value="studyType.id"
                                >
                                  {{ studyType.name }}
                                </option>
                              </select>
                            </div>
                            <!-- Study areas -->
                            <div class="country__code">
                              <!-- Select -->
                              <select
                                v-model="position.studies[j].degreeId"
                                class="input"
                                :class="{
                                  'invalid-input':
                                    $v.positions.$dirty &&
                                    !$v.positions.$each[i].studies.$each[j]
                                      .degreeId.required,
                                }"
                                label="degree"
                                placeholder="Área de estudio"
                              >
                                <option selected disabled value="">
                                  Área de estudio
                                </option>
                                <option
                                  v-for="degree of position.studies[j].degrees"
                                  :key="degree.id"
                                  :value="degree.id"
                                >
                                  {{ degree.degree }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <!-- Actions buttons -->
                        <div class="">
                          <button
                            v-if="position.studies[j].posReqDegreeId === null"
                            class=""
                            title="Eliminar"
                            type="button"
                            @click.stop="removeStudy(i, j)"
                          >
                            <img :src="iconDelete" alt="" />
                          </button>
                          <button
                            v-else
                            title="Eliminar"
                            @click.prevent="confirmRemoveStudy(i, j)"
                          >
                            <img :src="iconDelete" alt="" />
                          </button>
                        </div>

                        <div
                          v-if="position.studies[j].confirmToDelete"
                          class="confirm-delete"
                        >
                          <div class="wrapper">
                            <div class="spacer"></div>
                            <h2 class="message">
                              ¿Estás seguro de eliminar:
                              {{ getDegreeName(position.studies[j].degreeId) }}?
                            </h2>
                            <div class="actions mt-2">
                              <button
                                class="mr-5"
                                @click.prevent="removeStudy(i, j)"
                              >
                                <img
                                  src="@/assets/img/ui-icon-doit.svg"
                                  alt=""
                                />
                              </button>
                              <button @click.prevent="confirmRemoveStudy(i, j)">
                                <img
                                  src="@/assets/img/ui-icon-cancel.svg"
                                  alt=""
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </transition-group>
                  </draggable>
                </template>
              </template>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- UndoMode -->
    <!-- <div v-if="undoMode" class="undo-wrapper">
      <img :src="iconCheck" alt="" />
      <div class="undo-wrapper__content">
        <p class="undo-wrapper__title">El item fue eliminado correctamente</p>
        <p class="undo-wrapper__description">
          Para deshacer los cambios
          <span @click="undoing">haz click aquí</span>
        </p>
      </div>
      <img :src="iconClose" class="close-icon" alt="" @click="finishUndo" />
    </div> -->

    <!-- Step Actions -->
    <div class="step-actions">
      <template v-if="bussy">
        <img
          class="step-actions__loading"
          src="@/assets/img/loading-1.svg"
          alt="Loading animation"
        />
      </template>
      <template v-else>
        <button type="button" class="step-actions__button" @click="goBack">
          Anterior
        </button>
        <button type="button" class="step-actions__button" @click="checkForm">
          Siguiente
        </button>
      </template>
    </div>
  </div>
</template>

<script>
import iconDrag from '@/assets/img/ui-icon-drag.svg'
import iconPlus from '@/assets/img/ui-icon-plus.svg'
import iconDelete from '@/assets/img/ui-icon-delete.svg'
import draggable from 'vuedraggable'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import Tooltip from '../../components/Tooltip/Tooltip.vue'
import wizardHeader from '~/components/commons/wizardHeader.vue'
import WizardTip from '~/components/commons/wizardTip.vue'
import 'vue-select/dist/vue-select.css'
import generalMixin from '~/mixins/generalMixin'
export default {
  components: { wizardHeader, WizardTip, draggable, Tooltip },
  mixins: [generalMixin, validationMixin],
  layout: 'assistants/newTalent',
  middleware: 'validateStepInClientAssist',
  data() {
    return {
      iconPlus,
      iconDrag,
      iconDelete,
      bussy: false,
      undoMode: false,
      undoObj: null,
      undoObjIndex: null,
      positions: [],
      positionsToDelete: [],
      studyTypes: [],
      degrees: [],
      languages: [],
      countries: [],
      invalidCaptcha: false,
    }
  },
  validations: {
    positions: {
      $each: {
        studies: {
          $each: {
            degreeId: { required },
            studyTypeId: { required },
          },
        },
      },
    },
  },
  computed: {
    invalidStudies() {
      return this.$v.positions.$dirty && this.$v.positions.$invalid
    },
    // return true if some position have a studies
    somePositionDone() {
      return this.positions.some((pos) => pos.studies.length > 0)
    },
  },
  created() {
    this.getData()
    this.getPositions()
  },
  methods: {
    toggleTab(i) {
      const positionCopy = { ...this.positions[i] }
      positionCopy.isTabEnabled = !positionCopy.isTabEnabled
      this.positions.splice(i, 1, positionCopy)
    },
    async checkForm() {
      try {
        this.$v.positions.$touch()
        if (!this.$v.positions.$invalid) {
          this.bussy = true
          await this.$recaptcha.init()
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          // If form is valid
          const { id } = JSON.parse(
            localStorage.getItem('profilesIdentification')
          )
          const data = {
            clientId: id,
            posResDegrees: this.formatJson(),
            recaptcha: str,
          }
          await this.save(data)
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    formatJson() {
      const elements = []
      this.positions.forEach((p) => {
        p.studies.forEach((s) => {
          elements.push({
            positionRequestId: p.positionRequestId,
            studyTypeId: s.studyTypeId,
            degreeId: s.degreeId,
            posReqDegreeId: s.posReqDegreeId,
            toDelete: false,
          })
        })
      })
      if (this.positionsToDelete.length > 0) {
        this.positionsToDelete.forEach((ptd) => {
          elements.push({
            positionRequestId: ptd.positionRequestId,
            studyTypeId: ptd.studyTypeId,
            degreeId: ptd.degreeId,
            posReqDegreeId: ptd.posReqDegreeId,
            toDelete: true,
          })
        })
      }
      return elements
    },
    goBack() {
      this.$router.push('/profiles/profile-locations')
    },
    add(index) {
      const positionCopy = { ...this.positions[index] }
      positionCopy.studies.push({
        posReqDegreeId: null,
        studyTypeId: '',
        degreeId: '',
        degrees: [],
        toDelete: false,
        confirmToDelete: false,
      })
      this.positions.splice(index, 1, positionCopy)
    },
    setDegrees(i, j) {
      const degreesArr = JSON.parse(localStorage.getItem('degreesArr'))
      const positionCopy = { ...this.positions[i] }
      positionCopy.studies[j].degreeId = ''
      positionCopy.studies[j].degrees = []
      positionCopy.studies[j].degrees = degreesArr.filter(
        (da) => da.studyTypeId === positionCopy.studies[j].studyTypeId
      )
      this.positions.splice(i, 1, positionCopy)
    },
    removeStudy(indexPosition, indexStudy) {
      const positionRequestId = this.positions[indexPosition].positionRequestId
      const studyCopy = {
        ...this.positions[indexPosition].studies[indexStudy],
      }
      if (studyCopy.posReqDegreeId !== null) {
        studyCopy.toDelete = true
        studyCopy.positionRequestId = positionRequestId
        this.positionsToDelete.push(studyCopy)
        this.toggleUndoMode(studyCopy, indexPosition)
      }
      this.positions[indexPosition].studies.splice(indexStudy, 1)
    },
    confirmRemoveStudy(indexPosition, indexStudy) {
      if (this.undoMode) this.finishUndo()
      const positionCopy = { ...this.positions[indexPosition] }
      const studyCopy = { ...positionCopy.studies[indexStudy] }
      studyCopy.confirmToDelete = !studyCopy.confirmToDelete
      positionCopy.studies.splice(indexStudy, 1, studyCopy)
      this.positions.splice(indexPosition, 1, positionCopy)
    },
    async getData() {
      if (
        localStorage.getItem('studyTypesArr') &&
        localStorage.getItem('degreesArr')
      ) {
        this.studyTypes = JSON.parse(localStorage.getItem('studyTypesArr'))
        this.degrees = JSON.parse(localStorage.getItem('degreesArr'))
      } else {
        await this.$axios
          .$get(
            `${this.$axios.defaults.baseURL}assistants/profiles/profile-studies/get-data`
          )
          .then((res) => {
            this.studyTypes = res.studyTypes
            this.degrees = res.degrees
            localStorage.setItem(
              'studyTypesArr',
              JSON.stringify(res.studyTypes)
            )
            localStorage.setItem('degreesArr', JSON.stringify(res.degrees))
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      }
    },
    getPositions() {
      const stepFive = JSON.parse(localStorage.getItem('profilesRequests'))
        .positions

      if (localStorage.getItem('profilesStudies')) {
        const stepSeven = JSON.parse(localStorage.getItem('profilesStudies'))
          .posResDegrees
        this.positions = stepFive.map((sf) => {
          const posResStudies = stepSeven.filter(
            (ss) => ss.positionRequestId === sf.positionRequestId
          )
          return {
            positionRequestId: sf.positionRequestId,
            title: sf.title,
            isTabEnabled: true,
            studies: posResStudies.map((prs) => {
              const element = {}
              let degrees = []
              const hasDegreesProperty = Object.prototype.hasOwnProperty.call(
                prs,
                'degrees'
              )
              if (hasDegreesProperty) {
                degrees = prs.degrees
              } else {
                degrees = this.degrees.filter(
                  (d) => d.studyTypeId === prs.studyTypeId
                )
              }
              element.posReqDegreeId = prs.posReqDegreeId
              element.studyTypeId = prs.studyTypeId
              element.degrees = degrees
              element.degreeId = prs.degreeId
              element.toDelete = false
              element.confirmToDelete = false
              return element
            }),
          }
        })
      } else {
        this.positions = stepFive.map((sf) => {
          return {
            positionRequestId: sf.positionRequestId,
            title: sf.title,
            isTabEnabled: true,
            studies: [],
          }
        })
      }
    },
    async save(d) {
      await this.$axios
        .$post(
          `${this.$axios.defaults.baseURL}assistants/profiles/profile-studies/save-position`,
          d
        )
        .then((res) => {
          const profilesStudies = {
            posResDegrees: res.profilesStudies,
          }
          localStorage.setItem(
            'profilesStudies',
            JSON.stringify(profilesStudies)
          )
          if (res.finished) {
            localStorage.setItem('finished-assistant', 'finished')
            this.$router.push('/profiles/finish')
          } else {
            this.checkSteps(res)
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
    toggleUndoMode(obj, index) {
      this.undoMode = !this.undoMode
      this.undoObj = obj
      this.undoObjIndex = index
    },
    undoing() {
      this.undoObj.toDelete = false
      this.undoObj.confirmToDelete = false
      this.positions[this.undoObjIndex].studies.push(this.undoObj)
      this.positionsToDelete = this.positionsToDelete.filter(
        (position) => position.id !== this.undoObj.id
      )
      this.undoObj = null
      this.undoMode = false
    },
    finishUndo() {
      this.undoMode = false
      this.undoObj = null
    },
    getDegreeName(id) {
      return this.degrees.find((type) => type.id === id).degree
    },
  },
}
</script>

<style lang="scss">
.profiles-profile-years-of-experience {
  .tab-card {
    &__trigger {
      img {
        transition: transform 0.1s ease-in;
        &.open {
          transform: rotate(180deg);
        }
      }
    }
    @media screen and (max-width: 414px) {
      gap: 0.5em;
      .title-wrapper {
        .label {
          width: auto;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .cm-group-2 {
      row-gap: 15px;
      grid-template-columns: 1fr;
    }
  }
}
</style>
