<template>
  <div class="layout">
    <div class="tooltip" :class="`${isActive} ${animation}`">
      <div class="tooltip-container" :class="`${position} ${align}`">
        <div class="tooltip-content">
          {{ content }}
        </div>
      </div>
      <div class="tooltip-arrow" :class="`${position} ${align}`">
        <div class="back"></div>
        <div class="front"></div>
      </div>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Tolltip',
  props: {
    content: {
      type: String,
      default: 'im a Tooltip',
    },
    position: {
      type: String,
      default: 'top',
      validator: (val) => ['top', 'left', 'right', 'bottom'].includes(val),
    },
    align: {
      type: String,
      default: 'center',
      validator: (val) => ['start', 'center', 'end'].includes(val),
    },
    active: {
      type: Boolean,
      default: true,
      validator: (val) => [true, false].includes(val),
    },
    animation: {
      type: String,
      default: '',
      validator: (val) => ['shake', 'float', ''].includes(val),
    },
  },
  computed: {
    isActive() {
      return this.active ? 'show' : 'hide'
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  display: grid;
  place-items: center;
  z-index: 1;
}
.content,
.tooltip {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.content {
  z-index: 2;
}
.tooltip {
  --bgColor: #f5f5f5;
  --borderColor: rgb(151, 151, 151);
  --markerWidth: 15px;
  --shadow: 2px 2px 8px rgba(0, 0, 0, 25%);
  position: relative;

  & .left,
  & .right {
    --markerWidth: 10px;
  }
  &-arrow {
    position: absolute;
    display: grid;
    width: var(--markerWidth);
    height: var(--markerWidth);
    .back,
    .front {
      width: var(--markerWidth);
      height: var(--markerWidth);
      transform: rotate(45deg);
      background-color: var(--bgColor);
      position: absolute;
      grid-column: 1;
      grid-row: 1;
    }
    .back {
      z-index: -1;
      box-shadow: var(--shadow);
    }
    .front {
      z-index: 2;
    }
    &.top {
      left: calc(50% - (var(--markerWidth) / 2));
      bottom: calc(100% + (var(--markerWidth) / 2));
    }
    &.left {
      right: calc(100% + (var(--markerWidth) / 2));
      bottom: calc(50% - (var(--markerWidth) / 2));
    }
    &.right {
      left: calc(100% + (var(--markerWidth) / 2));
      bottom: calc(50% - (var(--markerWidth) / 2));
    }
    &.bottom {
      left: calc(50% - (var(--markerWidth) / 2));
      top: calc(100% + (var(--markerWidth) / 2));
    }
  }
  &-content {
    font-size: 12px;
    color: rgb(35 39 47);
    box-shadow: var(--shadow);
    background-color: var(--bgColor);
    white-space: nowrap;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
  }
  &-container {
    max-width: calc(100vw - 10px);
    width: auto;
    position: absolute;

    // position
    &.top {
      bottom: calc(100% + var(--markerWidth));
      &.start {
        text-align: start;
        left: -1em;
      }
      &.center {
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
      }
      &.end {
        right: -1em;
        text-align: end;
      }
    }
    &.left {
      right: calc(100% - (var(--markerWidth) / 2));
    }
    &.right {
      left: calc(100% - (var(--markerWidth) / 2));
    }
    &.bottom {
      top: calc(100% + var(--markerWidth));
      &.start {
        text-align: start;
        left: -1em;
      }
      &.center {
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
      }
      &.end {
        right: -1em;
        text-align: end;
      }
    }
  }
  &.show {
    animation-play-state: running;
    transition: opacity 0.2s;
    opacity: 1;
  }
  &.hide {
    animation-play-state: paused;
    transition: opacity 0.2s;
    opacity: 0;
  }
  &.shake {
    animation: shake 3s alternate infinite;
    transform-origin: 50% 100%;

    @keyframes shake {
      91% {
        transform: rotate(0deg);
      }
      94% {
        transform: rotate(-2deg);
      }
      97% {
        transform: rotate(2deg);
      }
      100% {
        transform: rotate(-2deg);
      }
    }
  }
  &.float {
    animation: float 1.5s alternate infinite linear;

    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      100% {
        transform: translateY(-3px);
      }
    }
  }
}

@keyframes init {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
</style>
