// Terms and Policies
.terms {
  &-container {
    color: #23272f;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 3em 10% 0;
    min-height: 100vh;
  }
  &-title {
    margin-top: 3em;
    text-align: center;
    font-family: Oswald !important;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  }
  &-subtitle {
    margin-top: 1em;
    font-family: Oswald !important;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  }
  &-body {
    margin: 2em;
    text-align: justify;
    display: grid;
    gap: 1em;

    ul {
      list-style: disc;
      li {
        margin-left: 2em;
        margin-bottom: 0.5em;
      }
    }
    i {
      font-size: 12px;
    }
    a {
      text-decoration: underline;
    }
  }
  @media (max-width: 1024px) {
    &-title {
      font-size: 36px;
      margin-bottom: 20px;
    }
    &-subtitle {
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    &-body {
      margin: 1em 0;
    }
  }
  @media (max-width: 576px) {
    &-title {
      font-size: 36px;
      margin-bottom: 20px;
    }
    &-subtitle {
      text-align: center;
      font-size: 20px;
    }
  }
}