@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  /* font-family: 'GardeGothicLight'; */
  font-weight: 400;
  src: url('../fonts/ITC-AVANT-GARDE-GOTHIC-STD-EXTRA-LIGHT-5895708744EB6.otf');
}

@font-face {
  font-family: 'ITC Avant Garde Gothic LT';
  /* font-family: 'GardeGothicBold'; */
  font-weight: 900;
  src: url('../fonts/ITC-AVANT-GARDE-GOTHIC-STD-BOLD-589572C7E9955.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
