<template>
  <div class="profiles">
    <div class="step-wrapper">
      <div class="header">
        <img
          src="@/assets/img/logo2.svg"
          alt="Fast Track Taleng Logo"
          class="logo"
        />
        <h2 class="main-title">Búsqueda de talento</h2>
      </div>
      <div class="steps">
        <!-- Steps -->
        <ul class="steps__wrapper">
          <!-- Información de la empresa -->
          <li class="step-link">
            <div class="step__header" :class="blockOneClass">
              <span class="step__badge">1</span>
              <span class="steps__text"> Información de la empresa </span>
            </div>
            <ul>
              <li
                class="sub-step"
                :class="identificacionBadgeClass"
                data-step="identification"
                @click="navigate"
              >
                Identificación
              </li>
              <li
                class="sub-step"
                :class="contactBadgeClass"
                data-step="contact"
                @click="navigate"
              >
                Contacto
              </li>
              <li
                class="sub-step"
                :class="industrySectorBadgeClass"
                data-step="industry-sector"
                @click="navigate"
              >
                Sector Industrial
              </li>
              <li
                class="sub-step"
                :class="productsBadgeClass"
                data-step="products"
                @click="navigate"
              >
                Productos
              </li>
            </ul>
          </li>

          <!-- Características de la posición  -->
          <li class="step-link">
            <div class="step__header" :class="blockTwoClass">
              <span class="step__badge">2</span>
              <span class="steps__text" data-step="2" @click="navigate"
                >Características de la posición</span
              >
            </div>
            <ul>
              <li
                class="sub-step"
                data-step="profile-requests"
                :class="profileRequestsBadgeClass"
                @click="navigate"
              >
                Cargos
              </li>
              <li
                class="sub-step"
                data-step="profile-locations"
                :class="profileLocationsBadgeClass"
                @click="navigate"
              >
                Ubicación
              </li>
            </ul>
          </li>

          <!-- Características del aspirante -->
          <li class="step-link">
            <div class="step__header" :class="blockThreeClass">
              <span class="step__badge">3</span>
              <span class="steps__text">Características del aspirante</span>
            </div>
            <ul>
              <li
                class="sub-step"
                data-step="profile-studies"
                :class="profileStudiesBadgeClass"
                @click="navigate"
              >
                Educación
              </li>
              <li
                class="sub-step"
                data-step="profile-skills"
                :class="profileSkillsBadgeClass"
                @click="navigate"
              >
                Habilidades/Conocimientos
              </li>
              <li
                class="sub-step"
                data-step="profile-years-of-experience"
                :class="profileYearsOfExpBadgeClass"
                @click="navigate"
              >
                Experiencia
              </li>
            </ul>
          </li>

          <!-- Resumen -->
          <li class="step-link">
            <div class="step__header" :class="blockFourClass">
              <span class="step__badge">4</span>
              <span
                class="steps__text"
                data-step="confirm-information"
                @click="navigate"
                >Resumen</span
              >
            </div>
          </li>
        </ul>
        <!-- Steps Badges Mobile -->
        <div class="steps-mobile">
          <div v-if="currentStep === 1" class="steps-mobile__badges">
            <div
              class="sub-step"
              :class="identificacionBadgeClass"
              data-step="identification"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="contactBadgeClass"
              data-step="contact"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="industrySectorBadgeClass"
              data-step="industry-sector"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="productsBadgeClass"
              data-step="products"
              @click="navigate"
            ></div>
          </div>
          <div v-else-if="currentStep === 2" class="steps-mobile__badges">
            <div
              class="sub-step"
              :class="profileRequestsBadgeClass"
              data-step="profile-requests"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="profileLocationsBadgeClass"
              data-step="profile-locations"
              @click="navigate"
            ></div>
          </div>
          <div v-else-if="currentStep === 3" class="steps-mobile__badges">
            <div
              class="sub-step"
              :class="profileStudiesBadgeClass"
              data-step="profile-studies"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="profileSkillsBadgeClass"
              data-step="profile-skills"
              @click="navigate"
            ></div>
            <div
              class="sub-step"
              :class="profileYearsOfExpBadgeClass"
              data-step="profile-years-of-experience"
              @click="navigate"
            ></div>
          </div>
          <div v-else-if="currentStep === 4" class="steps-mobile__badges">
            <div
              class="sub-step"
              :class="badgeTenClass"
              data-step="10"
              @click="navigate"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="content-wrapper">
      <!-- contenido -->
      <Nuxt />
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    blockOneClass() {
      return {
        active_step_badge:
          this.$route.name.includes('identification') ||
          this.$route.name.includes('contact') ||
          this.$route.name.includes('industry-sector') ||
          this.$route.name.includes('products'),
        done_step_badge:
          localStorage.getItem('profilesIdentification') !== null &&
          localStorage.getItem('profilesContact') !== null &&
          localStorage.getItem('profilesIndustrySector') !== null &&
          localStorage.getItem('profilesProducts') !== null,
      }
    },
    blockTwoClass() {
      return {
        active_step_badge:
          this.$route.name.includes('profile-requests') ||
          this.$route.name.includes('profile-locations'),
        done_step_badge:
          this.$route.name.includes('profiles') &&
          localStorage.getItem('profilesRequests') !== null &&
          localStorage.getItem('profilesLocations') !== null,
      }
    },
    blockThreeClass() {
      return {
        active_step_badge:
          this.$route.name.includes('profile-studies') ||
          this.$route.name.includes('profile-skills') ||
          this.$route.name.includes('profile-years-of-experience'),
        done_step_badge:
          this.$route.name.includes('profiles') &&
          localStorage.getItem('profilesStudies') !== null &&
          localStorage.getItem('profilesSkills') !== null &&
          localStorage.getItem('profilesYearsOfExperience') !== null,
      }
    },
    blockFourClass() {
      return {
        active_step_badge: this.$route.name.includes('confirm-information'),
      }
    },
    identificacionBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-identification',
        active_step_badge: this.$route.name === 'profiles-identification',
        done_step_badge:
          localStorage.getItem('profilesIdentification') !== null &&
          this.$route.name !== 'profiles-identification',
      }
    },
    contactBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-contact',
        active_step_badge: this.$route.name === 'profiles-contact',
        done_step_badge:
          localStorage.getItem('profilesContact') !== null &&
          this.$route.name !== 'profiles-contact',
      }
    },

    industrySectorBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-industry-sector',
        active_step_badge: this.$route.name === 'profiles-industry-sector',
        done_step_badge:
          localStorage.getItem('profilesIndustrySector') !== null &&
          this.$route.name !== 'profiles-industry-sector',
      }
    },

    productsBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-products',
        active_step_badge: this.$route.name === 'profiles-products',
        done_step_badge:
          localStorage.getItem('profilesProducts') !== null &&
          this.$route.name !== 'profiles-products',
      }
    },

    profileRequestsBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-profile-requests',
        active_step_badge: this.$route.name === 'profiles-profile-requests',
        done_step_badge:
          localStorage.getItem('profilesRequests') !== null &&
          this.$route.name !== 'profiles-profile-requests',
      }
    },

    profileLocationsBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-profile-locations',
        active_step_badge: this.$route.name === 'profiles-profile-locations',
        done_step_badge:
          localStorage.getItem('profilesLocations') !== null &&
          this.$route.name !== 'profiles-profile-locations',
      }
    },

    profileStudiesBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-profile-studies',
        active_step_badge: this.$route.name === 'profiles-profile-studies',
        done_step_badge:
          localStorage.getItem('profilesStudies') !== null &&
          this.$route.name !== 'profiles-profile-studies',
      }
    },
    profileSkillsBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-profile-skills',
        active_step_badge: this.$route.name === 'profiles-profile-skills',
        done_step_badge:
          localStorage.getItem('profilesSkills') !== null &&
          this.$route.name !== 'profiles-profile-skills',
      }
    },
    profileYearsOfExpBadgeClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'profiles-profile-years-of-experience',
        active_step_badge:
          this.$route.name === 'profiles-profile-years-of-experience',
        done_step_badge:
          localStorage.getItem('profilesYearsOfExperience') !== null &&
          this.$route.name !== 'profiles-profile-years-of-experience',
      }
    },
    badgeTenClass() {
      return {
        // inactive_step_badge: this.$route.name !== 'confirm-informationn',
        active_step_badge: this.$route.name.includes('confirm-information'),
        done_step_badge: this.$route.name !== 'confirm-information',
      }
    },
    currentStep() {
      if (
        this.$route.name.includes('identification') ||
        this.$route.name.includes('contact') ||
        this.$route.name.includes('industry-sector') ||
        this.$route.name.includes('products')
      ) {
        return 1
      } else if (
        this.$route.name.includes('profile-requests') ||
        this.$route.name.includes('profile-locations')
      ) {
        return 2
      } else if (
        this.$route.name.includes('profile-studies') ||
        this.$route.name.includes('profile-skills') ||
        this.$route.name.includes('profile-years-of-experience')
      ) {
        return 3
      }
      return 4
    },
  },
  methods: {
    navigate($event) {
      const element = $event.target
      if (element.dataset.step !== '10') {
        if (
          element.classList.contains('done_step_badge') ||
          element.classList.contains('done_step_text') ||
          element.classList.contains('active_step_badge') ||
          element.classList.contains('active_step_text')
        ) {
          this.$router.push(`/profiles/${element.dataset.step}`)
        }
      }
    },
  },
}
</script>
<style lang="scss">
$bg-primary: #23272f;
$bg-secondary: #f5f5f5;
$neutral: #bfbfbf;
$accent: #82debe;
$accent_2: #94f899;
$error: #f03e5e;
.profiles {
  display: grid;
  grid-template-columns: max(30%, 420px) 1fr;
  grid-template-rows: 100vh;
  overflow-y: hidden;
  * {
    font-family: Roboto;
  }
  .content-wrapper {
    overflow-y: auto;
  }
  .step-wrapper {
    overflow-y: auto;
    background-color: $bg-primary;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 0.5em;
    color: rgba($neutral, 0.8);
    .header {
      align-self: center;
      text-align: center;
      .logo {
        height: 50px;
        width: auto;
        margin: 80px auto 0 auto;
      }
      .main-title {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        letter-spacing: 0.05em;
        margin: 40px 0px;
      }
    }
    .steps {
      justify-self: center;
      .steps__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
        }
        .step-link {
          display: grid;
          padding-bottom: 10px;
          .sub-step {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            padding: 10px 41px;
            cursor: pointer;
            // margin: 20px 0;
            &::before {
              content: '';
              display: inline-block;
              margin-right: 20px;
              height: 20px;
              width: 20px;
              background-color: #bfbfbfcc;
              border-radius: 50%;
            }
          }
          .done_step_text {
            span {
              color: #94f899;
            }
            .step__badge {
              border-color: #94f899;
            }
          }
          .active_step_text {
            span {
              color: white;
            }
          }
        }
        .step__header {
          margin-bottom: 5px;
        }
        .step__badge {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          height: 48px;
          width: 48px;
          border: 2px solid;
          border-radius: 100%;
          font-family: Oswald;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: currentColor;
        }
        .step__header {
          display: flex;
          align-items: center;
        }
        .steps__text {
        }
      }
    }
    .step-link {
      // background-color: #bada55;
      display: grid;
    }
    .steps-mobile {
      display: none;
    }
  }
  .steps {
    .step__header {
    }
    .sub-step {
      // background-color: #bada55;
    }
    .done_step_badge {
      color: $accent_2;
      .step__badge {
        border-color: $accent_2;
      }
      &::before {
        background-color: $accent_2 !important;
      }
    }
    .active_step_badge {
      color: white;
      .step__badge {
        border-color: white;
      }
      &::before {
        background-color: white !important;
      }
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 350px 1fr;
    // .profiles .step-wrapper .steps .steps__wrapper span
    .step-wrapper {
      .header {
        .main-title {
          font-size: 24px;
        }
        .logo {
          height: 44px;
          // margin: 80px auto 0 auto;
        }
      }
      .steps {
        margin: 0 auto;
        .steps__wrapper {
          margin: 0 0px;
          .step__badge {
            width: 36px;
            height: 36px;
            font-size: 14px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    grid-template-columns: 100%;
    // grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    .step-wrapper {
      grid-template-rows: unset;
      .header {
        .logo {
          margin: 40px auto 0 auto;
          height: 34px;
          width: auto;
        }
        .main-title {
          margin: 20px auto;
          font-size: 24px;
          line-height: 1;
        }
      }
      .steps {
        .step-link {
          ul {
            display: none;
          }
        }
        .step__badge {
          margin-right: 0 !important;
        }
        .steps__wrapper {
          display: flex;
          flex-direction: row;
          gap: 20px;

          .step-link {
            margin-bottom: 0;
          }
        }
        .steps__text {
          display: none;
        }
      }
      .steps-mobile {
        display: block;

        &__badges {
          display: flex;
          justify-content: center;
          gap: 10px;
          .sub-step {
            height: 1em;
            width: 1em;
            border-radius: 50%;
            margin-bottom: 10px;
            background-color: $neutral;
            &.done_step_badge,
            &.done_step_badge.inactive_step_badge {
              background-color: $accent_2;
              .step__badge {
                background-color: $accent_2;
              }
            }
            &.active_step_badge {
              background-color: white;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
    .step-wrapper {
      grid-template-rows: unset;
      .header {
        .logo {
          margin: 20px auto 0 auto;
          height: 34px;
          width: auto;
        }
        .main-title {
          font-size: 18px;
        }
      }
      .steps {
        .steps__wrapper {
          gap: 10px;
        }
      }
    }
  }
  .undo-wrapper {
    position: fixed;
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    bottom: 100px;
    left: 445px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 20px;
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #23272f;
      margin-bottom: 10px;
    }
    &__description {
      font-family: Roboto;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #23272f;
      span {
        color: #1b91ff;
        cursor: pointer;
      }
    }
    .close-icon {
      cursor: pointer;
    }
  }
  // globals wizard
  .question-page {
    padding: 80px;
    @media (max-width: 991px) {
      padding: 80px 100px;
    }
    @media (max-width: 576px) {
      padding: 40px 20px;
    }
  }
}

.wizard-form {
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      color: $bg-primary;
      margin: 6px 0px;
    }

    input,
    select,
    textarea {
      background-color: #f5f5f5;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: 0;
      padding: 10px 20px;
      min-height: 60px;
      // text
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
      color: rgba(35, 39, 47, 0.44);
      &:focus {
        outline: 0 !important;
        outline: none !important;
      }
    }
    textarea {
      min-height: 141px;
    }
    .v-select {
      .vs__dropdown-toggle {
        border: 0;
        background: #f5f5f5;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
      .vs__actions {
        padding: 4px 20px 0 3px;
      }
      input {
        background-color: transparent;
        border-radius: 0;
        box-shadow: unset;
        min-height: 50px;
        padding: 6px 20px;
      }
      .vs__selected {
      }
    }
    .country {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-gap: 40px;
      &__phone {
        input {
          width: 100%;
        }
      }

      &__code {
        .vs__selected {
          img {
            height: 35px;
            width: auto;
          }
          p {
            margin-left: 20px;
          }
        }
      }
    }
    &--mb-0 {
      margin-bottom: 0;
    }
    small {
      color: $bg-primary;
      opacity: 0.5;
      font-weight: bold;
      margin-left: auto;
    }
    &--checkbox {
      // background-color: #bada55;
      display: flex;
      flex-direction: row !important;
      align-items: center !important;
      // justify-content: center !important;
      gap: 10px;
      input {
        // background-color: #f5f5f5 !important;
        box-shadow: unset !important;
        border-radius: 4px !important;
        border: 2px solid $bg-primary !important;
        padding: 0 !important;
        min-height: 0 !important;
        height: 18px !important;
        width: 18px !important;
        // text
        // color: rgba(35, 39, 47, 0.44);
        &:focus {
          outline: 0 !important;
          outline: none !important;
        }
      }
    }
  }
  &--empty {
    width: max-content;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $bg-secondary;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $bg-primary;
  }
}
.step-actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  // gap: 40px;
  &__button {
    margin: 0 20px;
    background-color: $bg-primary;
    color: $accent;
    padding: 10px 50px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    border-radius: 10px;
    transition: all 0.5s ease;
    &--reversed,
    &:hover {
      background-color: $accent;
      color: $bg-primary;
    }
    &:disabled {
      background-color: $neutral;
      color: white;
    }
  }
  &__loading {
    width: 150px;
    height: auto;
  }
}
.cm-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}
.cm-group-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  &--a1a {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 40px;
  }
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.title-1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #23272f;
}
.items-label {
  display: flex;
  align-items: center;
  // gap: 20px;
  .title {
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;

    color: $bg-primary;
  }
}
.btn-fab {
  background: linear-gradient(43.24deg, #82debe 3.55%, #94f899 57.94%);
  border-radius: 50px;
  width: 32px;
  height: 32px;
  transition: background 0.5s ease;
  img {
    width: 32px;
    height: auto;
  }
  &:hover {
    background: linear-gradient(-43.24deg, #94f899 3.55%, #82debe 57.94%);
  }
}
.cm-card {
  background-color: #f5f5f5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  padding: 30px 20px;
  min-height: 60px;
  // text
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: rgba(35, 39, 47, 0.44);
}
.cm-row {
  position: relative;
  // overflow: hidden;
  .confirm-delete {
    border-radius: 10px;
    position: absolute;
    height: calc(100% + 20px);
    width: 100%;
    top: 0;
    left: 0;
    background-color: $error;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 65% 1fr;
      align-items: center;
    }
    .message {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
      color: #ffffff;
    }
  }
}
@media (max-width: 1024px) {
  .wizard-errors .wizard-errors__message .text,
  .step-actions__button {
    font-size: 14px;
  }
  .wizard-form {
    &__input {
      label,
      input,
      select,
      textarea {
        font-size: 14px;
      }
    }
  }
  .items-label .title {
    font-size: 18px;
  }
}

.category-title {
  font-size: 20px;
  font-family: Oswald !important;
  @media screen and (min-width: 991px) {
    display: none;
  }
}
</style>
