<template>
  <div class="talents">
    <div class="step-wrapper">
      <div class="header">
        <img
          src="@/assets/img/logo2.svg"
          alt="Fast Track Taleng Logo"
          class="logo"
        />
        <h2 class="main-title">Entrevista rápida</h2>
      </div>
      <div class="steps">
        <!-- Steps -->
        <ul class="steps__wrapper">
          <li
            class="parentWrapper"
            data-step="contact"
            :class="contactTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="contactBadgeClass">1</span>
            <span id="stepText" class="steps__text">Contacto</span>
          </li>
          <li
            class="parentWrapper"
            data-step="personal-data"
            :class="personalDataTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="personalDataBadgeClass">2</span>
            <span class="steps__text" @click="navigate">Datos Personales</span>
          </li>
          <li
            class="parentWrapper"
            data-step="salary-expectation"
            :class="salaryExpectationTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="salaryExpectationBadgeClass">
              3
            </span>
            <span class="steps__text" @click="navigate"
              >Expectativa Salarial</span
            >
          </li>
          <li
            class="parentWrapper"
            data-step="studies"
            :class="studiesTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="studiesBadgeClass">4</span>
            <span class="steps__text" @click="navigate">Educación</span>
          </li>
          <li
            class="parentWrapper"
            data-step="skills"
            :class="skillsTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="skillsBadgeClass">5</span>
            <span class="steps__text" @click="navigate"
              >Habilidades / Conocimientos
            </span>
          </li>
          <li
            class="parentWrapper"
            data-step="work-experience"
            :class="workExperienceTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="workExperienceBadgeClass">6</span>
            <span class="steps__text" @click="navigate"
              >Experiencia Laboral</span
            >
          </li>
          <li
            class="parentWrapper"
            data-step="extra-data"
            :class="extraDataTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="extraDataBadgeClass">7</span>
            <span class="steps__text" @click="navigate">Extra</span>
          </li>
          <li
            class="parentWrapper"
            data-step="confirm-information"
            :class="confirmInformationTextClass"
            @click="navigate"
          >
            <span class="step__badge" :class="confirmInformationBadgeClass">
              8
            </span>
            <span class="steps__text" @click="navigate">Resumen</span>
          </li>
        </ul>
        <div></div>
      </div>
      <!-- Steps Badges Mobile -->
      <div class="steps-mobile">
        <div class="steps-mobile__badges">
          <div
            class="elem"
            data-step="contact"
            :class="contactBadgeClass"
            @click="navigate"
          >
            1
          </div>
          <div
            class="elem"
            data-step="personal-data"
            :class="personalDataBadgeClass"
            @click="navigate"
          >
            2
          </div>
          <div
            class="elem"
            data-step="salary-expectation"
            :class="salaryExpectationBadgeClass"
            @click="navigate"
          >
            3
          </div>
          <div
            class="elem"
            data-step="studies"
            :class="studiesBadgeClass"
            @click="navigate"
          >
            4
          </div>
          <div
            class="elem"
            data-step="skills"
            :class="skillsBadgeClass"
            @click="navigate"
          >
            5
          </div>
          <div
            class="elem"
            data-step="work-experience"
            :class="workExperienceBadgeClass"
            @click="navigate"
          >
            6
          </div>
          <div
            class="elem"
            data-step="extra-data"
            :class="extraDataBadgeClass"
            @click="navigate"
          >
            7
          </div>
          <div
            class="elem"
            data-step="confirm-information"
            :class="confirmInformationBadgeClass"
            @click="navigate"
          >
            8
          </div>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="content-wrapper">
      <!-- contenido -->
      <Nuxt />
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    // Contact classes
    contactBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-contact',
        active_step_badge: this.$route.name === 'interview-contact',
        done_step_badge:
          localStorage.getItem('interviewContact') !== null &&
          this.$route.name !== 'interview-contact',
      }
    },
    contactTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-contact',
        active_step_text: this.$route.name === 'interview-contact',
        done_step_text:
          localStorage.getItem('interviewContact') !== null &&
          this.$route.name !== 'interview-contact',
      }
    },
    // Personal data classes
    personalDataBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-personal-data',
        active_step_badge: this.$route.name === 'interview-personal-data',
        done_step_badge:
          localStorage.getItem('interviewPersonalData') !== null &&
          this.$route.name !== 'interview-personal-data',
      }
    },
    personalDataTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-personal-data',
        active_step_text: this.$route.name === 'interview-personal-data',
        done_step_text:
          localStorage.getItem('interviewPersonalData') !== null &&
          this.$route.name !== 'interview-personal-data',
      }
    },
    // Salary Expectation classes
    salaryExpectationBadgeClass() {
      return {
        inactive_step_badge:
          this.$route.name !== 'interview-salary-expectation',
        active_step_badge: this.$route.name === 'interview-salary-expectation',
        done_step_badge:
          localStorage.getItem('interviewSalaryExpectation') !== null &&
          this.$route.name !== 'interview-salary-expectation',
      }
    },
    salaryExpectationTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-salary-expectation',
        active_step_text: this.$route.name === 'interview-salary-expectation',
        done_step_text:
          localStorage.getItem('interviewSalaryExpectation') !== null &&
          this.$route.name !== 'interview-salary-expectation',
      }
    },
    // Studies classes
    studiesBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-studies',
        active_step_badge: this.$route.name === 'interview-studies',
        done_step_badge:
          localStorage.getItem('interviewStudies') !== null &&
          this.$route.name !== 'interview-studies',
      }
    },
    studiesTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-studies',
        active_step_text: this.$route.name === 'interview-studies',
        done_step_text:
          localStorage.getItem('interviewStudies') !== null &&
          this.$route.name !== 'interview-studies',
      }
    },
    // Skills classes
    skillsBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-skills',
        active_step_badge: this.$route.name === 'interview-skills',
        done_step_badge:
          localStorage.getItem('interviewSkills') !== null &&
          this.$route.name !== 'interview-skills',
      }
    },
    skillsTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-skills',
        active_step_text: this.$route.name === 'interview-skills',
        done_step_text:
          localStorage.getItem('interviewSkills') !== null &&
          this.$route.name !== 'interview-skills',
      }
    },
    // Work Experience classes
    workExperienceBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-work-experience',
        active_step_badge: this.$route.name === 'interview-work-experience',
        done_step_badge:
          localStorage.getItem('interviewWorkExperience') !== null &&
          this.$route.name !== 'interview-work-experience',
      }
    },
    workExperienceTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-work-experience',
        active_step_text: this.$route.name === 'interview-work-experience',
        done_step_text:
          localStorage.getItem('interviewWorkExperience') !== null &&
          this.$route.name !== 'interview-work-experience',
      }
    },
    // Extra data classes
    extraDataBadgeClass() {
      return {
        inactive_step_badge: this.$route.name !== 'interview-extra-data',
        active_step_badge: this.$route.name === 'interview-extra-data',
        done_step_badge:
          localStorage.getItem('interviewExtraData') !== null &&
          this.$route.name !== 'interview-extra-data',
      }
    },
    extraDataTextClass() {
      return {
        inactive_step_text: this.$route.name !== 'interview-extra-data',
        active_step_text: this.$route.name === 'interview-extra-data',
        done_step_text:
          localStorage.getItem('interviewExtraData') !== null &&
          this.$route.name !== 'interview-extra-data',
      }
    },
    // Confirm info classes
    confirmInformationBadgeClass() {
      return {
        inactive_step_badge:
          this.$route.name !== 'interview-confirm-information',
        active_step_badge: this.$route.name === 'interview-confirm-information',
      }
    },
    confirmInformationTextClass() {
      return {
        inactive_step_text:
          this.$route.name !== 'interview-confirm-information',
        active_step_text: this.$route.name === 'interview-confirm-information',
      }
    },
  },
  methods: {
    navigate($event) {
      const clickedElem = $event.target
      const element = clickedElem.closest('.parentWrapper')
      if (element.dataset.step) {
        if (
          element.classList.contains('done_step_badge') ||
          element.classList.contains('done_step_text') ||
          element.classList.contains('active_step_badge') ||
          element.classList.contains('active_step_text')
        ) {
          this.$router.push(`/interview/${element.dataset.step}`)
        }
      }
    },
  },
}
</script>
<style lang="scss">
$bg-primary: #23272f;
$bg-secondary: #f5f5f5;
$neutral: #bfbfbf;
$accent: #82debe;
$error: #f03e5e;
.talents {
  display: grid;
  grid-template-columns: max(30%, 400px) 1fr;
  grid-template-rows: 100vh;
  overflow-y: hidden;
  * {
    font-family: Roboto;
  }
  .content-wrapper {
    overflow-y: auto;
  }
  .step-wrapper {
    overflow-y: auto;
    background-color: $bg-primary;
    display: grid;
    grid-template-rows: auto 1fr;
    color: rgba($neutral, 0.8);
    .header {
      align-self: center;
      text-align: center;
      .logo {
        height: 50px;
        width: auto;
        margin: 80px auto 0 auto;
      }
      .main-title {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        letter-spacing: 0.05em;
        margin: 40px 0px;
      }
    }
    .steps {
      .steps__wrapper {
        // max-width: ;
        margin: 0 75px;
        span {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
        }
        li {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          &.active_step_text {
            span {
              color: white !important;
            }
          }
          &.done_step_text {
            span {
              color: #94f899 !important;
            }
            .step__badge {
              border-color: #94f899 !important;
            }
          }
        }
        .step__badge {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          height: 48px;
          width: 48px;
          border: 2px solid $neutral;
          border-radius: 100%;
          font-family: Oswald;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: currentColor;
        }
        .steps__text {
        }
      }
    }
    .steps-mobile {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 307px 1fr;
    // .talents .step-wrapper .steps .steps__wrapper span
    .step-wrapper {
      .header {
        .main-title {
          font-size: 24px;
        }
        .logo {
          height: 44px;
          // margin: 80px auto 0 auto;
        }
      }
      .steps {
        margin: 0 auto;
        .steps__wrapper {
          margin: 0 0px;
          .step__badge {
            width: 36px;
            height: 36px;
            font-size: 14px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    // grid-template-columns: 1fr;
    grid-template-columns: 100%;
    grid-template-rows: 206px 1fr;
    .step-wrapper {
      grid-template-rows: unset;
      .header {
        .logo {
          margin: 40px auto 0 auto;
          height: 34px;
          width: auto;
        }
        .main-title {
          margin: 20px auto;
          font-size: 24px;
          line-height: 1;
        }
      }
      .steps {
        .step__badge {
          margin-right: 0 !important;
        }
        .steps__wrapper {
          display: flex;
          gap: 20px;

          li {
            margin-bottom: 0;
          }
        }
        .steps__text {
          display: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
    .step-wrapper {
      grid-template-rows: unset;
      .header {
        .logo {
          margin: 20px auto 0 auto;
          height: 34px;
          width: auto;
        }
        .main-title {
          font-size: 18px;
        }
      }
      .steps {
        .steps__wrapper {
          gap: 10px;
        }
      }
    }
  }
  // globals wizard
  .question-page {
    padding: 80px;
    @media (max-width: 991px) {
      padding: 80px 100px;
    }
    @media (max-width: 576px) {
      padding: 40px 20px;
    }
  }
}

.wizard-form {
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      color: $bg-primary;
      margin: 6px 0px;
    }

    input,
    select,
    textarea {
      background-color: #f5f5f5;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: 0;
      padding: 10px 20px;
      min-height: 60px;
      // text
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
      color: rgba(35, 39, 47, 0.44);
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      width: 100%;
      &:focus {
        outline: 0 !important;
        outline: none !important;
      }
    }
    textarea {
      min-height: 141px;
      resize: none;
      overflow-y: scroll;
      white-space: normal;
    }
    .v-select {
      .vs__dropdown-toggle {
        border: 0;
        background: #f5f5f5;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
      .vs__actions {
        padding: 4px 20px 0 3px;
      }
      input {
        background-color: transparent;
        border-radius: 0;
        box-shadow: unset;
        min-height: 50px;
        padding: 6px 20px;
      }
      .vs__selected {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 40px;
        color: #23272f70;
      }
    }
    .country {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-gap: 40px;
      &__phone {
        input {
          width: 100%;
        }
      }

      &__code {
        .vs__selected {
          color: #23272f70;
          img {
            height: 35px;
            width: auto;
          }
          p {
            margin-left: 20px;
          }
        }
      }
    }
    &--mb-0 {
      margin-bottom: 0;
    }
    small {
      color: $bg-primary;
      opacity: 0.5;
      font-weight: bold;
      margin-left: auto;
    }
  }
  &--empty {
    width: max-content;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $bg-secondary;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $bg-primary;
  }
}
.step-actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  // gap: 40px;
  &__button {
    margin: 0 20px;
    background-color: $bg-primary;
    color: $accent;
    padding: 10px 50px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    border-radius: 10px;
    transition: all 0.5s ease;
    &--reversed,
    &:hover {
      background-color: $accent;
      color: $bg-primary;
    }
    &:disabled {
      background-color: $neutral;
      color: white;
    }
  }
  &__loading {
    width: 150px;
    height: auto;
  }
}
.wizard-errors {
  margin-bottom: 40px;
  .wizard-errors__message {
    width: max-content;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid $error;
    border-radius: 10px;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 50px;
      width: 24px;
      height: auto;
    }
    .text {
      color: $error;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
    }
  }
  &__errors {
    display: flex;
    flex-direction: column;
    list-style: disc;
  }
}
.cm-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}
.cm-group-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  &--a1a {
    grid-template-columns: auto 1fr auto !important;
    align-items: center;
    margin-bottom: 40px;
  }
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.title-1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #23272f;
}
.items-label {
  display: flex;
  align-items: center;
  // gap: 20px;
  .title {
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;

    color: $bg-primary;
  }
}
.btn-fab {
  background: linear-gradient(43.24deg, #82debe 3.55%, #94f899 57.94%);
  border-radius: 50px;
  width: 32px;
  height: 32px;
  transition: background 0.5s ease;
  img {
    width: 32px;
    height: auto;
  }
  &:hover {
    background: linear-gradient(-43.24deg, #94f899 3.55%, #82debe 57.94%);
  }
}
.cm-card {
  background-color: #f5f5f5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  padding: 30px 20px;
  min-height: 60px;
  // text
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: rgba(35, 39, 47, 0.44);
}
.tab-card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  // height: 60px;
  background: #f5f5f5;
  // box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 30px 20px 20px;
  align-self: flex-start;
  row-gap: 25px;

  .country__code {
    // grid-column: 1 / -1;
    &:nth-child(1) {
    }
    &:nth-child(2) {
    }
  }
  input[type='checkbox'] {
    box-shadow: unset !important;
    border-radius: 4px !important;
    border: 2px solid #23272f !important;
    padding: 0 !important;
    min-height: 0 !important;
    height: 18px !important;
    width: 18px !important;
  }
  .check-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    &.error {
      label {
        color: #f03e5e !important;
      }
      input[type='checkbox'] {
        border: 2px solid #f03e5e !important;
      }
    }
  }
  .title-wrapper {
    & > .label {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
    }
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.card-1 {
  background-color: white;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  grid-column: 1 / -1;
  .label {
    // margin-bottom: 20px;
  }
}
.cm-row {
  position: relative;
  // overflow: hidden;
  .confirm-delete {
    border-radius: 10px;
    position: absolute;
    height: calc(100% + 20px);
    width: 100%;
    top: 0;
    left: 0;
    background-color: $error;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 65% 1fr;
      align-items: center;
    }
    .message {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
      color: #ffffff;
    }
  }
}
@media (max-width: 1024px) {
  .wizard-errors .wizard-errors__message .text,
  .step-actions__button {
    font-size: 14px;
  }
  .wizard-form {
    &__input {
      label,
      input,
      select,
      textarea {
        font-size: 14px;
      }
    }
  }
  .items-label .title {
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  .tab-card .title-wrapper > .label {
  }
  .wizard-errors {
    .wizard-errors__message {
      width: 100%;
    }
  }
}
</style>
