<template>
  <main>
    <!-- Navbar -->
    <div class="decorator"></div>
    <nav class="flex main-navbar">
      <div class="content-wrapper flex">
        <!-- brand -->
        <router-link class="main-navbar__brand" to="/">
          <img :src="logo" alt="" />
        </router-link>

        <!-- Options -->
        <ul class="flex flex-1 main-navbar__options">
          <li class="item text-white">
            <router-link :to="{ name: 'interview-contact' }">
              Búsqueda de empleo
            </router-link>
          </li>

          <li class="item text-white">
            <!-- <p class="cursor-pointer" @click="goToContact('desktop')">
              Búsqueda de talento
            </p> -->
            <router-link :to="{ name: 'profiles-identification' }"
              >Búsqueda de talento</router-link
            >
          </li>
          <li class="item text-white">
            <router-link :to="{ name: 'services' }"> Servicios </router-link>
          </li>
          <li class="item text-white">
            <p class="cursor-pointer" @click="goToContact('desktop')">
              Contáctanos
            </p>
            <!-- <router-link to="/#contact">Contáctanos</router-link> -->
          </li>
        </ul>
        <button class="main-navbar__options--tablet" @click="toggleMobileNav()">
          <img :src="menu" alt="" />
        </button>

        <div class="mobile-nav bg-primary" :class="mobileNav ? 'show' : ''">
          <!-- Options -->
          <ul class="">
            <li class="item text-white" @click="toggleMobileNav()">
              <router-link to="interview/contact"
                >Búsqueda de empleo</router-link
              >
            </li>

            <li class="item text-white">
              <!-- <p class="cursor-pointer" @click="goToContact()">
                Búsqueda de talento
              </p> -->
              <router-link to="/profiles/identification"
                >Búsqueda de talento</router-link
              >
            </li>
            <li class="item text-white" @click="toggleMobileNav()">
              <router-link tag="p" to="/services">Servicios</router-link>
            </li>
            <li class="item text-white">
              <p class="cursor-pointer" @click="goToContact()">Contáctanos</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <Nuxt />

    <!-- Footer -->
    <footer id="contact" class="bg-background text-white footer-wrapper">
      <div class="contact-wrapper">
        <div class="contact-info">
          <div class="title bold text-primary">¡Contáctanos ahora!</div>
          <div class="email">
            <p>
              <span class="cm-bold">Envíanos un mensaje</span> desde el
              formulario o vía Whatsapp al:
            </p>
          </div>

          <div class="phone">+58 (412) 584-1280</div>
          <div class="social-media">
            <a
              href="https://www.linkedin.com/company/fast-track-talent"
              target="_blank"
            >
              <img :src="iconLink" alt=""
            /></a>
            <a href="https://www.instagram.com/fttalent.work/" target="_blank">
              <img :src="iconInsta" alt=""
            /></a>
            <a
              href="https://www.facebook.com/Fast-Track-Talent-103925305307436"
              target="_blank"
            >
              <img :src="iconFace" alt=""
            /></a>
          </div>
        </div>
        <!-- Contact Form -->
        <form class="contact-form">
          <div
            v-if="
              ($v.contactForm.$dirty && $v.contactForm.$invalid) ||
              invalidAddress ||
              invalidCaptcha
            "
            class="alert"
          >
            <div v-if="invalidCaptcha" class="alert__messages">
              <span class="icon"> error </span>
              <span class="text"
                >No se pue comprobar el recaptcha. Recargue la página</span
              >
            </div>
            <div v-if="invalidAddress" class="alert__messages">
              <span class="icon"> error </span>
              <span class="text">El correo enviado no existe</span>
            </div>
            <div v-if="invalidFullName" class="alert__messages">
              <span class="icon"> error </span>
              <span v-if="!$v.contactForm.fullname.required" class="text"
                >El nombre completo es requerido</span
              >
              <span v-if="!$v.contactForm.fullname.alpha" class="text"
                >El nombre completo sólo admite letras</span
              >
            </div>
            <div v-if="invalidSubject" class="alert__messages">
              <span class="icon"> error </span>
              <span v-if="!$v.contactForm.subject.required" class="text"
                >El asunto es requerido</span
              >
            </div>
            <div v-if="invalidEmail" class="alert__messages">
              <span class="icon"> error </span>
              <span v-if="!$v.contactForm.email.email" class="text"
                >El correo es inválido</span
              >
              <span v-if="!$v.contactForm.email.required" class="text"
                >El correo es requerido</span
              >
            </div>
            <div v-if="invalidMessage" class="alert__messages">
              <span class="icon"> error </span>
              <span v-if="!$v.contactForm.message.required" class="text"
                >El mensaje es requerido</span
              >
            </div>
          </div>
          <!-- Nombre -->
          <input
            v-model="contactForm.fullname"
            type="text"
            class="contact-input"
            :class="{ 'invalid-input': invalidFullName }"
            placeholder="Nombre Completo"
          />
          <!-- Asunto -->
          <select v-model="contactForm.subject" class="cm-select contact-input">
            <option selected disabled value="">Asunto</option>
            <option>Búsqueda de Empleo</option>
            <option>Búsqueda de Talento</option>
            <option>Asesoría Empresarial</option>
            <option>Otro</option>
          </select>
          <!-- Email -->
          <input
            v-model="contactForm.email"
            type="text"
            class="contact-input"
            :class="{ 'invalid-input': invalidEmail }"
            placeholder="Correo"
          />
          <!-- mensaje -->
          <textarea
            v-model="contactForm.message"
            class="contact-input contact-input--textarea"
            :class="{ 'invalid-input': invalidMessage }"
            cols="30"
            rows="10"
            placeholder="Mensaje"
          ></textarea>
          <template v-if="!showSuccess">
            <button type="button" class="btn-action" @click="contactSubmit">
              <span v-if="!bussyContactForm">Contactar</span>
              <img
                v-else
                class="loading"
                src="@/assets/img/loading-1.svg"
                alt="Loading animation"
              />
            </button>
          </template>
          <template v-else>
            <div class="success">
              <div class="success__messages">
                <span class="text"
                  >Usted será contactado por nuestro equipo de atención al
                  cliente en 24 horas</span
                >
                <span class="icon close-btn" @click="hideSuccess"> close </span>
              </div>
            </div>
          </template>
        </form>
      </div>
      <img class="footer-bg" :src="footerBg" alt="" />
      <div class="copyright bold">
        <div class="terms-links">
          <router-link :to="{ name: 'terms-of-service' }" target="_blank">
            Términos y condiciones
          </router-link>
          <router-link :to="{ name: 'privacy-policy' }" target="_blank">
            Políticas de privacidad
          </router-link>
          <router-link :to="{ name: 'cookies-policy' }" target="_blank">
            Políticas de cookies
          </router-link>
        </div>
        <span>Fast Track Talent © {{ currentYear }}</span>
      </div>
    </footer>
  </main>
</template>

<script>
import logo from '@/assets/img/ui-logotipo_2.svg'
import menu from '@/assets/img/ui-icon-menu.svg'
import footerBg from '@/assets/img/footer-bg.png'
// social media
import iconInsta from '@/assets/img/ui-icon-insta.svg'
import iconLink from '@/assets/img/ui-icon-link.svg'
import iconFace from '@/assets/img/ui-icon-face.svg'
// Vuelidate
import { validationMixin } from 'vuelidate'
import { required, email, helpers } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ'\u00F1\u00D1](\s*[a-zA-ZÀ-ÿ'\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ'\u00F1\u00D1]+$/i
)

export default {
  mixins: [validationMixin],
  data() {
    return {
      footerBg,
      logo,
      menu,
      iconInsta,
      iconLink,
      iconFace,
      mobileNav: false,
      contactForm: {
        fullname: '',
        subject: '',
        email: '',
        category: 'Búsqueda de empleo',
        message: '',
        recaptcha: '',
      },
      bussyContactForm: false,
      showSuccess: false,
      invalidAddress: false,
      invalidCaptcha: false,
    }
  },
  computed: {
    invalidFullName() {
      return (
        this.$v.contactForm.$dirty &&
        (!this.$v.contactForm.fullname.required ||
          !this.$v.contactForm.fullname.alpha)
      )
    },
    invalidSubject() {
      return this.$v.contactForm.$dirty && !this.$v.contactForm.subject.required
    },
    invalidEmail() {
      return (
        this.$v.contactForm.$dirty &&
        (!this.$v.contactForm.email.email ||
          !this.$v.contactForm.email.required)
      )
    },
    invalidMessage() {
      return this.$v.contactForm.$dirty && !this.$v.contactForm.message.required
    },
    currentYear() {
      return new Date().getFullYear()
    },
  },
  validations: {
    contactForm: {
      fullname: {
        required,
        alpha,
      },
      subject: {
        required,
      },
      email: {
        required,
        email,
      },
      message: {
        required,
      },
    },
  },
  watch: {
    $route(to, from) {
      this.$v.$reset()
    },
  },
  methods: {
    toggleMobileNav() {
      this.mobileNav = !this.mobileNav
    },
    async contactSubmit() {
      try {
        this.$v.contactForm.$touch()
        if (!this.$v.contactForm.$invalid) {
          // Get string from recaptcha.
          await this.$recaptcha.init()
          this.bussyContactForm = true
          // Get token to verify.
          const str = await this.$recaptcha.execute('login')
          this.contactForm.recaptcha = str
          this.$axios
            .$post(
              `${this.$axios.defaults.baseURL}website/send-contact-email`,
              this.contactForm
            )
            .then((res) => {
              if (res.captchaError) {
                this.invalidCaptcha = true
                this.bussy = false
              } else if (!res.validEmail) {
                this.invalidAddress = true
                this.bussyContactForm = false
              } else if (res.success) {
                this.showSuccess = true
                this.invalidAddress = false
              }
            })
            .catch((error) => {
              alert()
              // eslint-disable-next-line no-console
              console.debug(error)
            })
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e)
      }
    },
    hideSuccess() {
      this.showSuccess = false
      this.bussyContactForm = false
      this.$v.$reset()
      this.contactForm.fullname = ''
      this.contactForm.subject = ''
      this.contactForm.email = ''
      this.contactForm.category = 'Búsqueda de empleo'
      this.contactForm.message = ''
    },
    goToContact(mode) {
      const el = document.getElementById('contact')
      el.scrollIntoView()
      if (mode !== 'desktop') {
        this.toggleMobileNav()
      }
    },
  },
}
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
.invalid-input {
  @apply border-2 border-solid #{!important};
  // border: 2px solid;
  border-radius: 10px;
  border-color: #f03e5e #{!important};
}
html {
  scroll-behavior: smooth;
}
* {
  // font-family: Oswald;
}
.bold {
  font-family: 'ITC Avant Garde Gothic LT' !important;
}
.cm-select {
  color: #23272fc2 !important;
}
.cm-bold {
  font-weight: bold;
}
$global_margin: 70px;
.decorator {
  height: 18px;
  background-color: #82debe;
}
.main-navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  align-items: center;
  height: 107px;
  background-color: #23272f;
  border-radius: 0px 0px 20px 20px;
  .content-wrapper {
    max-width: 1302px;
    margin: 0 auto;
    flex: 0 1 calc(100% - 30px);
    // @media (min-width: 1600px) {
    //   max-width: 1600px;
    // }
    // @media (max-width: 1302px) {
    //   // max-width: calc(100% - 30px);
    //   flex: 0 1 calc(100% - 30px);
    // }
  }
  &__brand {
  }
  &__options {
    // background-color: #bada55;
    justify-content: flex-end;
    align-items: center;
    &--tablet {
      display: none;
      height: auto;
      img {
        width: 36px;
      }
    }
  }
  .item {
    position: relative;
    // font-weight: bold;
    // font-size: 18px;
    // line-height: 27px;
    // letter-spacing: 0.105em;
    letter-spacing: 1px;
    margin: 0 20px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    &:last-child {
      // margin-right: 0;
    }
    .nuxt-link-active {
      &::after {
        content: '';
        position: absolute;
        // margin-top: 10px;
        width: 100%;
        height: 5px;
        bottom: -10px;
        left: 0;
        border-radius: 50px;
        background-color: #82debe;
      }
    }
  }
  .mobile-nav {
    background-color: #23272f;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 1rem;
    right: 0;
    top: calc(100% + -2rem);
    transform: translateY(-1000%);
    transition: transform 0.5s ease;
    border-radius: 0 0 30px 30px;
    &.show {
      transform: translateY(0%);
    }
    .item {
      padding: 1rem;
    }
  }
}

.btn-action {
  width: max-content;
  padding: 10px 50px;
  min-height: 45px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #82debe;
  color: #23272f;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: Oswald;
  line-height: 27px;
  letter-spacing: 0.05em;
}
footer {
  z-index: 250;
  min-height: 909px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 18px;
    background-color: #82debe;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.contact {
  &-wrapper {
    position: relative;
    width: calc(100% - 240px);
    display: grid;
    max-width: 1600px;
    margin: 80px auto 80px auto;
    grid-template-columns: 1fr 1fr;
    // width: 100%;
    grid-gap: 100px;
  }
  &-info {
    // align-self: center;
    font-family: Oswald;
    .title {
      font-family: Oswald !important;
      font-weight: 600;
      font-size: 48px;
    }
    .email {
      font-size: 36px;
      font-family: Roboto !important;
      margin-top: 40px;
      margin-bottom: 20px;
      max-width: 569px;
    }
    .phone {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
  &-form {
    display: grid;
    .btn-action {
      margin-right: 0;
    }
    .alert {
      @apply rounded-md mb-2 p-2;
      background-color: coral;
      &__messages {
        @apply flex space-x-2 space-y-2 items-center;
        .icon {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
        }
        .text {
          @apply mt-0 #{!important};
        }
      }
    }
    .loading {
      width: 100px;
      height: 50px;
    }
    .success {
      @apply rounded-md mb-2 py-2 px-4 bg-cyanblue;
      &__messages {
        @apply flex space-x-2 space-y-2 items-center justify-between;
        .icon {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
        }
        .text {
          @apply font-brandBold mt-0 #{!important};
        }
        .close-btn {
          @apply cursor-pointer m-0 #{!important};
        }
      }
    }
  }
  &-input {
    color: rgba(35, 39, 47, 0.44);
    border: 0;
    margin-bottom: 35px;
    border-radius: 10px;
    height: 65px;
    font-size: 18px;
    padding: 15px 26px;
    &--textarea {
      padding: 26px;
      height: auto;
    }
  }
}
.copyright {
  background-color: #94f899;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #23272f;
}
.terms-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1em 0.5em;
  & > a {
    font-size: 14px;
    margin: 0 1em;
  }
  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}
.social-media {
  display: flex;
  a {
    margin-right: 53px;
  }
}
.accent {
  color: #82debe;
}
.contact-form {
  .radios-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 35px;
      span {
        margin-top: 1rem;
      }
    }
  }
}
.footer-wrapper {
  position: relative;
  .footer-bg {
    position: absolute;
    bottom: 60px;
    left: 0;
  }
}
@media (max-width: 1366px) {
  footer {
    text-align: center;
    .contact-info {
      .email {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .contact-wrapper {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
    .social-media {
      justify-content: center;
      a {
        margin-right: 0;
        &:nth-child(2) {
          margin: 0 2rem;
        }
      }
    }
    .contact-form {
      .btn-action {
        margin-right: auto;
      }
    }
    .footer-bg {
      display: none;
    }
  }
}
@media (max-width: 1199px) {
  .main-navbar {
    justify-content: space-between;
    .content-wrapper {
      justify-content: space-between;
      // width: ;
      margin: 0 auto;
      flex: 0 1 calc(100% - 60px);
    }
    &__options {
      display: none;
      &--tablet {
        display: block;
      }
    }
    &__brand {
      width: 187px;
      height: auto;
    }
  }
  .footer {
    .contact-info {
      .title {
        font-size: 38px;
      }
      .email {
        font-size: 24px;
      }
      .phone {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-navbar {
    height: 72px;
    &__brand {
      // width: 150px;
      // height: auto;
    }
    .mobile-nav {
      top: calc(100% + -1rem);
    }
  }
  footer {
    .contact-wrapper {
      width: calc(100% - 180px);
    }
    .contact-info {
      .title {
        font-size: 38px;
      }
      .email {
        font-size: 24px;
      }
      .phone {
        font-size: 18px;
      }
    }
    .contact-form {
      .radios-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (max-width: 576px) {
  .main-navbar {
    // width: calc(100% - 30px);
    &__brand {
      width: 150px;
      display: flex;
      align-items: center;
    }
  }
  footer {
    .contact-wrapper {
      width: 86.11%;
      // width: 100%;
      margin-top: 50px;
      grid-template-columns: 100%;
    }
    .contact-info {
      .email {
        max-width: 262px;
        font-size: 24px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
</style>
