<template>
  <section class="terms-container">
    <h2 class="terms-title">Políticas de cookies</h2>
    <div class="terms-body">
      <i>Actualizado el 2022-03-15</i>
      <!-- Terminos generales -->
      <h3 class="terms-subtitle">Definiciones y términos clave</h3>
      <p>
        Para ayudar a explicar las cosas de la manera más clara posible en esta
        Política de cookies, cada vez que se hace referencia a cualquiera de
        estos términos, se definen estrictamente como:
      </p>
      <ul>
        <li>
          <b>Cookie:</b> pequeña cantidad de datos generados por un sitio web y
          guardados por su navegador web. Se utiliza para identificar su
          navegador, proporcionar análisis, recordar información sobre usted,
          como su preferencia de idioma o información de inicio de sesión.
        </li>
        <li>
          <b>Compañía:</b> cuando estos Términos y Condiciones mencionan
          "Compañía", "nosotros", "nos" o "nuestro", se refiere a Fast Track
          Talent 43 CA (Torre empresarial CC Paseo El Hatillo, 1083, Caracas,
          Venezuela.), que es responsable de su información en virtud de estos
          Términos y Condiciones.
        </li>
        <li>
          <b>Plataforma:</b> sitio web de Internet, aplicación web o aplicación
          digital de cara al público de Fast Track Talent.
        </li>
        <li>
          <b>Dispositivo:</b> cualquier dispositivo conectado a Internet, como
          un teléfono, tablet, computadora o cualquier otro dispositivo que se
          pueda usar para visitar Fast Track Talent y usar los servicios.
        </li>
        <li>
          <b>Datos personales:</b> cualquier información que directa,
          indirectamente o en conexión con otra información, incluido un número
          de identificación personal, permita la identificación de una persona
          física.
        </li>
        <li>
          <b>Servicio:</b> se refiere al servicio brindado por Fast Track Talent
          como se describe en los términos relativos (si están disponibles) y en
          esta plataforma.
        </li>
        <li>
          <b>Terceros:</b> se refiere a anunciantes, patrocinadores de
          concursos, socios promocionales y de marketing, y otros que brindan
          nuestro contenido o cuyos productos o servicios que creemos que pueden
          interesarle.
        </li>
        <li>
          <b>Sitio web:</b> el sitio de Fast Track Talent, al que se puede
          acceder a través de esta URL: fttalent.work.
        </li>
        <li>
          <b>Usted:</b> una persona o entidad que está registrada con Fast Track
          Talent para utilizar los Servicios.
        </li>
      </ul>
      <!-- Introducción -->
      <h3 class="terms-subtitle">Introducción</h3>
      <p>
        Esta Política de cookies explica cómo Fast Track Talent y sus afiliados
        (colectivamente "Fast Track Talent", "nosotros", "nos" y "nuestro"),
        utilizan cookies y tecnologías similares para reconocerlo cuando visita
        nuestra plataforma, incluidos, entre otros, Fast Track Talent y
        cualquier URL relacionada, versiones móviles o localizadas y dominios /
        subdominios relacionados ("Sitios web"). Explica qué son estas
        tecnologías y por qué las usamos, así como las opciones de cómo
        controlarlas.
      </p>
      <!-- ¿Qué es una Cookie? -->
      <h3 class="terms-subtitle">¿Qué es una Cookie?</h3>
      <p>
        Una cookie es un pequeño archivo de texto que se almacena en su
        computadora u otro dispositivo conectado a Internet para identificar su
        navegador, proporcionar análisis, recordar información sobre usted, como
        su preferencia de idioma o información de inicio de sesión. Son
        completamente seguros y no se pueden utilizar para ejecutar programas o
        enviar virus a su dispositivo.
      </p>
      <!-- ¿Por qué utilizamos Cookies? -->
      <h3 class="terms-subtitle">¿Por qué utilizamos Cookies?</h3>
      <p>
        Usamos cookies propias y / o de terceros en nuestra plataforma para
        varios propósitos, tales como:
      </p>
      <ul>
        <li>
          Para facilitar el funcionamiento y la funcionalidad de nuestra
          plataforma;
        </li>
        <li>
          Para mejorar su experiencia con nuestra plataforma y hacer que navegar
          alrededor de ellos sea más rápido y fácil;
        </li>
        <li>
          Para permitirnos crear una experiencia de usuario personalizada para
          usted y para que entendamos qué es útil o de su interés;
        </li>
        <li>
          Para analizar cómo se utiliza nuestra plataforma y cuál es la mejor
          forma de personalizarla;
        </li>
        <li>
          Para identificar prospectos futuros y personalizar las interacciones
          de marketing y ventas con él;
        </li>
        <li>
          Para facilitar la adaptación de la publicidad online a sus intereses.
        </li>
      </ul>
      <!-- ¿Qué tipo de Cookies utiliza Fast Track Talent? -->
      <h3 class="terms-subtitle">
        ¿Qué tipo de Cookies utiliza Fast Track Talent?
      </h3>
      <p>
        Las cookies pueden ser cookies de sesión o cookies persistentes. Una
        cookie de sesión caduca automáticamente cuando cierra su navegador. Una
        cookie persistente permanecerá hasta que caduque o elimine sus cookies.
        Las fechas de caducidad se establecen en las propias cookies; algunos
        pueden caducar después de unos minutos, mientras que otros pueden
        caducar después de varios años. Las cookies colocadas por el sitio web
        que está visitando se denominan "cookies de origen".
      </p>
      <p>
        Las cookies estrictamente necesarias son necesarias para que nuestra
        plataforma funcione y no se pueden desactivar en nuestros sistemas. Son
        esenciales para que pueda navegar por la plataforma y utilizar sus
        funciones. Si elimina o deshabilita estas cookies, no podemos garantizar
        que podrá utilizar nuestra plataforma.
      </p>
      <p>Usamos los siguientes tipos de cookies en nuestra plataforma:</p>
      <!-- Cookies Esenciales -->
      <h3 class="terms-subtitle">Cookies Esenciales</h3>
      <p>
        Usamos cookies esenciales para que nuestra plataforma funcione. Estas
        cookies son estrictamente necesarias para habilitar funciones básicas
        como la seguridad, la gestión de la red, sus preferencias de cookies y
        accesibilidad. Sin ellos, no podría utilizar los servicios básicos.
        Puede desactivarlos cambiando la configuración de su navegador, pero
        esto puede afectar el funcionamiento de los sitios web.
      </p>
      <!-- Cookies de Rendimiento y Funcionalidad -->
      <h3 class="terms-subtitle">Cookies de Rendimiento y Funcionalidad</h3>
      <p>
        Estas cookies se utilizan para mejorar el rendimiento y la funcionalidad
        de nuestra plataforma, pero no son esenciales para su uso. Sin embargo,
        sin estas cookies, es posible que ciertas funciones, como los videos, no
        estén disponibles o se le solicitará que ingrese sus datos de inicio de
        sesión cada vez que visite la plataforma, ya que no podríamos recordar
        que había iniciado sesión anteriormente.
      </p>
      <!-- Cookies de Marketing -->
      <h3 class="terms-subtitle">Cookies de Marketing</h3>
      <p>
        Estas cookies de marketing basadas en cuentas nos permiten identificar
        prospectos futuros y personalizar las interacciones de ventas y
        marketing con ellos.
      </p>
      <!-- Cookies de Análisis y Personalización -->
      <h3 class="terms-subtitle">Cookies de Análisis y Personalización</h3>
      <p>
        Estas cookies recopilan información que se utiliza para ayudarnos a
        comprender cómo se utiliza nuestra plataforma o qué tan efectivas son
        nuestras campañas de marketing, o para ayudarnos a personalizar nuestra
        plataforma para usted.
      </p>
      <p>
        Usamos cookies proporcionadas por Google Analytics para recopilar datos
        limitados directamente de los navegadores del usuario final para
        permitirnos comprender mejor su uso de nuestra plataforma. Puede
        encontrar más información sobre cómo Google recopila y utiliza estos
        datos en:
        <a href="https://www.google.com/policies/privacy/partners/"
          >www.google.com/policies/privacy/partners/</a
        >
        Puede optar por no recibir todos los análisis admitidos por Google en
        nuestros sitios web visitando:
        <a href="https://tools.google.com/dlpage/gaoptout"
          >tools.google.com/dlpage/gaoptout</a
        >.
      </p>
      <!-- Cookies de Redes Sociales -->
      <h3 class="terms-subtitle">Cookies de Redes Sociales</h3>
      <p>
        Estas cookies se utilizan cuando comparte información utilizando un
        botón para compartir en las redes sociales o un botón "Me gusta" en
        nuestro Sitio o cuando vincula su cuenta o interactúa con nuestro
        contenido a través de un sitio web de redes sociales como Facebook,
        Twitter o Google+. La red social registrará que ha hecho esto. Estas
        cookies también pueden incluir cierto código que se ha colocado en la
        plataforma para ayudar a realizar un seguimiento de las conversiones de
        los anuncios, optimizar los anuncios en función de los datos
        recopilados, crear audiencias específicas para anuncios futuros y
        aplicar el remarketing a usuarios calificados que ya han realizado
        determinadas acciones en la plataforma.
      </p>
      <!-- Cookies de Terceros -->
      <h3 class="terms-subtitle">Cookies de Terceros</h3>
      <p>
        Algunas cookies que se han configurado en nuestra plataforma no se
        configuran de forma propia por Fast Track Talent. Los sitios web pueden
        integrarse con contenido de terceros para ofrecer publicidad. Estos
        proveedores de servicios externos pueden configurar sus propias cookies
        en su navegador web. Los proveedores de servicios externos controlan
        muchas de las cookies de rendimiento y funcionalidad, publicidad,
        marketing y análisis descritas anteriormente. No controlamos el uso de
        estas cookies de terceros, ya que solo el tercero que las configuró
        originalmente puede acceder a las cookies.
      </p>
      <!-- ¿Cómo se pueden Administrar las Cookies? -->
      <h3 class="terms-subtitle">¿Cómo se pueden Administrar las Cookies?</h3>
      <p>
        La mayoría de los navegadores le permiten controlar las cookies a través
        de sus preferencias de 'configuración'. Sin embargo, si limita la
        capacidad de los sitios web para establecer cookies, puede empeorar su
        experiencia de usuario en general, ya que ya no estará personalizada
        para usted. También puede impedirle guardar configuraciones
        personalizadas como información de inicio de sesión.
      </p>
      <p>
        Los fabricantes de navegadores proporcionan páginas de ayuda
        relacionadas con la gestión de cookies en sus productos.
      </p>
      <ul>
        <li>Google Chrome</li>
        <li>Internet Explorer</li>
        <li>Mozilla Firefox</li>
        <li>Safari (escritorio)</li>
        <li>Safari (móvil)</li>
        <li>Navegador de Android</li>
        <li>Opera</li>
        <li>Opera Mobile</li>
      </ul>
      <!-- Bloquear y Deshabilitar Cookies y Tecnologías Similares -->
      <h3 class="terms-subtitle">
        Bloquear y Deshabilitar Cookies y Tecnologías Similares
      </h3>
      <p>
        Donde sea que se encuentre, también puede configurar su navegador para
        bloquear cookies y tecnologías similares, pero esta acción puede
        bloquear nuestras cookies esenciales e impedir que nuestro sitio web
        funcione correctamente, y es posible que no pueda utilizar todas sus
        funciones y servicios por completo. También debe tener en cuenta que
        también puede perder información guardada (por ejemplo, detalles de
        inicio de sesión guardados, preferencias del sitio) si bloquea las
        cookies en su navegador. Los distintos navegadores ponen a su
        disposición distintos controles. Deshabilitar una cookie o una categoría
        de cookie no elimina la cookie de su navegador, deberá hacerlo usted
        mismo desde su navegador, debe visitar el menú de ayuda de su navegador
        para obtener más información.
      </p>
      <!-- Cambios en nuestra Política de Cookies -->
      <h3 class="terms-subtitle">Cambios en nuestra Política de Cookies</h3>
      <p>
        Podemos cambiar nuestro Servicio y nuestras políticas, y es posible que
        debamos realizar cambios en esta Política de cookies para que reflejen
        con precisión nuestro Servicio y nuestras políticas. A menos que la ley
        exija lo contrario, le notificaremos (por ejemplo, a través de nuestro
        Servicio) antes de realizar cambios en esta Política de cookies y le
        daremos la oportunidad de revisarlos antes de que entren en vigencia.
        Luego, si continúa utilizando el Servicio, estará sujeto a la Política
        de cookies actualizada. Si no desea aceptar esta o cualquier Política de
        cookies actualizada, puede eliminar su cuenta.
      </p>
      <!-- Su consentimiento -->
      <h3 class="terms-subtitle">Su consentimiento</h3>
      <p>
        Al utilizar nuestra plataforma, registrar una cuenta o realizar una
        compra, por la presente acepta nuestra Política de cookies y acepta sus
        términos.
      </p>
      <!-- Contáctenos -->
      <h3 class="terms-subtitle">Contáctenos</h3>
      <p>
        No dude en contactarnos si tiene alguna pregunta sobre nuestra Política
        de Cookies.
      </p>
      <p>
        A través de correo electrónico:
        <a href="mailto:contact@fttalent.work">contact@fttalent.work</a>
      </p>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'home',
}
</script>
