<template>
  <section class="page-home">
    <!-- Hero -->
    <article
      class="block-section pattern hero"
      :style="`background-image: url('${pattern}')`"
    >
      <!-- <img :src="slideOne" class="img-fluid" alt="" /> -->
      <carousel ref="carousel" :per-page="1">
        <!-- One -->
        <slide>
          <div
            class="slide-container bg-img"
            :style="`background-image: url('${slideOne}')`"
          >
            <div class="header">
              <h1 class="text-white header__title">
                <p>
                  Sólo dos minutos te separan de encontrar tu
                  <span class="cm-bold">empleo ideal</span>
                </p>
              </h1>
              <router-link to="interview/contact" class="text-white btn-action">
                <span class=""> Empieza </span>
              </router-link>
            </div>
          </div>
        </slide>

        <!-- Two -->
        <slide>
          <div
            class="slide-container bg-img"
            :style="`background-image: url('${
              mode === 'tablet'
                ? slideTwoTablet
                : mode === 'mobile'
                ? slideTwoMobile
                : slideTwo
            }')`"
          >
            <div class="header">
              <h1 class="text-white header__title">
                <span class="cm-bold">Gestionamos</span> tu talento y
                <span class="cm-bold">mejoramos</span> tus opciones de
                crecimiento empresarial
              </h1>
              <a
                href=""
                class="text-white btn-action"
                @click.prevent="goToContact()"
                >Contáctanos</a
              >
            </div>
          </div>
        </slide>

        <!-- Three -->
        <slide>
          <div
            class="slide-container bg-img"
            :style="`background-image: url('${
              mode === 'tablet'
                ? slideThreeTablet
                : mode === 'mobile'
                ? slideThreeMobile
                : slideThree
            }')`"
          >
            <div class="header header--start">
              <h1 class="text-white header__title">
                <span class="cm-bold">Encuentra el talento</span> que tanto
                buscas para tu empresa
              </h1>
              <a
                href=""
                class="text-white btn-action"
                @click.prevent="goToContact()"
                >Estoy Interesado</a
              >
            </div>
          </div>
        </slide>

        <!-- Four -->
        <slide>
          <div
            class="slide-container bg-img"
            :style="`background-image: url('${
              mode === 'tablet'
                ? slideFourTablet
                : mode === 'mobile'
                ? slideFourMobile
                : slideFour
            }')`"
          >
            <div class="header header--end">
              <h2 class="text-white header__title">
                Nos dedicamos a <span class="cm-bold">solventar</span> ese
                problema que frena el crecimiento de tu compañía
              </h2>
              <a
                href=""
                class="text-white btn-action"
                @click.prevent="goToContact()"
                >Necesito Ayuda</a
              >
            </div>
          </div>
        </slide>
      </carousel>
      <!-- <div v-if="currentIndex > 0" class="search-container">
        <input
          type="text"
          class="search-container__input"
          placeholder="Palabras claves"
        />
        <router-link to="" class="search-container__search">
          <img :src="iconSearch" alt="" />
        </router-link>
      </div> -->
    </article>

    <!-- Interviews -->
    <article class="block-section interview flex justify-center">
      <div class="content">
        <div class="thumbnail-wrapper">
          <img src="@/assets/img/interview.png" class="thumbnail" alt="" />
          <div class="title-alter">¡Comienza tu entrevista ahora!</div>
        </div>
        <div class="body">
          <img src="@/assets/img/ui-icon-isotipo.svg" class="isotipo" alt="" />
          <div class="title">¡Comienza tu entrevista ahora!</div>
          <div class="description">
            Únete a nuestra bolsa de trabajo y aumenta tus posibilidades de
            conseguir el <span class="cm-bold">empleo perfecto</span>.
          </div>
          <div class="btn-action">Iniciar</div>
        </div>
      </div>
    </article>

    <!-- profiles -->
    <article
      v-if="true"
      class="block-section bg-img talent-block"
      :style="`background-image: url('${bgSectionTwo}')`"
    >
      <div class="content text-white text-center">
        <h2 class="title bold">
          ¿Buscas el mejor <span class="text-primary"> talento</span> para tu
          empresa?
        </h2>
        <p class="description bold">
          Contamos con ese perfil cualificado que tú vacante actual necesita
        </p>
        <div class="btn-action cursor-pointer" @click="toService()">
          Ver más
        </div>
        <!-- <router-link to="/services" class="btn-action"></router-link> -->
      </div>
    </article>

    <div class="big-gradient">
      <!-- consultancies -->
      <article v-if="true" class="block-section consultancies">
        <div class="consultancies-wrapper">
          <!-- Carousel -->
          <div class="carousel-wrapper">
            <!-- LEFT -->
            <hooper v-if="true" style="height: auto" :settings="hooperSettings">
              <hooper-slide
                v-for="(item, index) in carouselItemsLeft"
                :key="index"
              >
                <div class="testimony-wrapper">
                  <div class="thumbnail">
                    <img
                      :src="item.image"
                      class="img-fluid thumbnail__img"
                      alt=""
                    />
                  </div>
                  <div class="name bold text-background">{{ item.title }}</div>
                  <div class="subtitle bold text-background">
                    {{ item.subtitle }}
                  </div>
                  <div class="spacer"></div>
                  <div class="description text-background">
                    {{ item.description }}
                  </div>
                </div>
              </hooper-slide>
            </hooper>
            <!-- RIGHT -->
            <hooper
              v-if="true"
              class="custom-centered"
              style="height: auto"
              :settings="hooperSettingsR"
            >
              <hooper-slide
                v-for="(item, index) in carouselItemsRight"
                :key="index"
              >
                <div class="testimony-wrapper">
                  <div class="thumbnail">
                    <img
                      :src="item.image"
                      class="img-fluid thumbnail__img"
                      alt=""
                    />
                  </div>
                  <div class="name bold text-background">{{ item.title }}</div>
                  <div class="subtitle bold text-background">
                    {{ item.subtitle }}
                  </div>
                  <div class="spacer"></div>
                  <div class="description text-background">
                    {{ item.description }}
                  </div>
                </div>
              </hooper-slide>
            </hooper>
          </div>
          <router-link
            v-if="carousel === 'persons'"
            to="/interview/contact"
            class="btn-action btn-action--mobile"
            >Empezar ahora</router-link
          >
          <router-link
            v-else
            to="/profiles/identification"
            class="btn-action btn-action--mobile"
            >Empezar ahora</router-link
          >
          <!-- content -->
          <div class="content-wrapper">
            <div class="carousel-tabs">
              <ul>
                <li
                  class="cursor-pointer bold"
                  :class="carousel === 'companies' ? 'enabled' : ''"
                  @click="resetCarousel('companies')"
                >
                  Empresas
                </li>
                <li
                  class="cursor-pointer bold"
                  :class="carousel === 'persons' ? 'enabled' : ''"
                  @click="resetCarousel('persons')"
                >
                  Personas
                </li>
              </ul>
            </div>
            <h2 class="main-title bold text-background">
              Conoce cómo nuestra asesoría empresarial y gestión de talento
              humano
              <span class="cm-bold">amplifica el rendimiento corporativo</span>
            </h2>

            <router-link
              v-if="carousel === 'persons'"
              to="/interview/contact"
              class="btn-action"
              >Empezar ahora</router-link
            >
            <router-link v-else to="/profiles/identification" class="btn-action"
              >Empezar ahora</router-link
            >
          </div>
          <!-- <img :src="glyph" class="glyph" alt="" /> -->
        </div>
      </article>

      <!-- our team -->
      <article v-if="true" class="block-section our-team">
        <div class="content-wrapper">
          <h2 class="title bold text-background">
            Conoce nuestro
            <p class="title--big">equipo de profesionales</p>
          </h2>
          <div class="team-wrapper">
            <!-- :per-page="3"  -->
            <carousel
              ref="carousel"
              :per-page-custom="[
                [0, 1],
                [768, 2],
              ]"
            >
              <!-- [1366, 3], -->
              <!-- one -->
              <slide>
                <a
                  href="https://www.linkedin.com/in/josefina-angulo-936a9316?originalSubdomain=ve"
                  target="_blank"
                  class="team-card"
                >
                  <div
                    class="thumbnail"
                    :style="`background-image: url('${teamJosefina}')`"
                  ></div>
                  <div class="content">
                    <div class="cargo text-white bold">Directora General</div>
                    <div class="name bold text-white">Josefina Angulo</div>
                    <img
                      class="text-center"
                      src="@/assets/img/ui-icon-linkedin.svg"
                      alt=""
                    />
                  </div>
                </a>
              </slide>
              <!--  -->
              <slide>
                <a
                  class="team-card"
                  href="https://ve.linkedin.com/in/morella-arreaza-817ab216"
                  target="_blank"
                >
                  <div
                    class="thumbnail"
                    :style="`background-image: url('${teamMorella}')`"
                  ></div>
                  <div class="content">
                    <div class="cargo text-white bold">Directora Asociada</div>
                    <div class="name bold text-white">Morella Arreaza</div>
                    <img src="@/assets/img/ui-icon-linkedin.svg" alt="" />
                  </div>
                </a>
              </slide>
              <!--
            <slide>
              <div class="team-card">
                <div class="thumbnail">
                  <img :src="ourTeam" alt="" />
                </div>
                <div class="content">
                  <div class="cargo text-background">Lorem ipsum</div>
                  <div class="name bold text-background">Jane Doe</div>
                </div>
              </div>
            </slide> -->
            </carousel>
          </div>
          <!-- <div class="category-wrapper">categories</div> -->
        </div>
      </article>
    </div>

    <!-- muro -->
    <article v-if="true" class="block-section blog text-bg">
      <div class="content-wrapper">
        <h2 class="main-title text-center cm-bold">Actualidad y Tecnología</h2>
        <div class="blog-posts">
          <carousel :per-page="1">
            <!-- one -->
            <slide v-for="(slide, index) in fourGrid" :key="index">
              <div class="posts-wrapper">
                <a
                  v-for="(item, i) in slide.slide"
                  :key="i"
                  class="post text-background"
                  :href="item.link"
                  target="_blank"
                >
                  <div class="thumbnail">
                    <!-- <img :src="item.image" class="image" alt="" /> -->
                    <div
                      class="thumbnail-wrapper"
                      :style="`background-image: url('${item.image}')`"
                    ></div>
                    <!-- <div class="tag bold">{{ item.category }}</div> -->
                  </div>
                  <div class="content">
                    <div class="title bold">{{ item.title }}</div>
                    <div class="description">{{ item.description }}</div>
                  </div>
                  <div class="post-date">{{ item.date }}</div>
                </a>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import teamJosefina from '@/assets/img/josefina.png'
import teamMorella from '@/assets/img/morella.png'

import slideOne from '@/assets/img/new_slide_1.png'

import slideTwo from '@/assets/img/new_slide_2.png'
import slideTwoTablet from '@/assets/img/new_slide_2_tablet.png'
import slideTwoMobile from '@/assets/img/new_slide_2_mobile.png'

import slideThree from '@/assets/img/new_slide_3.png'
import slideThreeTablet from '@/assets/img/new_slide_3_tablet.png'
import slideThreeMobile from '@/assets/img/new_slide_3_mobile.png'

import slideFour from '@/assets/img/new_slide_4.png'
import slideFourTablet from '@/assets/img/new_slide_4_tablet.png'
import slideFourMobile from '@/assets/img/new_slide_4_mobile.png'

import pattern from '@/assets/img/pattern.png'
import thumbnail from '@/assets/img/thumbnail_1.jpg'
import testimonyOne from '@/assets/img/testimonio_1.png'
import bgSectionTwo from '@/assets/img/section_2.jpg'
import iconSearch from '@/assets/img/ui-icon-search.svg'
import ourTeam from '@/assets/img/our_team.png'
import glyph from '@/assets/img/ui-icon-glyph.svg'
import testimonyCompany from '@/assets/img/ui-logo-tesla.svg'
import telcelCompany from '@/assets/img/telcel.png'
import charvenecaCompany from '@/assets/img/charveneca.jpg'
import { mapGetters, mapActions } from 'vuex'
import { Carousel, Slide } from 'vue-carousel'
import { Hooper, Slide as HooperSlide } from 'hooper'
import 'hooper/dist/hooper.css'

export default {
  components: {
    Carousel,
    Slide,
    Hooper,
    HooperSlide,
  },

  layout: 'home',
  data() {
    return {
      teamJosefina,
      teamMorella,
      slideOne,

      slideTwo,
      slideTwoTablet,
      slideTwoMobile,

      slideThree,
      slideThreeTablet,
      slideThreeMobile,
      slideFourTablet,
      slideFourMobile,
      slideFour,

      pattern,
      thumbnail,
      bgSectionTwo,
      iconSearch,
      testimonyOne,
      ourTeam,
      testimonyCompany,
      glyph,
      telcelCompany,
      charvenecaCompany,
      carousel: null,
      carouselItemsLeft: null,
      carouselItemsRight: null,
      personsLeft: [
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
      ],
      personsRight: [
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
        {
          title: 'Ileana Millan',
          subtitle: 'Directora RRHH Torondoy',
          description:
            '“El equipo de Fast Track ha sido una referencia constante durante mi carrera ya que es un equipo conformado por personas con las competencias necesarias para asesorar y respaldado por años de experiencia en el mundo organizacional”',
          image: testimonyOne,
        },
      ],
      companiesLeft: [
        {
          title: 'Nestor Escobar',
          subtitle: 'Gerente General',
          description:
            '“Fast Track es una opción en el mercado, rápida y diligente que utilizamos para localizar talentos de alto calibre, con potencialidad y adecuados a las necesidades de nuestra empresa...”',
          image: charvenecaCompany,
        },
        {
          title: 'Maribel Meneses',
          subtitle: 'V.P de Talento',
          description:
            '“Contar con consultores que aporten valor es fundamental para una gestión exitosa de RRHH. Esa fue exactamente nuestra experiencia con Fast Track. Desarrollando los skills de nuestros colaboradores, convirtieron al equipo en top talent de nuestra organización.”',
          image: telcelCompany,
        },
      ],
      companiesRight: [
        {
          title: 'Maribel Meneses',
          subtitle: 'V.P de Talento',
          description:
            '“Contar con consultores que aporten valor es fundamental para una gestión exitosa de RRHH. Esa fue exactamente nuestra experiencia con Fast Track. Desarrollando los skills de nuestros colaboradores, convirtieron al equipo en top talent de nuestra organización.”',
          image: telcelCompany,
        },
        {
          title: 'Nestor Escobar',
          subtitle: 'Gerente General',
          description:
            '“Fast Track es una opción en el mercado, rápida y diligente que utilizamos para localizar talentos de alto calibre, con potencialidad y adecuados a las necesidades de nuestra empresa...”',
          image: charvenecaCompany,
        },
      ],
      hooperSettings: {
        infiniteScroll: true,
        wheelControl: false,
        vertical: true,
        breakpoints: {
          768: {
            itemsToShow: 1.9,
          },
          0: { itemsToShow: 1, centerMode: false, vertical: true },
        },
      },
      hooperSettingsR: {
        infiniteScroll: true,
        wheelControl: false,
        vertical: true,
        centerMode: true,
        breakpoints: {
          768: {
            itemsToShow: 1.9,
          },
          0: { itemsToShow: 1.25, centerMode: true },
        },
      },
      hopperSettingsCompany: {
        left: {
          infiniteScroll: true,
          wheelControl: false,
          vertical: true,
          breakpoints: {
            768: {
              itemsToShow: 2,
            },
            0: { itemsToShow: 1.25, centerMode: true },
          },
        },
        right: {
          infiniteScroll: true,
          wheelControl: false,
          vertical: true,
          centerMode: true,
          breakpoints: {
            768: {
              itemsToShow: 1.75,
            },
            0: { itemsToShow: 1.25, centerMode: true },
          },
        },
      },
      fourGrid: [
        {
          slide: [
            {
              title: 'Industrias mejor pagadas',
              description:
                'Según datos del Instituto Nacional de Estadística (Inegi), la tasa de desempleo de México subió a 4.4% ...',
              date: '03/03/2021',
              image: require('@/assets/img/blog_industrias.png'),
              category: 'Actualidad',
              // eslint-disable-next-line prettier/prettier
              link: 'https://www.dineroenimagen.com/management/18-industrias-en-donde-estaran-los-puestos-mejor-pagados-despues-de-la-pandemia/134386',
            },
            {
              title: 'Claves para hacer un Currículum',
              description:
                'Lo cierto es que pesar de la situación difícil que el mundo atraviesa, el ámbito laboral no se detiene ...',
              date: '03/03/2021',
              image: require('@/assets/img/blog_cv.png'),
              category: 'Actualidad',
              // eslint-disable-next-line prettier/prettier
              link: 'https://www.zegelipae.edu.pe/blog/10-claves-hacer-curriculum-vitae-en-2021',
            },
            {
              title: 'Errores en la entrevista de trabajo',
              description:
                'Preparar una entrevista de trabajo es algo a lo que no dedicamos el tiempo suficiente, ya que muchas personas ...',
              date: '03/03/2021',
              image: require('@/assets/img/blog_entrevista.png'),
              category: 'Actualidad',
              // eslint-disable-next-line prettier/prettier
              link: 'https://www.soloempleo.com/errores-en-la-entrevista-de-trabajo',
            },
            {
              title: 'El teletrabajo y la salud física y mental',
              description:
                'Pese a que muchos trabajadores han valorado de forma positiva el hecho de poder establecer la oficina en su hogar  ...',
              date: '03/03/2021',
              image: require('@/assets/img/blog_teletrabajo.png'),
              category: 'Actualidad',
              // eslint-disable-next-line prettier/prettier
              link: 'http://www.rrhhdigital.com/secciones/teletrabajo/145354/Como-afecta-el-teletrabajo-a-la-salud-fisica-y-mental-de-los-empleados?target=_self',
            },
          ],
        },
      ],
      titles: [
        'Sólo 2 minutos te separan de encontrar tu empleo ideal',
        'Gestionamos tu talento y mejoramos tus opciones de crecimiento empresarial',
        'Encuentra el talento que tanto buscas para tu empresa',
        'Nos dedicamos a solventar ese problema que frena el crecimiento de tu compañía',
      ],
      window: {
        width: 0,
        height: 0,
      },
      mode: 'desktop',
    }
  },
  head() {
    return {
      title:
        'Trabajo - Empleo - Asesoría Empresarial - Gestión de talento humano y capacitación estratégica',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Empleo, asesoramiento coorporativo y desarollo empresarial en un solo lugar',
        },
      ],
    }
  },
  computed: {
    currentIndex: {
      cache: false,
      get() {
        return this.$refs.carousel ? this.$refs.carousel.currentPage : 0
      },
    },
    ...mapGetters({
      tabs: 'services/tabs',
    }),
  },
  created() {
    this.removeStorageData()
    // eslint-disable-next-line nuxt/no-globals-in-created
  },
  beforeMount() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },
  mounted() {
    this.setDotTitles()
    this.carousel = 'companies'
    this.carouselItemsLeft = this.companiesLeft
    this.carouselItemsRight = this.companiesRight
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth
      this.window.height = window.innerHeight
      if (this.window.width >= 991) {
        this.mode = 'desktop'
      } else if (this.window.width >= 576) {
        this.mode = 'tablet'
      } else {
        this.mode = 'mobile'
      }
    },
    ...mapActions({
      setSelectedTab: 'services/setSelectedTab',
    }),
    setDotTitles() {
      setTimeout(() => {
        const dots = document.querySelectorAll(
          '.hero .VueCarousel .VueCarousel-dot'
        )
        dots.forEach((dot, i) => {
          dot.title = this.titles[i]
        })
      }, 500)
    },
    resetCarousel(data) {
      this.carousel = data
      if (data === 'persons') {
        this.carouselItemsLeft = this.personsLeft
        this.carouselItemsRight = this.personsRight
      } else {
        this.carouselItemsLeft = this.companiesLeft
        this.carouselItemsRight = this.companiesRight
      }
    },
    goToContact() {
      const el = document.getElementById('contact')
      el.scrollIntoView()
    },
    toService() {
      this.setSelectedTab(this.tabs[11])
      this.$router.push('/services')
    },
    removeStorageData() {
      localStorage.removeItem('finished-assistant')
      localStorage.removeItem('degreesArr')
      localStorage.removeItem('salariesArr')
      localStorage.removeItem('studyTypesArr')
      localStorage.removeItem('countriesArr')
      localStorage.removeItem('interviewContact')
      localStorage.removeItem('interviewPersonalData')
      localStorage.removeItem('interviewSalaryExpectation')
      localStorage.removeItem('interviewSkills')
      localStorage.removeItem('interviewStudies')
      localStorage.removeItem('interviewWorkExperience')
      localStorage.removeItem('interviewExtraData')
    },
  },
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
main {
  overflow-x: hidden;
}
.page-home {
  font-family: 'ITC Avant Garde Gothic Std' !important;
}
.bold {
  font-family: 'ITC Avant Garde Gothic LT' !important;
}
.btn-action {
  font-family: Oswald;
  width: max-content;
  padding: 10px 50px;
  min-height: 45px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #82debe;
  border-radius: 10px;
  // font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.bg-img {
  background-position: center;
  background-size: cover;
}
.block-section {
  // min-height: 50vh;

  .pattern {
    background-blend-mode: color-burn;
  }
  &:nth-child(1) {
    min-height: 650px;
    @media (max-width: 1199px) {
      min-height: auto;
    }
  }
  &:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 250px;
  }
  &:nth-child(3) {
    // height: 668px;
    min-height: 668px;
    // background-color: #bada55;
    position: relative;
  }
  &:nth-child(4) {
    // min-height: 1024px;
    min-height: 973px;
  }
}
.talent-block {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    // background: conic-gradient(
    //   from 270deg at 100% 100%,
    //   #23272f 0deg,
    //   #82debe 360deg
    // );
    background: conic-gradient(
      from -90deg at 98.75% 100%,
      #23272f 0deg,
      #82debe 360deg
    );
    background-color: #23272f; /* fallback color if gradients are not supported */
    background-image: -webkit-conic-gradient(
      from -90deg at 98.75% 100%,
      #23272f 0deg,
      #82debe 360deg
    ); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-conic-gradient(
      from -90deg at 98.75% 100%,
      #23272f 0deg,
      #82debe 360deg
    ); /* For Firefox (3.6 to 15) */
    background-image: -o-conic-gradient(
      from -90deg at 98.75% 100%,
      #23272f 0deg,
      #82debe 360deg
    ); /* For old Opera (11.1 to 12.0) */
    background-image: conic-gradient(
      from -90deg at 98.75% 100%,
      #23272f 0deg,
      #82debe 360deg
    ); /* Standard syntax; must be last */
    opacity: 0.76;
    mix-blend-mode: multiply;
    // background-blend-mode: multiply !important;
  }
  .content {
    position: relative;
    z-index: 200;
    .title {
      font-weight: 500;
      font-size: 48px;
      line-height: 71px;
      letter-spacing: 0.05em;
      font-family: Oswald !important;
      // background-color: #bada55;
    }
    .description {
      font-family: Roboto !important;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      margin: 40px auto;
      max-width: 515px;
      // letter-spacing: 1.5px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
    z-index: 200;
  }
}
.slide-container {
  // cursor: grab;
  min-height: 650px;
  // // overflow: hidden;
  // // background-color: teal;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  // justify-content: center;
  align-items: center;
  position: relative;
  // &::after {
  //   content: '';
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   border-radius: 0px 0px 50px 50px;
  //   background: linear-gradient(
  //     90deg,
  //     rgba(35, 39, 47, 0.7) 13.23%,
  //     rgba(35, 39, 47, 0) 120.24%
  //   );
  // }
}

.search-container {
  position: absolute;
  z-index: 200;
  outline: none !important;
  background-color: white;
  width: 68.06%;
  height: 83px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(35, 39, 47, 0.25);
  overflow: hidden;
  &__input {
    border: 0;
    flex: 0 1 90%;
    height: 100%;
    font-size: 24px;
    line-height: 36px;
    color: rgba(35, 39, 47, 0.44);
    font-weight: bold;
    letter-spacing: 1.5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none !important;
  }
  &__search {
    background: linear-gradient(43.24deg, #82debe 3.55%, #94f899 57.94%);
    border-radius: 20px;
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero {
  margin-top: 80px;
  background-color: #23272f;
  .VueCarousel {
    &-pagination {
      position: absolute;
      bottom: 62px;
      text-align: unset !important;
      max-width: 1600px;
      left: 50%;
      width: calc(100% - 140px);
      transform: translateX(-50%);
      // left: -50%;
    }
    &-dot {
      background: white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
      height: 20px !important;
      width: 20px !important;
      padding: 0 !important;
      margin: 0 10px !important;
      &-container {
        margin: 0 !important;
        // // margin-left: 249px !important;
        // min-width: 1600px;
        // margin: 0 auto !important;
      }
      &--active {
        background: linear-gradient(
          180deg,
          #82debe 14.58%,
          #94f899 100%
        ) !important;
      }
    }
  }
  .header {
    position: relative;
    z-index: 200;
    // background-color: #bada55;
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;

    &__title {
      max-width: 535px;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 40px;
      font-family: Roboto;
      color: white;
    }
    .btn-action {
      margin: 0;
    }
    &--end {
      text-align: right;
      .header__title {
        margin: 0 0 40px auto;
      }
      .btn-action {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
.interview {
  background-color: #23272f;
  .content {
    display: flex;
    // grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1224px;
    margin: 164px auto;
    gap: 40px;
  }
  .thumbnail-wrapper {
    width: 100%;
    .thumbnail {
      border-radius: 10px;
      // height: 432px;
      // width: auto;
      height: auto;
      width: 100%;
    }
  }
  .body {
    align-self: center;
    position: relative;
    .isotipo {
      position: absolute;

      top: 0;
      right: 0;
      transform: translateY(71px);
    }
  }

  .title,
  .title-alter {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.05em;

    color: #23272f;
    background-color: #94f899;
    text-align: center;
    width: max-content;
    transform: translateX(-140px);
  }
  .title-alter {
    display: none;
  }
  .description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: 80px 0 40px 0;
  }
  .btn-action {
    margin-left: 0;
  }
  @media (max-width: 1366px) {
    .content {
      flex-direction: column;
      max-width: 768px;
      width: calc(100% - 122px);
      gap: 0;
      margin: 146px auto 203px auto;
    }
    .thumbnail {
      width: 100%;
      height: auto;
    }
    .thumbnail-wrapper {
      position: relative;
      .title-alter {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(20px, -34px);
        padding: 0 20px;
        font-size: 36px;
        line-height: 53.35px;
      }
    }

    .body {
      // margin-top: -90px;
      .isotipo {
        height: 365px;
        width: auto;
        transform: translateY(40px);
      }
    }
    .title,
    title-alter {
      transform: translateX(30px);
      margin-left: auto;
      font-size: 36px;
      padding: 0 20px;
      line-height: 53px;
      display: none;
    }
    .description {
      text-align: center;
      margin: 80px auto 40px auto;
    }
    .btn-action {
      margin-left: auto;
      position: relative;
      z-index: 10;
    }
  }
  @media (max-width: 767px) {
    .content {
      width: calc(100% - 80px);
      margin: 80px auto 180px auto;
    }
    .body {
      .isotipo {
        height: 197px;
        width: auto;
        transform: translate(20px, 165px);
      }
    }
    .title {
    }
    .description {
      font-size: 24px;
      margin: 40px auto 40px auto;
    }
    .thumbnail-wrapper {
      .title-alter {
        transform: translate(20px, -10px);
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
button {
  outline: none !important;
}
.card {
  display: grid;
  grid-template-columns: 45% 1fr;
  width: 86.11%;
  padding: 50px 70px;
  grid-gap: 70px;
  max-width: 1600px;
  background-color: #f5f5f5;
  margin: 0 auto;
  // padding-top: 145px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  &__thumbnail {
    text-align: center;
    // padding: 50px 0;
    // background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 20px;
    }
    img {
      max-width: 445px;
    }
  }
  &__body {
    align-self: center;
    .btn-action {
      margin-left: 0;
    }
    .title {
      max-width: 577px;
      font-weight: 500;
      font-size: 36px;
      line-height: 53px;
    }
    .description {
      margin-top: 25px;
      margin-bottom: 40px;
      max-width: 700px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 1.5px;
    }
  }
  &::after {
    content: '';
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
  }
}
.big-gradient {
  position: relative;
  background-color: #23272f;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    // background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(14.58%, #82debe),
      to(#94f899)
    );
    background: -o-linear-gradient(top, #82debe 14.58%, #94f899 100%);
    background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
    position: absolute;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  }
}
.consultancies {
  .consultancies-wrapper {
    display: grid;
    grid-template-columns: 55% 1fr;
    max-width: 1111px;
    grid-gap: 40px;
    min-height: 100vh;
    width: calc(100% - 200px);
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
  }

  .btn-action {
    margin-left: 0;
    background-color: #23272f;
    color: #82debe;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.05em;
    &--mobile {
      display: none;
      order: 3;
    }
    @media (max-width: 1366px) {
      display: block;
      margin: 40px auto 0 auto;
    }
  }

  & > .btn-action {
    transform: translateY(-50%);
    order: 3;
    position: relative;
    z-index: 200;
    display: none;
  }

  .carousel-wrapper {
    z-index: 200;
    position: relative;
    align-self: center;
    height: 100%;
    max-height: 900px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    .testimony-wrapper {
      background-color: white;
      width: 240px;
      margin: 0 auto;
      text-align: center;
      border-radius: 20px;
      overflow: hidden;
      .thumbnail {
        // min-height: 145px;
        position: relative;
        min-height: 125px;

        &__img {
          border-radius: 10px;
          width: 60px !important;
          height: auto;
        }
        &::before {
          content: '';
          width: 75px;
          height: 75px;
          background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
          border-radius: 10px;
        }
        &__img,
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .spacer {
        height: 2px;
        background: #82debe;
        border-radius: 100px;
        width: 63.33%;
        margin: 5px auto 19px auto;
      }
      .name {
        font-size: 18px;
        font-family: Oswald !important;
        font-weight: 500;
      }
      .subtitle {
        font-size: 14px;
        opacity: 0.5;
        font-family: Oswald !important;
        font-weight: 300;
        // font-weight: bold;
      }
      .description {
        font-weight: 300;
        font-size: 14px;
        line-height: 110%;
        margin: 0 auto 45px auto;
        letter-spacing: 1px;
        width: 90%;
        font-family: Roboto !important;
      }
    }
  }
  .content-wrapper {
    z-index: 200;
    align-self: center;
    text-align: left;
    .carousel-tabs {
      ul {
        display: flex;
        gap: 33px;
      }
      li {
        // margin-right: 33px;
        display: flex;
        flex-direction: column;
        width: 100px;
        text-align: center;
        font-size: 18px;
        font-family: Roboto !important;

        &::after {
          margin-top: 10px;
          border-radius: 50px;
          content: '';
          background-color: transparent;
          height: 5px;
        }
        &.enabled::after {
          background-color: white;
        }
      }
    }
    .main-title {
      font-size: 36px;
      line-height: 42px;
      margin: 40px 0;
      max-width: 454px;
      font-family: Roboto !important;
    }
    .btn-action {
      margin-left: 0;
      background-color: #23272f;
      color: #82debe;
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.05em;
    }
  }
  .glyph {
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 57%);
  }
  .hooper .hooper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.our-team {
  margin: 0 auto;
  // width: calc(100% - 200px);
  .content-wrapper {
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: max-content auto auto;
    min-height: 834px;
    padding: 80px 0;
  }
  .title {
    font-size: 48px;
    line-height: 53px;
    // max-width: 486px;
    font-family: Oswald !important;
    &--big {
      font-size: 64px;
      font-weight: 600;
    }
  }
  .name {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .cargo {
    font-size: 16px;
  }
  img {
    margin: 0 auto 0 auto;
  }

  .team-wrapper {
    z-index: 300;
    position: relative;
    // width: 1050px;
    // margin: 0 auto;
    // display: grid;
    // justify-content: center;
    // grid-template-columns: 1fr;
    align-items: center;
    // background-color: #bada55;
    // width: 100%;
    // background-color: #bada55;
    // width: 100%;
    /* max-width: 558px; */
    /* justify-content: center; */
    display: grid;
    justify-items: center;
    grid-template-columns: minmax(320px, auto);
    .VueCarousel {
      width: 100%;
    }
  }
  .team-card {
    margin: 1rem auto;
    background-color: #23272f;
    height: 426px;
    width: 310px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(35, 39, 47, 0.5));
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;

    .thumbnail {
      background-color: #94f899;
      position: relative;
      height: 267px;
      background-position: center;
      background-size: cover;
      img {
        width: 100%;
      }
      &::after {
        content: '';
        height: 10px;
        position: absolute;
        // background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
        background-color: #fff;
        left: 0;
        width: 100%;
        bottom: 0;
        transform: translateY(100%);
      }
    }
    .content {
      align-self: center;
      .cargo {
        font-family: Oswald !important;
        color: #bfbfbf;
        font-size: 16px;
        line-height: 118.7%;
      }
      .name {
        margin-top: 5px;
        font-family: Oswald !important;
        font-weight: 500;
        font-size: 28px;
        line-height: 118.7%;
        letter-spacing: 0.05em;
      }
    }
  }
  .VueCarousel {
    &-dot {
      background: #23272f !important;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
      height: 20px !important;
      width: 20px !important;
      padding: 0 !important;
      margin: 0 10px !important;
      transform: translateY(2rem);
      // &-container {
      //   margin: 0 !important;
      //   margin-left: 249px !important;
      // }
      &--active {
        background-color: #fff !important;
        // background: linear-gradient(
        //   180deg,
        //   #82debe 14.58%,
        //   #94f899 100%
        // ) !important;
      }
    }
  }
}
.blog {
  padding-bottom: 76px;
  background-color: #e8e8e8 !important;
  .main-title {
    font-size: 48px;
    padding-top: 105px;
    padding-bottom: 80px;
    font-family: Oswald !important;
  }
  .blog-posts {
    max-width: 1104px;
    margin: 0 auto;
  }
  .posts-wrapper {
    // padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 50px;
  }
  .post {
    min-height: 270px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    position: relative;
    .thumbnail {
    }
    .thumbnail-wrapper {
      height: 100%;
      border-radius: 20px;
      background-position: center;
      background-size: cover;
    }
    .content {
      align-self: center;
    }
    .post-date {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(-30px, -30px);
      font-size: 12px;
      font-family: Oswald;
      color: rgb(0, 0, 0);
      opacity: 0.25;
      letter-spacing: 0.02em;
    }
    .title {
      font-size: 24px;
      font-family: Oswald !important;
      font-weight: 500;
      line-height: 1.25;
      margin-bottom: 15px;
      // width: 80%;
      // margin-top: 2rem;
    }
    .description {
      font-family: Roboto !important;
      font-size: 16px;
      line-height: 118.7%;
      color: rgba(35, 39, 47, 0.5);
    }
  }
  .VueCarousel {
    &-pagination {
      // position: absolute;
      // bottom: 62px;
      // text-align: unset !important;

      // left: -50%;
    }
    &-dot {
      background: white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
      height: 20px !important;
      width: 20px !important;
      padding: 0 !important;
      margin: 73px 10px 0 10px !important;
      &-container {
        margin: 0 !important;
        // margin-left: 249px !important;
      }
      &--active {
        background: linear-gradient(
          180deg,
          #82debe 14.58%,
          #94f899 100%
        ) !important;
      }
    }
  }
}
.hooper {
  .hooper-slide {
    opacity: 0.25;
    &.is-active {
      opacity: 1;
    }
  }
  &.custom-centered {
    .hooper-slide.is-active {
      opacity: 0.25;
      &.is-current {
        opacity: 1;
      }
    }
  }
}
@media (min-width: 1600px) {
  .consultancies {
    margin: 0 auto;
    .glyph {
      transform: translate(0, 50%);
    }
  }
}
@media (max-width: 1366px) {
  .card {
    &__body {
      .title {
        font-size: 26px;
      }
      .description {
        font-size: 22px;
        line-height: 27px;
        width: 80%;
      }
    }
  }
  .talent-block {
    .content {
      .title {
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
      }
      .description {
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  .consultancies {
    // background-color: teal;

    .consultancies-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      padding-top: 80px;
      grid-gap: 0;
      width: calc(100% - 120px);
    }
    & > .btn-action {
      display: flex;
    }
    .carousel-wrapper {
      order: 2;
      min-height: 820px;
      // justify-self: center;
      // grid-gap: 40px;
    }
    .content-wrapper {
      order: 1;
      .carousel-tabs {
        ul {
          justify-content: center;
        }
      }
      .main-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 607px;
      }
      .btn-action {
        display: none;
      }
    }
  }
  .our-team {
    .team-card {
      margin: 1rem auto;
      width: 280px;
    }
  }
}
@media (max-width: 1199px) {
  .hero {
    .VueCarousel {
      &-pagination {
        text-align: center !important;
      }
    }
  }
  .slide-container {
    min-height: 412px;
    .header {
      &__title {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  .VueCarousel {
    &-pagination {
      text-align: center !important;
    }
    &-dot {
      height: 15px !important;
      width: 15px !important;
      &-container {
        margin: 0 auto !important;
        // margin-left: 249px !important;
      }
    }
  }
  .card {
    padding: 35px 30px;
    grid-gap: 35px;
    &__body {
      .title {
        font-size: 24px;
        line-height: 1;
      }
      .description {
        font-size: 18px;
        line-height: 1.5;
        width: 95%;
      }
    }
    &::after {
      top: unset;
      bottom: 0;
      width: 100%;
      height: 12px;
      background: linear-gradient(270deg, #82debe 14.58%, #94f899 100%);
    }
  }
  .talent-block {
    .content {
    }
  }
  .blog {
    .main-title {
      font-weight: normal !important;
      padding-top: 60px;
      padding-bottom: 96px;
    }
    .posts-wrapper {
      justify-content: center;
      grid-template-columns: 550px;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
  .our-team {
    .title {
      margin-left: 40px;
      font-size: 48px;
      &--big {
        font-size: 48px;
      }
    }
  }
}
@media (max-width: 767px) {
  .card {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    &__thumbnail {
      img {
        height: auto;
        width: 100%;
      }
    }
    &__body {
      text-align: center;
      .title {
        font-size: 18px;
        line-height: 1;
      }
      .description {
        margin-top: 10px;
        margin-bottom: 23px;
        font-size: 14px;
        line-height: 1.5;
        width: 95%;
        font-weight: bold;
      }
      .btn-action {
        margin: 0 auto;
        margin-bottom: 46px;
      }
    }
    &::after {
      top: unset;
      bottom: 0;
      width: 100%;
      height: 12px;
      background: linear-gradient(270deg, #82debe 14.58%, #94f899 100%);
    }
  }
  .slide-container {
    .header {
      width: 71%;
      &__title {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
  .btn-action {
    font-size: 14px;
    // padding: 10px 20px;
  }
  .talent-block {
    .content {
      margin: 0 30px;
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
      }
      .description {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .block-section {
    &:nth-child(2) {
      // padding: 50px 0;
    }
  }
  .consultancies {
    .consultancies-wrapper {
      min-height: 667px;
    }
    .carousel-wrapper {
      grid-template-columns: 1fr;
      min-height: auto;
      min-height: 406px;
      max-height: 406px;
      section:nth-child(2) {
        display: none;
      }
    }
    .content-wrapper {
      .main-title {
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }
  .our-team {
    width: calc(100% - 120px);
    .content-wrapper {
      grid-template-rows: max-content auto;
      min-height: auto;
    }
    .title {
      font-size: 48px;
      line-height: 1.5;
      margin-bottom: 30px;
      &--big {
        font-size: 48px;
      }
    }
  }
  .blog {
    .main-title {
      font-size: 24px;
      line-height: 1.5;
      width: calc(100% - 80px);
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 35px;
    }
  }
  .hero {
    margin-top: 50px;
  }
  .slide-container {
    .header__title {
      margin-bottom: 20px;
    }
  }
  .talent-block {
    .content {
      .title {
        font-size: 36px;
      }
      .description {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 576px) {
  .hero {
    .header {
      width: calc(100% - 70px);
      &__title {
        max-width: 230px;
      }
    }
    .VueCarousel-pagination {
      bottom: 24px;
      text-align: left !important;
    }
  }
  .card {
    &__body {
      .btn-action {
        margin-bottom: 23px;
      }
    }
  }
  .talent-block {
    .content {
      flex: 1;
      .title {
        font-size: 24px;
        font-weight: 500 !important;
        letter-spacing: 0.05em;
        max-width: 276px;
        margin: 0 auto;
      }
      .description {
        max-width: 266px;
        margin: 20px auto 20px auto;
        line-height: 21px;
        font-size: 18px;
      }
    }
  }
  .search-container {
    width: 80%;
    &__input {
      font-size: 18px;
    }
    &__search {
      min-width: 57px;
    }
  }
  .our-team {
    // width: calc(100% - 30px);
    width: 100%;
    .content-wrapper {
      grid-template-columns: 100%;
    }
    .team-card {
      margin: 1rem auto;
      // width: calc(320px - 60px);
    }
    .title {
      font-size: 28px;
      &--big {
        font-size: 28px;
      }
    }
  }
  .blog {
    .blog-posts {
      width: calc(100% - 30px);
    }
    .posts-wrapper {
      // padding: 0;
      grid-template-columns: minMax(200px, auto);
      // grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .post {
      // grid-template-columns: 1fr;
      // grid-template-rows: 175px;
      min-height: 160px;
      padding: 20px;
      // margin: 0 auto;
      // grid-gap: 0 1rem;
      .thumbnail-wrapper {
        // width: 100%;
        // height: 100%;
      }
      .thumbnail {
        // width: 100%;
        // height: 100%;
        // padding: 1rem;
        // margin: 17px;
        // width: 350px;
        // height: 250px;
        // grid-row: unset;
      }
      .content {
        // padding: 1rem 1.5rem;
        // grid-row: unset;
        // align-self: center;
      }
      .title {
        // background-color: #bada55;
        // width: max-content;
        // width: auto;
        font-size: 17px;
        // margin-top: 0;
        // margin-bottom: 0.5rem;
      }
      .description {
        // background-color: #bada55;
        font-size: 10px;
        // margin-bottom: 0px;
        // width: auto;
      }
      .post-date {
        // margin-right: 0;
        // padding: 1rem 1.5rem;
        display: none;
      }
    }
  }
  .consultancies {
    // width: calc(100% - 90px);
    .consultancies-wrapper {
      padding-top: 42px;
    }
    .carousel-wrapper {
      // padding: 40px;
    }
    .content-wrapper {
      .main-title {
        font-size: 18px;
      }
      .carousel-tabs {
        li {
          font-size: 14px;
        }
      }
    }

    .content-wrapper .carousel-tabs li {
      margin-right: 0;
    }
  }
}
@media (max-width: 320px) {
  .our-team {
    .team-card {
      margin: 1rem 0;
      // margin: 1rem 23px;
      // width: calc(320px - 60px);
    }
  }
}
</style>
