<template>
  <section
    class="services-page bg-img"
    :style="`background-image: url('${bgServices}')`"
  >
    <div class="service-wrapper">
      <div class="content">
        <div class="header">
          <div class="title">Servicios</div>
          <div class="description">
            Desde búsqueda de empleo, pasando por gestión de talento humano
            hasta asesoría estratégica empresarial, lo tenemos todo para tu
            crecimiento personal y profesional. Nuestros servicios se
            diferencian por la atención personalizada que le brindamos a cada
            uno de nuestros clientes, nos enfocamos en cumplir los objetivos y
            dar más allá de los resultados esperados. En esta sección podrás
            conocer más de todo lo que te ofrecemos en Fast Track Talent
          </div>
        </div>
        <div class="tabslider">
          <div class="slider">
            <hooper ref="carousel" :settings="hooperSettings">
              <slide v-for="(item, i) in tabs" :key="`${item.title}-${i}`">
                <button
                  class="tab-btn"
                  :class="item.id === selectedTab.id ? 'enabled' : ''"
                  @click.stop="tabSelected(item, i)"
                >
                  {{ item.title }}
                </button>
              </slide>
            </hooper>
          </div>
          <div class="tabs">
            <!-- tab__content -->
            <div v-if="selectedTab !== null" class="tab__content">
              <h2 class="tab__title">
                {{ selectedTab.title }}
              </h2>
              <div class="tab__paragraphs">
                <p>
                  {{ selectedTab.content }}
                </p>
                <button class="btn-action" @click="goToContact('desktop')">
                  Estoy Interesado/a
                </button>
              </div>

              <div v-if="selectedTab !== null" class="tab__subtriggers">
                <button class="btn-move" @click="slidePrev()">
                  <img :src="iconPrev" alt="" />
                </button>
                <div class="dots">
                  <button
                    v-for="(item, i) in tabs"
                    :key="`${item.title}-${i}`"
                    :class="item.id === selectedTab.id ? 'enabled' : ''"
                    class="tab__subtrigger"
                    @click="tabSelected(item, i)"
                  ></button>
                </div>
                <button class="btn-move" @click="slideNext()">
                  <img :src="iconNext" alt="" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import bgServices from '@/assets/img/ui-section-services-hd.png'
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css'
import glyph from '@/assets/img/ui-icon-glyph.svg'
import iconNext from '@/assets/img/ui-next.svg'
import iconPrev from '@/assets/img/ui-prev.svg'
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
    Hooper,
    Slide,
  },
  layout: 'home',
  data() {
    return {
      bgServices,
      glyph,
      iconNext,
      iconPrev,
      hooperSettings: {
        infiniteScroll: true,
        // centerMode: true,
        breakpoints: {
          1245: {
            itemsToShow: 3,
          },
          1045: {
            itemsToShow: 2.5,
          },
          991: {
            itemsToShow: 2.25,
          },
          870: {
            itemsToShow: 2,
          },
          792: {
            itemsToShow: 1.5,
          },
          579: {
            itemsToShow: 1.25,
          },
          0: {
            itemsToShow: 1,
          },
        },
      },
    }
  },
  head() {
    return {
      title: 'Conoce nuestros servicios empresariales',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Desde búsqueda de empleo, pasando por gestión de talento humano hasta asesoría estratégica empresarial, lo tenemos todo para tu crecimiento personal y profesional. Nuestros servicios se diferencian por la atención personalizada que le brindamos a cada uno de nuestros clientes, nos enfocamos en cumplir los objetivos y dar más allá de los resultados esperados. En esta sección podrás conocer más de todo lo que te ofrecemos en Fast Track Talent',
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      tabs: 'services/tabs',
      selectedTab: 'services/selectedTab',
    }),
  },
  methods: {
    ...mapActions({
      setSelectedTab: 'services/setSelectedTab',
    }),
    tabSelected(item, i) {
      // this.selectedTab = item
      this.$refs.carousel.slideTo(i)
      this.setSelectedTab(item)
    },
    slidePrev() {
      this.$refs.carousel.slidePrev()
      const index = this.tabs.map((el) => el.id).indexOf(this.selectedTab.id)
      const next = index - 1 < 0 ? 11 : index - 1
      this.setSelectedTab(this.tabs[next])
    },
    slideNext() {
      const index = this.tabs.map((el) => el.id).indexOf(this.selectedTab.id)
      const next = index + 1 === this.tabs.length ? 0 : index + 1
      this.setSelectedTab(this.tabs[next])
      this.$refs.carousel.slideNext()
    },
    goToContact(mode) {
      const el = document.getElementById('contact')
      el.scrollIntoView()
      if (mode !== 'desktop') {
        this.toggleMobileNav()
      }
    },
  },
}
</script>

<style lang="scss">
.services-page {
  min-height: 100vh;
  // padding-bottom: 80px;
  .hooper {
    height: auto !important;
  }
  .hooper-slide {
    height: max-content !important;
    // width: max-content !important;
  }
  .btn-move {
    background-color: #23272f;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-wrapper {
    background: rgba(255, 255, 255, 0.25);
    // height: 100vh;
    max-width: 1270px;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
  }
  .content {
    padding-top: calc(126px + 18px + 107px);
    width: calc(100% - 104px);
    margin: 0 auto;
    padding-bottom: 80px;
  }
  .header {
    margin: 0 auto;
    width: calc(100% - 104px);
    .title {
      font-family: Oswald !important;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    }
    .description {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .tabslider {
    margin-top: 80px;
    .slider {
      margin-bottom: 20px;
      .tab-btn {
        background: rgba(255, 255, 255, 0.5);
        color: #23272f;
        font-family: Roboto !important;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.03em;
        color: #23272f;
        flex: none;
        padding: 7px 38px;
        border-radius: 10px;
        margin: 0 auto;
        width: 370px;
        transition: all 0.5s ease;
        &.enabled {
          color: #82debe;
          background-color: #23272f;
        }
      }
    }
    .tabs {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      padding: 50px 80px 25px;
      // margin-bottom: 80px;
      .tab__title {
        font-family: Roboto !important;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #23272f;
        margin-bottom: 20px;
      }
      .tab__paragraphs {
        font-family: Roboto !important;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #23272f;
      }
      .tab__subtriggers {
        // margin: 50px auto 40px auto;
        margin-top: 50px;
        // margin-bottom: 40px;
        // width: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .tab__subtrigger {
        width: 15px;
        height: 15px;
        background: #23272f;
        border-radius: 100px;
        margin: 0 7.5px;
        transition: all 0.5s ease;
        &.enabled {
          background: linear-gradient(180deg, #82debe 14.58%, #94f899 100%);
        }
      }
      .tab__content {
        min-height: 350px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        .btn-action {
          display: none;
          width: 246px;
          margin-top: 25px;
          @media (max-width: 576px) {
            display: block;
          }
        }
      }
    }
  }
}
.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .services-page {
    // &__content {
    //   margin: 0 auto;
    //   max-width: calc(100% - 140px);
    //   .subtitle {
    //     font-size: 24px;
    //     line-height: 1.5;
    //   }
    // }
    // .main-title {
    //   margin: 0 auto;
    //   max-width: calc(100% - 140px);
    //   font-size: 36px;
    // }
    // .tab {
    //   &__content {
    //     padding: 48px;
    //   }
    // }
  }
}
@media (max-width: 1024px) {
  .services-page {
    .service-wrapper {
      max-width: auto;
      width: calc(100% - 40px);
    }
    .content {
      padding-top: calc(78px + 18px + 72px);
      .header {
        width: calc(100%);
        .title {
          font-size: 36px;
          margin-bottom: 20px;
        }
        .description {
          font-size: 18px;
        }
      }
    }
    .tabslider {
      .tabs {
        padding: 40px 20px 25px;
        .tab__title {
          font-size: 24px;
        }
        .tab__paragraphs {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  // .services-page {
  //   .tab__content {
  //     // padding: 30px;
  //   }
  //   .tab__title {
  //     font-size: 18px;
  //     line-height: 1.5;
  //   }
  //   .tab__paragraphs p {
  //     font-size: 16px;
  //     line-height: 1.5;
  //     letter-spacing: 1px;
  //   }
  //   .tab__trigger {
  //     line-height: 1.5;
  //     min-height: 75px;
  //   }
  // }
}
@media (max-width: 576px) {
  .services-page {
    .service-wrapper {
      width: calc(100% - 24px);
    }
    .content {
      padding-top: calc(78px + 18px + 72px);
      width: calc(100% - 40px);
      .header {
        width: calc(100%);
        .title {
          font-size: 36px;
          margin-bottom: 20px;
        }
        .description {
          font-size: 18px;
        }
      }
      .tabs {
        .tab__subtriggers {
          flex-wrap: wrap;
          justify-content: space-evenly;
          .dots {
            order: 1;
            flex: 0 1 100%;

            display: grid;
            grid-template-columns: repeat(6, auto);
            justify-content: center;
            row-gap: 20px;
            margin-bottom: 40px;
          }
          .btn-move {
            order: 3;
            flex: 0 1 48px;
            &:nth-child(1) {
              order: 2;
            }
            // &:nth-child(2) {
            //   order: 3;
            // }
          }
        }
      }
    }
    .tabslider {
      .slider {
        .tab-btn {
          width: auto;
        }
      }
    }
  }
}
</style>
