<template>
  <!-- Tip -->
  <div class="wizard-tip">
    <div class="wizard-tip__wrapper">
      <img :src="iconInfo" class="icon" alt="" />
      <p class="text">
        {{ content }}
      </p>
    </div>
  </div>
</template>

<script>
import iconInfo from '@/assets/img/ui-icon-info.svg'
export default {
  props: ['content'],
  data() {
    return {
      iconInfo,
    }
  },
}
</script>

<style lang="scss">
.wizard-tip {
  background-color: #f5f5f5;
  padding: 25px 40px;
  max-width: 484px;
  margin: 40px auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  &__wrapper {
    // gap: 20px;
    display: flex;
    align-items: center;
    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }
    .icon {
      width: 24px;
      height: auto;
      margin-right: 20px;
    }
  }
  @media (max-width: 1024px) {
    padding: 15px 20px;
    border-radius: 10px;

    &__wrapper {
      .text {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 991px) {
  }
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  @media (max-width: 576px) {
  }
}
</style>
