<template>
  <div class="wizard-header">
    <button
      class="wizard-header__button"
      title="Volver al home page"
      @click="cancel"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
    <h1 class="wizard-header__title">{{ title }}</h1>
  </div>
</template>

<script>
export default {
  props: ['title'],
  methods: {
    cancel() {
      this.deleteStorage()
      this.$router.push('/')
    },
    deleteStorage() {
      const wizard = this.$route.name.split('-')[0]
      if (wizard === 'profiles') {
        localStorage.removeItem('profilesIdentification')
        localStorage.removeItem('profilesContact')
        localStorage.removeItem('profilesIndustrySector')
        localStorage.removeItem('profilesProducts')
        localStorage.removeItem('profilesRequests')
        localStorage.removeItem('profilesLocations')
        localStorage.removeItem('profilesStudies')
        localStorage.removeItem('profilesSkills')
        localStorage.removeItem('profilesYearsOfExperience')
        localStorage.removeItem('countriesArr')
        localStorage.removeItem('languageLevelsArr')
        localStorage.removeItem('companyActivitiesArr')
        localStorage.removeItem('ageRangesArr')
        localStorage.removeItem('languagesArr')
        localStorage.removeItem('skillsArr')
        localStorage.removeItem('expRangesArr')
        localStorage.removeItem('positionsArr')
      } else {
        localStorage.removeItem('positionsArr')
        localStorage.removeItem('salariesArr')
        localStorage.removeItem('countriesArr')
        localStorage.removeItem('degreesArr')
        localStorage.removeItem('studyTypesArr')
        localStorage.removeItem('languagesArr')
        localStorage.removeItem('languageLevelsArr')
        localStorage.removeItem('interviewContact')
        localStorage.removeItem('interviewPersonalData')
        localStorage.removeItem('interviewSalaryExpectation')
        localStorage.removeItem('interviewStudies')
        localStorage.removeItem('interviewSkills')
        localStorage.removeItem('interviewWorkExperience')
        localStorage.removeItem('interviewExtraData')
      }
    },
  },
}
</script>

<style lang="scss">
$bg-primary: #23272f;
$neutral: #bfbfbf;
.wizard-header {
  position: relative;
  &__title {
    font-family: Oswald !important;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $bg-primary;
  }
  &__button {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 1024px) {
    &__title {
      font-size: 24px;
    }
  }
  @media (max-width: 991px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 576px) {
  }
}
</style>
